
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/attica-5.89.0.tar.xz">attica-5.89.0</a></td>
   <td align="right">67kB</td>
   <td><tt>0e0c644a57562093b48e6057b7ffa0b5ee3a7d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/baloo-5.89.0.tar.xz">baloo-5.89.0</a></td>
   <td align="right">278kB</td>
   <td><tt>34d2a3fa4a14d252457cfe966820448a17f2b9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/bluez-qt-5.89.0.tar.xz">bluez-qt-5.89.0</a></td>
   <td align="right">111kB</td>
   <td><tt>4349db46ee03216ba52c87aa5e6c7ae4f3ca170e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/breeze-icons-5.89.0.tar.xz">breeze-icons-5.89.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1883733ce0909d04bd1fed23ac1029af64a37fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/extra-cmake-modules-5.89.0.tar.xz">extra-cmake-modules-5.89.0</a></td>
   <td align="right">315kB</td>
   <td><tt>2752ea730a803854e1e0e4e08d4334e8afce1566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/frameworkintegration-5.89.0.tar.xz">frameworkintegration-5.89.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>38f62ab674deb801ab468bbe85cd1179fc557aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kactivities-5.89.0.tar.xz">kactivities-5.89.0</a></td>
   <td align="right">72kB</td>
   <td><tt>842ed19f10244f10e8bc86fd3f7fe7a389e82149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kactivities-stats-5.89.0.tar.xz">kactivities-stats-5.89.0</a></td>
   <td align="right">82kB</td>
   <td><tt>7d30080b3702ba86dd38c267e2c8f90aafbca68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kapidox-5.89.0.tar.xz">kapidox-5.89.0</a></td>
   <td align="right">192kB</td>
   <td><tt>a3dd5b23b25eef96aa49e743a637380aaa470648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/karchive-5.89.0.tar.xz">karchive-5.89.0</a></td>
   <td align="right">963kB</td>
   <td><tt>d8a6475a523bfa15220a77077fedf66160954c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kauth-5.89.0.tar.xz">kauth-5.89.0</a></td>
   <td align="right">88kB</td>
   <td><tt>e6abe0f9f8439927d472d7bd3f5e38ef6280cd52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kbookmarks-5.89.0.tar.xz">kbookmarks-5.89.0</a></td>
   <td align="right">126kB</td>
   <td><tt>776986d4f6e39f9de17bea659ba73ffde758f12c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcalendarcore-5.89.0.tar.xz">kcalendarcore-5.89.0</a></td>
   <td align="right">255kB</td>
   <td><tt>d805c02c5f3bd035351341140f5fb16e66cb95b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcmutils-5.89.0.tar.xz">kcmutils-5.89.0</a></td>
   <td align="right">167kB</td>
   <td><tt>3c17e53eeacfd5f2380e29fad06da568d135e4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcodecs-5.89.0.tar.xz">kcodecs-5.89.0</a></td>
   <td align="right">231kB</td>
   <td><tt>c176c34cba49c9431bff042bb13af27b2dc3f968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcompletion-5.89.0.tar.xz">kcompletion-5.89.0</a></td>
   <td align="right">122kB</td>
   <td><tt>a2eea4bf520eb7add261fa934792a2999e8f5f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kconfig-5.89.0.tar.xz">kconfig-5.89.0</a></td>
   <td align="right">271kB</td>
   <td><tt>3ecd0407f95ca1f74dded45078e16f0520dde1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kconfigwidgets-5.89.0.tar.xz">kconfigwidgets-5.89.0</a></td>
   <td align="right">404kB</td>
   <td><tt>d8be3be0942cabd1a888ace97cf5286808807011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcontacts-5.89.0.tar.xz">kcontacts-5.89.0</a></td>
   <td align="right">178kB</td>
   <td><tt>e45d8e2d82b71ff9eb1472682e3a081bdd68c3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcoreaddons-5.89.0.tar.xz">kcoreaddons-5.89.0</a></td>
   <td align="right">434kB</td>
   <td><tt>c9ed2026fd9d717462cabe9e915017c5f7a8f52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kcrash-5.89.0.tar.xz">kcrash-5.89.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9e74949c9ce74ef56ffc13f45a14da9b5acca29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdav-5.89.0.tar.xz">kdav-5.89.0</a></td>
   <td align="right">62kB</td>
   <td><tt>269a1202d67f5fc5d8d23399c769f2ec6ee291b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdbusaddons-5.89.0.tar.xz">kdbusaddons-5.89.0</a></td>
   <td align="right">46kB</td>
   <td><tt>c1cacbb6d4913d465dd5bae7663138820bd798b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdeclarative-5.89.0.tar.xz">kdeclarative-5.89.0</a></td>
   <td align="right">189kB</td>
   <td><tt>55787ca488c0385c111dd29622791a752287c2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kded-5.89.0.tar.xz">kded-5.89.0</a></td>
   <td align="right">38kB</td>
   <td><tt>97f851177691c1a00af48a5113396cd8f47efb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdesu-5.89.0.tar.xz">kdesu-5.89.0</a></td>
   <td align="right">53kB</td>
   <td><tt>41e622a9e691bfb9340c68da9363877386ae428e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdnssd-5.89.0.tar.xz">kdnssd-5.89.0</a></td>
   <td align="right">59kB</td>
   <td><tt>932b884308c8ce0828b5190adeba29a3df1cd7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kdoctools-5.89.0.tar.xz">kdoctools-5.89.0</a></td>
   <td align="right">429kB</td>
   <td><tt>f85d5d6a5bb99c07f36d92a11d0394da7e32ca22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kemoticons-5.89.0.tar.xz">kemoticons-5.89.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a4c5f894243624d5914612b7e72c02e7531b1399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kfilemetadata-5.89.0.tar.xz">kfilemetadata-5.89.0</a></td>
   <td align="right">419kB</td>
   <td><tt>b04e367b8d5a4772209ba59483266cfe7409e0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kglobalaccel-5.89.0.tar.xz">kglobalaccel-5.89.0</a></td>
   <td align="right">88kB</td>
   <td><tt>6732ba1d6c4e600e7fcea27b82dd594713bdad7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kguiaddons-5.89.0.tar.xz">kguiaddons-5.89.0</a></td>
   <td align="right">67kB</td>
   <td><tt>a65bef77e500468f2287226a587b3f4a30640821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kholidays-5.89.0.tar.xz">kholidays-5.89.0</a></td>
   <td align="right">228kB</td>
   <td><tt>d4efa2b6eebef412a20c20a906c6cc73c83f1b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/ki18n-5.89.0.tar.xz">ki18n-5.89.0</a></td>
   <td align="right">934kB</td>
   <td><tt>edbde93222d01ba2151f4dc80a8f801e9633f098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kiconthemes-5.89.0.tar.xz">kiconthemes-5.89.0</a></td>
   <td align="right">220kB</td>
   <td><tt>6d37c901b24f4e198d082f1256403d1e13149282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kidletime-5.89.0.tar.xz">kidletime-5.89.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a4159daa14c5413374c9135f831238b46f408067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kimageformats-5.89.0.tar.xz">kimageformats-5.89.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>05f46049cc199c2bc83a5320f909e6325956f0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kinit-5.89.0.tar.xz">kinit-5.89.0</a></td>
   <td align="right">116kB</td>
   <td><tt>3ca843b7cbdee3ca2ff7741ffbfa4c2775688ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kio-5.89.0.tar.xz">kio-5.89.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5907c789c35c19e9142ec8f6c461d1be0fbaf68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kirigami2-5.89.0.tar.xz">kirigami2-5.89.0</a></td>
   <td align="right">334kB</td>
   <td><tt>cb812f645671559af9d1d2571ba1bfb9c1927f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kitemmodels-5.89.0.tar.xz">kitemmodels-5.89.0</a></td>
   <td align="right">397kB</td>
   <td><tt>49e6b8f8beba0cdff742552aaf0d61034422a058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kitemviews-5.89.0.tar.xz">kitemviews-5.89.0</a></td>
   <td align="right">75kB</td>
   <td><tt>d5eed93f38e6392ebb390657e10f2634fa6000c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kjobwidgets-5.89.0.tar.xz">kjobwidgets-5.89.0</a></td>
   <td align="right">99kB</td>
   <td><tt>0abe2f9ee8a2f533a7f5d692be8d04b77aea579d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/knewstuff-5.89.0.tar.xz">knewstuff-5.89.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>558e9659ad01b12f8fca5ccc7d577af0bcd59cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/knotifications-5.89.0.tar.xz">knotifications-5.89.0</a></td>
   <td align="right">126kB</td>
   <td><tt>bb237166f97b0fbc4a566eae962aa61e53273803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/knotifyconfig-5.89.0.tar.xz">knotifyconfig-5.89.0</a></td>
   <td align="right">85kB</td>
   <td><tt>21e956f63898623de1b596102d41dedac185f38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kpackage-5.89.0.tar.xz">kpackage-5.89.0</a></td>
   <td align="right">137kB</td>
   <td><tt>e13fab3648a3e9de560f6dfbbe66fc5c40c75cb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kparts-5.89.0.tar.xz">kparts-5.89.0</a></td>
   <td align="right">191kB</td>
   <td><tt>046dc7f52a924f5276ba94650868a96b1cb2fe35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kpeople-5.89.0.tar.xz">kpeople-5.89.0</a></td>
   <td align="right">57kB</td>
   <td><tt>226c643936adf0879b46c69bd368b4ea3b971787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kplotting-5.89.0.tar.xz">kplotting-5.89.0</a></td>
   <td align="right">32kB</td>
   <td><tt>5f84ddda1a26f54683bda6426345096f99198215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kpty-5.89.0.tar.xz">kpty-5.89.0</a></td>
   <td align="right">57kB</td>
   <td><tt>0013bff33ad41e85b9286e8096060dcd16a7c09a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kquickcharts-5.89.0.tar.xz">kquickcharts-5.89.0</a></td>
   <td align="right">105kB</td>
   <td><tt>a233d81ac21e25f03e4001af16ab26b1eddc5058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/krunner-5.89.0.tar.xz">krunner-5.89.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a094adb2f3e2cefabaf0911f016921a7e8b27928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kservice-5.89.0.tar.xz">kservice-5.89.0</a></td>
   <td align="right">260kB</td>
   <td><tt>d6f391e4f2325cb31a8c26a0752254a5e6db7668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/ktexteditor-5.89.0.tar.xz">ktexteditor-5.89.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>69255fc9fa8eb39956acb86598464edc587ee671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/ktextwidgets-5.89.0.tar.xz">ktextwidgets-5.89.0</a></td>
   <td align="right">321kB</td>
   <td><tt>4e64203491d9d9b829cc46fd33e00ca1546fe418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kunitconversion-5.89.0.tar.xz">kunitconversion-5.89.0</a></td>
   <td align="right">871kB</td>
   <td><tt>46fa5d8900d20d1b457754d6a8b40d77ff170e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kwallet-5.89.0.tar.xz">kwallet-5.89.0</a></td>
   <td align="right">298kB</td>
   <td><tt>a75e211a02b27a6bf01532a829b699afcd7acc63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kwayland-5.89.0.tar.xz">kwayland-5.89.0</a></td>
   <td align="right">326kB</td>
   <td><tt>000b7abad8148dd8884e9afc27961d3aeaecd1fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kwidgetsaddons-5.89.0.tar.xz">kwidgetsaddons-5.89.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dcf60eed803beea593dc3a06e9c3ca9aadc8b005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kwindowsystem-5.89.0.tar.xz">kwindowsystem-5.89.0</a></td>
   <td align="right">177kB</td>
   <td><tt>a4d8722e70dc005220009c546ebf3db0c7749f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/kxmlgui-5.89.0.tar.xz">kxmlgui-5.89.0</a></td>
   <td align="right">866kB</td>
   <td><tt>60dab71365fe7f38e4aa7b37c57ce3681d01bb97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/modemmanager-qt-5.89.0.tar.xz">modemmanager-qt-5.89.0</a></td>
   <td align="right">118kB</td>
   <td><tt>61e828eec83dd4900b4a023161dbd1c4c7135e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/networkmanager-qt-5.89.0.tar.xz">networkmanager-qt-5.89.0</a></td>
   <td align="right">193kB</td>
   <td><tt>50fdccacb41e01c4eabfb9d83017f6179d3d92b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/oxygen-icons5-5.89.0.tar.xz">oxygen-icons5-5.89.0</a></td>
   <td align="right">227MB</td>
   <td><tt>d33a45c22ec3aec7b7963f5540b1a8b01984c07c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/plasma-framework-5.89.0.tar.xz">plasma-framework-5.89.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9d0917e15a3761b6fcb4c9dc0ac13fe111c75a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/prison-5.89.0.tar.xz">prison-5.89.0</a></td>
   <td align="right">46kB</td>
   <td><tt>e564815308b672eb21381581677e0376c788648f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/purpose-5.89.0.tar.xz">purpose-5.89.0</a></td>
   <td align="right">164kB</td>
   <td><tt>506450e863b08d245a8999b47ba372ebdb08ebf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/qqc2-desktop-style-5.89.0.tar.xz">qqc2-desktop-style-5.89.0</a></td>
   <td align="right">63kB</td>
   <td><tt>d1d053b599cb97509abe13ff492bf20b7cdb988c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/solid-5.89.0.tar.xz">solid-5.89.0</a></td>
   <td align="right">250kB</td>
   <td><tt>7c6d289bc1e8ef5a01f3f8c63ae5eb52e9ee2628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/sonnet-5.89.0.tar.xz">sonnet-5.89.0</a></td>
   <td align="right">300kB</td>
   <td><tt>abf8b36b4b5982a406d8a8ea0447a839161be3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/syndication-5.89.0.tar.xz">syndication-5.89.0</a></td>
   <td align="right">498kB</td>
   <td><tt>6e9e52affa7709255683148e5ac3f452fb7fe290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/syntax-highlighting-5.89.0.tar.xz">syntax-highlighting-5.89.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e12c8370af513499013b2c0f380f04c9d1654b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.89/threadweaver-5.89.0.tar.xz">threadweaver-5.89.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>05017e3d43d7dbccbeec3fcc3f3e23a46fcc75ed</tt></td>
</tr>

</table>
