<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-23.04.1.tar.xz">akonadi-23.04.1</a></td>
   <td align="right">1628kB</td>
   <td><tt>f63a699a4141770b3795170aa3d22b5313a5aff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-calendar-23.04.1.tar.xz">akonadi-calendar-23.04.1</a></td>
   <td align="right">401kB</td>
   <td><tt>5ab0d1db880e8f2416196c700754435a52001ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-calendar-tools-23.04.1.tar.xz">akonadi-calendar-tools-23.04.1</a></td>
   <td align="right">248kB</td>
   <td><tt>f82709108feca900c9bd676b2c3fff8a930cae99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadiconsole-23.04.1.tar.xz">akonadiconsole-23.04.1</a></td>
   <td align="right">267kB</td>
   <td><tt>868e3ae14808f7df26d046edf690e5b93ff59c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-contacts-23.04.1.tar.xz">akonadi-contacts-23.04.1</a></td>
   <td align="right">432kB</td>
   <td><tt>4dacfe01fe0f531214982d752f4f0fbcbb760d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-import-wizard-23.04.1.tar.xz">akonadi-import-wizard-23.04.1</a></td>
   <td align="right">502kB</td>
   <td><tt>f5d2282f4ccbb0f40d3bffbed248c8ddc28b4abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-mime-23.04.1.tar.xz">akonadi-mime-23.04.1</a></td>
   <td align="right">151kB</td>
   <td><tt>f2472c05f5974e53eeaec09c5565d53c165fd1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-notes-23.04.1.tar.xz">akonadi-notes-23.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>ca3cc0f2ee8f65bd04fdc5af6143c7f39badfb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akonadi-search-23.04.1.tar.xz">akonadi-search-23.04.1</a></td>
   <td align="right">99kB</td>
   <td><tt>9fd8b56d2bfafa85d2d0f00a588af8cf004afe6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/akregator-23.04.1.tar.xz">akregator-23.04.1</a></td>
   <td align="right">2269kB</td>
   <td><tt>446477da5fd19dd0167e00cb4289c2e74348a8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/alligator-23.04.1.tar.xz">alligator-23.04.1</a></td>
   <td align="right">184kB</td>
   <td><tt>804b4c49fed3187011f16c3e85049124655dd826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/analitza-23.04.1.tar.xz">analitza-23.04.1</a></td>
   <td align="right">344kB</td>
   <td><tt>91c52981c7837e39d51ee5bb222a1cea069b6838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/angelfish-23.04.1.tar.xz">angelfish-23.04.1</a></td>
   <td align="right">239kB</td>
   <td><tt>31a0f49b75ba39518b8ae5281fff0df98d1e382b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ark-23.04.1.tar.xz">ark-23.04.1</a></td>
   <td align="right">2940kB</td>
   <td><tt>d3eb50cdb3a9648c52335663fa31b36b5189ffd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/artikulate-23.04.1.tar.xz">artikulate-23.04.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>365dfc20d61e69c9c0892a20573b04714edcf24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/audiocd-kio-23.04.1.tar.xz">audiocd-kio-23.04.1</a></td>
   <td align="right">549kB</td>
   <td><tt>d9574261b3ba6f73dc103fdc5a12a551a0d19393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/audiotube-23.04.1.tar.xz">audiotube-23.04.1</a></td>
   <td align="right">107kB</td>
   <td><tt>a37b72d6ac2fb67fbe787779663be4a1b1193869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/baloo-widgets-23.04.1.tar.xz">baloo-widgets-23.04.1</a></td>
   <td align="right">269kB</td>
   <td><tt>5e4893a592cca9990b07e8b5a284da51a74d7cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/blinken-23.04.1.tar.xz">blinken-23.04.1</a></td>
   <td align="right">2659kB</td>
   <td><tt>bbf76cbdb592a41d63c241155f902ebc3d2ad5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/bomber-23.04.1.tar.xz">bomber-23.04.1</a></td>
   <td align="right">818kB</td>
   <td><tt>2a438b07e914d4162c0c7308f3e610897fa92432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/bovo-23.04.1.tar.xz">bovo-23.04.1</a></td>
   <td align="right">209kB</td>
   <td><tt>a6148e2654c5ef8ab0ea54763ab510e2180789ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/calendarsupport-23.04.1.tar.xz">calendarsupport-23.04.1</a></td>
   <td align="right">965kB</td>
   <td><tt>c01a94963241134f8badcdc5aa7562aea7bc0b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/calindori-23.04.1.tar.xz">calindori-23.04.1</a></td>
   <td align="right">372kB</td>
   <td><tt>58ed13435b8f80345aca35c9bb2ae4dd6c5be839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/cantor-23.04.1.tar.xz">cantor-23.04.1</a></td>
   <td align="right">9049kB</td>
   <td><tt>c27440256efb92bd1bb65f58dbcb7111b2d32fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/cervisia-23.04.1.tar.xz">cervisia-23.04.1</a></td>
   <td align="right">1899kB</td>
   <td><tt>f3de90c98b75f7c4399ce9b86fe46a0fb8364ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/colord-kde-23.04.1.tar.xz">colord-kde-23.04.1</a></td>
   <td align="right">104kB</td>
   <td><tt>e637dc513f4962bdb39426cc6681dedcc1d0521f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/dolphin-23.04.1.tar.xz">dolphin-23.04.1</a></td>
   <td align="right">5601kB</td>
   <td><tt>470e188098067f5fe9c14f17d9b13bc1fef22539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/dolphin-plugins-23.04.1.tar.xz">dolphin-plugins-23.04.1</a></td>
   <td align="right">266kB</td>
   <td><tt>42f25ae14fdce2148cb63df3e2c4f21bda125ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/dragon-23.04.1.tar.xz">dragon-23.04.1</a></td>
   <td align="right">1629kB</td>
   <td><tt>545fda05f578583ba0e731d2c51f44b7ce05102f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/elisa-23.04.1.tar.xz">elisa-23.04.1</a></td>
   <td align="right">1767kB</td>
   <td><tt>ae6d6018ed998bf6913d2a328c61025eb1afe444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/eventviews-23.04.1.tar.xz">eventviews-23.04.1</a></td>
   <td align="right">453kB</td>
   <td><tt>68d2d9fa80037d77736ea85ac526e53d922242b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/falkon-23.04.1.tar.xz">falkon-23.04.1</a></td>
   <td align="right">2493kB</td>
   <td><tt>f96f79edae9d3b96397a59e76c8c21d1ed7bb1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ffmpegthumbs-23.04.1.tar.xz">ffmpegthumbs-23.04.1</a></td>
   <td align="right">31kB</td>
   <td><tt>fb26cacdb86d62c2e171122eba167be6e8562e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/filelight-23.04.1.tar.xz">filelight-23.04.1</a></td>
   <td align="right">679kB</td>
   <td><tt>f3a2e8451a762212c760fed203eb866581906c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ghostwriter-23.04.1.tar.xz">ghostwriter-23.04.1</a></td>
   <td align="right">3000kB</td>
   <td><tt>7478607b47e77f02fb516570627b38c02a15d15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/granatier-23.04.1.tar.xz">granatier-23.04.1</a></td>
   <td align="right">2063kB</td>
   <td><tt>f64768d6070c84ec84a9deefefce39e3e33c789b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/grantlee-editor-23.04.1.tar.xz">grantlee-editor-23.04.1</a></td>
   <td align="right">114kB</td>
   <td><tt>6d15fd336a20bd94024c915e3e725b1056c3cb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/grantleetheme-23.04.1.tar.xz">grantleetheme-23.04.1</a></td>
   <td align="right">61kB</td>
   <td><tt>1942da2c37f48b1b4785f2f733086204f530b17d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/gwenview-23.04.1.tar.xz">gwenview-23.04.1</a></td>
   <td align="right">6730kB</td>
   <td><tt>daa17e58d7c99ba6109f7705fbe2439cf83286f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/incidenceeditor-23.04.1.tar.xz">incidenceeditor-23.04.1</a></td>
   <td align="right">556kB</td>
   <td><tt>52f412c1fecf2e64b5eb95235458b5338c7c6596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/itinerary-23.04.1.tar.xz">itinerary-23.04.1</a></td>
   <td align="right">567kB</td>
   <td><tt>ac70a9169e4b54f00541e1ed8b7b069dcee23c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/juk-23.04.1.tar.xz">juk-23.04.1</a></td>
   <td align="right">2031kB</td>
   <td><tt>bcf7752ebe3e1ee61af05ef83c29cd46f0f81757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/k3b-23.04.1.tar.xz">k3b-23.04.1</a></td>
   <td align="right">10693kB</td>
   <td><tt>4579f69afe58a968f38847fdda830a5398808e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kaccounts-integration-23.04.1.tar.xz">kaccounts-integration-23.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>8643acac3dea2a66c11bca8d477b46bdc1a49f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kaccounts-providers-23.04.1.tar.xz">kaccounts-providers-23.04.1</a></td>
   <td align="right">64kB</td>
   <td><tt>edf6f8d5d8921368b950b31b97a6c016f7002182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kaddressbook-23.04.1.tar.xz">kaddressbook-23.04.1</a></td>
   <td align="right">3377kB</td>
   <td><tt>d72df1093937373b004b10901ed601d058d560d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kajongg-23.04.1.tar.xz">kajongg-23.04.1</a></td>
   <td align="right">4470kB</td>
   <td><tt>ba5bcc3dddf15bc73333090d264f73032f90a3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kalarm-23.04.1.tar.xz">kalarm-23.04.1</a></td>
   <td align="right">2525kB</td>
   <td><tt>8c8fd98adaddfd71bb5c61838c3140de5883ba03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kalendar-23.04.1.tar.xz">kalendar-23.04.1</a></td>
   <td align="right">803kB</td>
   <td><tt>28e1fa4bb8238a5bab7445e40b8a9f1625936040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kalgebra-23.04.1.tar.xz">kalgebra-23.04.1</a></td>
   <td align="right">1012kB</td>
   <td><tt>4f53a7c517ae26fc22cf93c56289efb4d8b3c8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kalk-23.04.1.tar.xz">kalk-23.04.1</a></td>
   <td align="right">81kB</td>
   <td><tt>267602d7551323e0498676e6c55e764dd6f30d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kalzium-23.04.1.tar.xz">kalzium-23.04.1</a></td>
   <td align="right">24064kB</td>
   <td><tt>e97085578b8d481a1857de34b7272a3723588001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kamera-23.04.1.tar.xz">kamera-23.04.1</a></td>
   <td align="right">126kB</td>
   <td><tt>2c85c71cad0b56813272443f17e059bd1638d10e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kamoso-23.04.1.tar.xz">kamoso-23.04.1</a></td>
   <td align="right">226kB</td>
   <td><tt>e86b59fb642f300800430016cfaefa1d36291c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kanagram-23.04.1.tar.xz">kanagram-23.04.1</a></td>
   <td align="right">7873kB</td>
   <td><tt>6308015cbf5d3a6f9fe09d5b48a1813c2e96dfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kapman-23.04.1.tar.xz">kapman-23.04.1</a></td>
   <td align="right">2422kB</td>
   <td><tt>c6b934de9c55f7276a5d712a1be69617c62081b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kapptemplate-23.04.1.tar.xz">kapptemplate-23.04.1</a></td>
   <td align="right">330kB</td>
   <td><tt>e0cd187d9d5c4e7d6ce351024de947ec7b3124d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kasts-23.04.1.tar.xz">kasts-23.04.1</a></td>
   <td align="right">530kB</td>
   <td><tt>d3795c9a48a506f68152315cdda0bbb99944a290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kate-23.04.1.tar.xz">kate-23.04.1</a></td>
   <td align="right">7797kB</td>
   <td><tt>58af08bea548daa18cef4524d5d598edfac6e1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/katomic-23.04.1.tar.xz">katomic-23.04.1</a></td>
   <td align="right">1417kB</td>
   <td><tt>8b753ff9dcf5fc8362ef42f488e49e8d032454d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kbackup-23.04.1.tar.xz">kbackup-23.04.1</a></td>
   <td align="right">387kB</td>
   <td><tt>0d25b49223bbfc4020b4fbbd491e41bffd347f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kblackbox-23.04.1.tar.xz">kblackbox-23.04.1</a></td>
   <td align="right">537kB</td>
   <td><tt>02ac2ca6575ed093300d8757ecdba6899988a764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kblocks-23.04.1.tar.xz">kblocks-23.04.1</a></td>
   <td align="right">2058kB</td>
   <td><tt>62dd20443eff4d7a6b095bcd10d594ed1af6cebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kbounce-23.04.1.tar.xz">kbounce-23.04.1</a></td>
   <td align="right">3460kB</td>
   <td><tt>2f62f2a1621d694c9707b6dc4b3aafb7d357b9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kbreakout-23.04.1.tar.xz">kbreakout-23.04.1</a></td>
   <td align="right">2499kB</td>
   <td><tt>14b6c8cc8507cae559287939ab597263237bdb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kbruch-23.04.1.tar.xz">kbruch-23.04.1</a></td>
   <td align="right">5523kB</td>
   <td><tt>8ec4930e97cf662cb24869029ba0974796c226cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcachegrind-23.04.1.tar.xz">kcachegrind-23.04.1</a></td>
   <td align="right">896kB</td>
   <td><tt>626b8da6e200e8449ea475fbb5c97f9c059e0b4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcalc-23.04.1.tar.xz">kcalc-23.04.1</a></td>
   <td align="right">426kB</td>
   <td><tt>e31fd253aea3e0cc66ad4c79bbb37da7be71701c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcalutils-23.04.1.tar.xz">kcalutils-23.04.1</a></td>
   <td align="right">350kB</td>
   <td><tt>64806f3b22064d1a15a8cec0f6707476eef36718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcharselect-23.04.1.tar.xz">kcharselect-23.04.1</a></td>
   <td align="right">373kB</td>
   <td><tt>8b8e0cc6c4d5a0f3abd1252daca87388aef0a0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kclock-23.04.1.tar.xz">kclock-23.04.1</a></td>
   <td align="right">709kB</td>
   <td><tt>4907d64c2f5700fbf0142c028f1e86d3950ae298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcolorchooser-23.04.1.tar.xz">kcolorchooser-23.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>b68932ac7099159ba952161fc1e04853cc89c4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kcron-23.04.1.tar.xz">kcron-23.04.1</a></td>
   <td align="right">921kB</td>
   <td><tt>7e26e08630b27b80d5f5b7b72d789e6ab19870bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdebugsettings-23.04.1.tar.xz">kdebugsettings-23.04.1</a></td>
   <td align="right">95kB</td>
   <td><tt>4768f4b3ba902959074fa2b96e6b58a1b25812d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdeconnect-kde-23.04.1.tar.xz">kdeconnect-kde-23.04.1</a></td>
   <td align="right">634kB</td>
   <td><tt>a8624081884de90f66a8e20b07461756064833b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kde-dev-scripts-23.04.1.tar.xz">kde-dev-scripts-23.04.1</a></td>
   <td align="right">364kB</td>
   <td><tt>bc470ebd85d190d7bf14a668773a712f71cc873b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kde-dev-utils-23.04.1.tar.xz">kde-dev-utils-23.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>bca09033b6e8652aa8c7799a4ca089a89e67ea99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdeedu-data-23.04.1.tar.xz">kdeedu-data-23.04.1</a></td>
   <td align="right">325kB</td>
   <td><tt>59778a6564c3dcef8c3e5413de7ead0bb34b323c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdegraphics-mobipocket-23.04.1.tar.xz">kdegraphics-mobipocket-23.04.1</a></td>
   <td align="right">12kB</td>
   <td><tt>b3964c0b23a07dda38139a16ea5d7c351da777a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdegraphics-thumbnailers-23.04.1.tar.xz">kdegraphics-thumbnailers-23.04.1</a></td>
   <td align="right">48kB</td>
   <td><tt>8f46651f6f23f40033ad988caf04d06af0d13ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kde-inotify-survey-23.04.1.tar.xz">kde-inotify-survey-23.04.1</a></td>
   <td align="right">222kB</td>
   <td><tt>0d57252e05eeb6e7d563ab8fd1a134d7782d41b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdenetwork-filesharing-23.04.1.tar.xz">kdenetwork-filesharing-23.04.1</a></td>
   <td align="right">460kB</td>
   <td><tt>c704f721712bceacf223703226801840e9437d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdenlive-23.04.1.tar.xz">kdenlive-23.04.1</a></td>
   <td align="right">12284kB</td>
   <td><tt>629c01c8942164fbb6c53e910f1d700c9004810d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdepim-addons-23.04.1.tar.xz">kdepim-addons-23.04.1</a></td>
   <td align="right">2586kB</td>
   <td><tt>bcb8d2d33ce5f72711ea2cd0533513934fe3667c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdepim-runtime-23.04.1.tar.xz">kdepim-runtime-23.04.1</a></td>
   <td align="right">1819kB</td>
   <td><tt>f34634a6568591f4879a3dc8b095a8300cf93b68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdesdk-kio-23.04.1.tar.xz">kdesdk-kio-23.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>fbd3e83fc7579c9e5fd7dcd96fa61bf84958f284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdesdk-thumbnailers-23.04.1.tar.xz">kdesdk-thumbnailers-23.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>1667072dc360ef67f73698ce5baf533f768369c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdevelop-23.04.1.tar.xz">kdevelop-23.04.1</a></td>
   <td align="right">8457kB</td>
   <td><tt>e9f3daeb621bfddda2811bc481590bdceabc7169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdev-php-23.04.1.tar.xz">kdev-php-23.04.1</a></td>
   <td align="right">1060kB</td>
   <td><tt>09305d09de9a83478a605ae1ed79888b9becb4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdev-python-23.04.1.tar.xz">kdev-python-23.04.1</a></td>
   <td align="right">1070kB</td>
   <td><tt>a23d1bd01e01ea05fe8dd9565c9c16d4a3ff1d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdf-23.04.1.tar.xz">kdf-23.04.1</a></td>
   <td align="right">480kB</td>
   <td><tt>c4df9fb9c51f67137c2a1de73e4a570c0b1c8362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdialog-23.04.1.tar.xz">kdialog-23.04.1</a></td>
   <td align="right">138kB</td>
   <td><tt>e60623f784893c6e840e12c7c9a4acbe968988dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kdiamond-23.04.1.tar.xz">kdiamond-23.04.1</a></td>
   <td align="right">4598kB</td>
   <td><tt>4989eb91c09c5c80c9ff44a8cc15a519c0f031e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/keditbookmarks-23.04.1.tar.xz">keditbookmarks-23.04.1</a></td>
   <td align="right">233kB</td>
   <td><tt>c50c3a42ab764164ca40955e1bbbbdb461d102a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/keysmith-23.04.1.tar.xz">keysmith-23.04.1</a></td>
   <td align="right">157kB</td>
   <td><tt>4ac7f8d0a5559bd744f4ad56f4884d26f827a76f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kfind-23.04.1.tar.xz">kfind-23.04.1</a></td>
   <td align="right">334kB</td>
   <td><tt>6c9fcd3d4cb51b577fca1f747f804179f20508d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kfloppy-23.04.1.tar.xz">kfloppy-23.04.1</a></td>
   <td align="right">239kB</td>
   <td><tt>aba5f53913906d020c677b5ef6e14ae111ef4cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kfourinline-23.04.1.tar.xz">kfourinline-23.04.1</a></td>
   <td align="right">722kB</td>
   <td><tt>9c7a8dca67fff7fe55dfd40348dc0fbfca8cbdde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kgeography-23.04.1.tar.xz">kgeography-23.04.1</a></td>
   <td align="right">12257kB</td>
   <td><tt>32e263a6143ae4b6f187ba8f8dd888f4de059090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kget-23.04.1.tar.xz">kget-23.04.1</a></td>
   <td align="right">5430kB</td>
   <td><tt>3ca4653a80910c43874e6694f0486e86b52e084f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kgoldrunner-23.04.1.tar.xz">kgoldrunner-23.04.1</a></td>
   <td align="right">4789kB</td>
   <td><tt>8bbe6dc0ed22a87fedf11c33c88a043c3e0d6bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kgpg-23.04.1.tar.xz">kgpg-23.04.1</a></td>
   <td align="right">2972kB</td>
   <td><tt>f9d465639d19fab183e2502835a57718c89917a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/khangman-23.04.1.tar.xz">khangman-23.04.1</a></td>
   <td align="right">7266kB</td>
   <td><tt>668e126c061e2e7221caba200eb9b76f41a8d84c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/khelpcenter-23.04.1.tar.xz">khelpcenter-23.04.1</a></td>
   <td align="right">4266kB</td>
   <td><tt>236a4a027324df8d06d91d834718e4e5ce1ea620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kidentitymanagement-23.04.1.tar.xz">kidentitymanagement-23.04.1</a></td>
   <td align="right">160kB</td>
   <td><tt>59d4279b153b4be3950f2b275eae6bc0874f5716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kig-23.04.1.tar.xz">kig-23.04.1</a></td>
   <td align="right">3204kB</td>
   <td><tt>bac8689cae1a57b15104077a8b1d8783d8d313d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kigo-23.04.1.tar.xz">kigo-23.04.1</a></td>
   <td align="right">5141kB</td>
   <td><tt>b82fe7b08439b2ed4dcdf9cd6f0a3edcc392fc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/killbots-23.04.1.tar.xz">killbots-23.04.1</a></td>
   <td align="right">1173kB</td>
   <td><tt>562a7dbac4162b37c81ab048c0cd8756b17bb227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kimagemapeditor-23.04.1.tar.xz">kimagemapeditor-23.04.1</a></td>
   <td align="right">1077kB</td>
   <td><tt>cfb7922a9a3d3d079f9e3eca5c10e73cc37b16c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kimap-23.04.1.tar.xz">kimap-23.04.1</a></td>
   <td align="right">127kB</td>
   <td><tt>37e3535434a3b5fa843da9b7aa7ff8b1c669e067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kio-admin-23.04.1.tar.xz">kio-admin-23.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>0f0b4f53652289b745945709806238688dc9d6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kio-extras-23.04.1.tar.xz">kio-extras-23.04.1</a></td>
   <td align="right">1392kB</td>
   <td><tt>a9b136170725114bd0f2e6283c0055ec73f7eec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kio-gdrive-23.04.1.tar.xz">kio-gdrive-23.04.1</a></td>
   <td align="right">77kB</td>
   <td><tt>19525069ac382dae7a7fe6d70129d3ac723e00ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kio-zeroconf-23.04.1.tar.xz">kio-zeroconf-23.04.1</a></td>
   <td align="right">43kB</td>
   <td><tt>2f7393d2becf562d39239a24bc0bf1bf595d97c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kipi-plugins-23.04.1.tar.xz">kipi-plugins-23.04.1</a></td>
   <td align="right">1527kB</td>
   <td><tt>28a71ac6c2012c4eeaa57d883cac5a547b5702a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kirigami-gallery-23.04.1.tar.xz">kirigami-gallery-23.04.1</a></td>
   <td align="right">342kB</td>
   <td><tt>7148a1773979938d9bfed6ee0d07191dbe606e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kiriki-23.04.1.tar.xz">kiriki-23.04.1</a></td>
   <td align="right">361kB</td>
   <td><tt>8b4497d8e4e196d61a9936dc4f64ce477f901aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kiten-23.04.1.tar.xz">kiten-23.04.1</a></td>
   <td align="right">11068kB</td>
   <td><tt>9200b99069ae9295512f63a50cb112f8780dcd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kitinerary-23.04.1.tar.xz">kitinerary-23.04.1</a></td>
   <td align="right">1714kB</td>
   <td><tt>d9289319d404bc239e43ca3d8193146498c89070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kjournald-23.04.1.tar.xz">kjournald-23.04.1</a></td>
   <td align="right">501kB</td>
   <td><tt>c9131118e968cecf2fecfb796915533c4566e334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kjumpingcube-23.04.1.tar.xz">kjumpingcube-23.04.1</a></td>
   <td align="right">328kB</td>
   <td><tt>40a3c0fa823d3e097833b07a0e3ba9db9b650fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kldap-23.04.1.tar.xz">kldap-23.04.1</a></td>
   <td align="right">178kB</td>
   <td><tt>88db46751cecbb0d903031f9ed87e9bdb2a2dfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kleopatra-23.04.1.tar.xz">kleopatra-23.04.1</a></td>
   <td align="right">2560kB</td>
   <td><tt>5ab6bb5da1ec0380183acf3b2d3cbb2f518b3237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/klettres-23.04.1.tar.xz">klettres-23.04.1</a></td>
   <td align="right">46718kB</td>
   <td><tt>35447fd375eb142953000338e23d19f02e6e0709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/klickety-23.04.1.tar.xz">klickety-23.04.1</a></td>
   <td align="right">1464kB</td>
   <td><tt>a4b72071881f16e4d7751ddaefdc9720c28f47f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/klines-23.04.1.tar.xz">klines-23.04.1</a></td>
   <td align="right">1697kB</td>
   <td><tt>5ec210b62e1bdb57800bc92e6a8d6ab148d4bed5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmag-23.04.1.tar.xz">kmag-23.04.1</a></td>
   <td align="right">707kB</td>
   <td><tt>17e4bc2dd5161a5285de7696a0ee491c660d0099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmahjongg-23.04.1.tar.xz">kmahjongg-23.04.1</a></td>
   <td align="right">4000kB</td>
   <td><tt>58d7870f84bb16a04db23f4e2de3492355d7fb6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmail-23.04.1.tar.xz">kmail-23.04.1</a></td>
   <td align="right">7466kB</td>
   <td><tt>9700253c091ba1daab16617d2e9e0fd7e5724ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmail-account-wizard-23.04.1.tar.xz">kmail-account-wizard-23.04.1</a></td>
   <td align="right">180kB</td>
   <td><tt>1e02644be3da4e5fdcf1f4fb4a610896a0e2dca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmailtransport-23.04.1.tar.xz">kmailtransport-23.04.1</a></td>
   <td align="right">187kB</td>
   <td><tt>e0f8f04243fcc0c969f990bb5ea3a1ea5ccd2fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmbox-23.04.1.tar.xz">kmbox-23.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>5c6449cf938c1d255204e32ee7a80f92ccc05368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmime-23.04.1.tar.xz">kmime-23.04.1</a></td>
   <td align="right">158kB</td>
   <td><tt>9620a5a94f380f8659cce149371fde2c1dfe0638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmines-23.04.1.tar.xz">kmines-23.04.1</a></td>
   <td align="right">985kB</td>
   <td><tt>0044233036915ac06624ceeba08d210cc39224cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmix-23.04.1.tar.xz">kmix-23.04.1</a></td>
   <td align="right">1168kB</td>
   <td><tt>bf9a90aad8f2cb5729fa6eed4ce6806f88228e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmousetool-23.04.1.tar.xz">kmousetool-23.04.1</a></td>
   <td align="right">126kB</td>
   <td><tt>22d41ade7df8cf5caa5eb22eeec65d5465dcc759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmouth-23.04.1.tar.xz">kmouth-23.04.1</a></td>
   <td align="right">2038kB</td>
   <td><tt>07235ae732dce292b354de789b23277f3fbc7213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kmplot-23.04.1.tar.xz">kmplot-23.04.1</a></td>
   <td align="right">3027kB</td>
   <td><tt>722875b56115405fc1fd7e14312a7e6d381bda00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/knavalbattle-23.04.1.tar.xz">knavalbattle-23.04.1</a></td>
   <td align="right">1368kB</td>
   <td><tt>89d0a656288cd79151079ebc919d10550b92c94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/knetwalk-23.04.1.tar.xz">knetwalk-23.04.1</a></td>
   <td align="right">1078kB</td>
   <td><tt>2e229f91570d9b81365c4de4b80d109689e6f879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/knights-23.04.1.tar.xz">knights-23.04.1</a></td>
   <td align="right">3251kB</td>
   <td><tt>79974d45b19cdf2bba23868a6a610967da7a5ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/knotes-23.04.1.tar.xz">knotes-23.04.1</a></td>
   <td align="right">366kB</td>
   <td><tt>f2d946b37f5570e7a205864b8f97cbedcf631711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/koko-23.04.1.tar.xz">koko-23.04.1</a></td>
   <td align="right">134kB</td>
   <td><tt>30dc4e62b936deb426cddd0b1e3006cd009b2a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kolf-23.04.1.tar.xz">kolf-23.04.1</a></td>
   <td align="right">1048kB</td>
   <td><tt>7d97889e3397ba3c82d9f6a6b1cbf6419e1a5fae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kollision-23.04.1.tar.xz">kollision-23.04.1</a></td>
   <td align="right">299kB</td>
   <td><tt>8d1bcc9e0c0452e929c9ea2a3eff050a606aff33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kolourpaint-23.04.1.tar.xz">kolourpaint-23.04.1</a></td>
   <td align="right">5649kB</td>
   <td><tt>74f8f6e0a3f80d9c51f61965154e9e349f3dde41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kompare-23.04.1.tar.xz">kompare-23.04.1</a></td>
   <td align="right">959kB</td>
   <td><tt>b9cb4f43def826b56944b254ab45d9f01a8d2951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kongress-23.04.1.tar.xz">kongress-23.04.1</a></td>
   <td align="right">574kB</td>
   <td><tt>b0111229b4818099be2997e25ebfb2de240b86c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/konqueror-23.04.1.tar.xz">konqueror-23.04.1</a></td>
   <td align="right">8292kB</td>
   <td><tt>65acdcd0f965c1c867f5513fc10c1f7cf9d82d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/konquest-23.04.1.tar.xz">konquest-23.04.1</a></td>
   <td align="right">855kB</td>
   <td><tt>a4cf7ee9c85e94aae6eaa1f2c32a4b43d52d3841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/konsole-23.04.1.tar.xz">konsole-23.04.1</a></td>
   <td align="right">1774kB</td>
   <td><tt>3902eb192cc23b4790a106c415836181f8f8c504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kontact-23.04.1.tar.xz">kontact-23.04.1</a></td>
   <td align="right">851kB</td>
   <td><tt>b53dd95bfb92b60f651336a2ac7cfa99bb52e8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kontactinterface-23.04.1.tar.xz">kontactinterface-23.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>3b560e6a484dabc725d96aa82ce9e42a44b97c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kontrast-23.04.1.tar.xz">kontrast-23.04.1</a></td>
   <td align="right">200kB</td>
   <td><tt>1a4f00c83221344cc1bdbcc019042d886936815c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/konversation-23.04.1.tar.xz">konversation-23.04.1</a></td>
   <td align="right">4350kB</td>
   <td><tt>aed960596b5c8a797911d7947dbb1893da86efc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kopeninghours-23.04.1.tar.xz">kopeninghours-23.04.1</a></td>
   <td align="right">70kB</td>
   <td><tt>af23e4b417d76fd2394558a805915a4fe7484a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kopete-23.04.1.tar.xz">kopete-23.04.1</a></td>
   <td align="right">9907kB</td>
   <td><tt>5c1a817136a95bb51c6881094e1a002e3af053e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/korganizer-23.04.1.tar.xz">korganizer-23.04.1</a></td>
   <td align="right">2477kB</td>
   <td><tt>9ac337ad46475cc33220b40642a68b38560c8b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kosmindoormap-23.04.1.tar.xz">kosmindoormap-23.04.1</a></td>
   <td align="right">366kB</td>
   <td><tt>3ce58c94a829276da61764399dab97a5c1e2d537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kpat-23.04.1.tar.xz">kpat-23.04.1</a></td>
   <td align="right">3663kB</td>
   <td><tt>920b2f7b9fd5395db53747b4267ec0d312fd4410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kpimtextedit-23.04.1.tar.xz">kpimtextedit-23.04.1</a></td>
   <td align="right">213kB</td>
   <td><tt>cb7e8a5cbb6fd1fc86d42dd0d33cb59f3b40ecba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kpkpass-23.04.1.tar.xz">kpkpass-23.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>27161e61b73e9545bcda5d829ede101353dd74ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kpmcore-23.04.1.tar.xz">kpmcore-23.04.1</a></td>
   <td align="right">608kB</td>
   <td><tt>937eaeabcb856d8feb40b73a4bcb894655d731eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kpublictransport-23.04.1.tar.xz">kpublictransport-23.04.1</a></td>
   <td align="right">522kB</td>
   <td><tt>bd4679ed951fdc4654b996d2a1f7171075f6308c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kqtquickcharts-23.04.1.tar.xz">kqtquickcharts-23.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>02e29f3124f5d27e82cbcc729219d83197fe3432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/krdc-23.04.1.tar.xz">krdc-23.04.1</a></td>
   <td align="right">1594kB</td>
   <td><tt>19de67cebd6c0db325243e1b021a2a6717d305e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/krecorder-23.04.1.tar.xz">krecorder-23.04.1</a></td>
   <td align="right">155kB</td>
   <td><tt>948e551c659e395c73bac9d49bb3a274febef4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kreversi-23.04.1.tar.xz">kreversi-23.04.1</a></td>
   <td align="right">1052kB</td>
   <td><tt>34d96ebd4f4cb898bf663b7c3809e33b67c07525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/krfb-23.04.1.tar.xz">krfb-23.04.1</a></td>
   <td align="right">1288kB</td>
   <td><tt>53c7f7e73462f0dfbfbb4c28892f69bd4673ce82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kross-interpreters-23.04.1.tar.xz">kross-interpreters-23.04.1</a></td>
   <td align="right">148kB</td>
   <td><tt>82e38aa9304fccd09b1896c302c70534a66f59c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kruler-23.04.1.tar.xz">kruler-23.04.1</a></td>
   <td align="right">280kB</td>
   <td><tt>e8bf30ce410e8af8a5d691dd20227a3e2c9cea7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksanecore-23.04.1.tar.xz">ksanecore-23.04.1</a></td>
   <td align="right">49kB</td>
   <td><tt>2b3687a0c934682275cf964271e37f23124aae32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kshisen-23.04.1.tar.xz">kshisen-23.04.1</a></td>
   <td align="right">984kB</td>
   <td><tt>31da95cf1863fe43335ae6463fd23b6cd665fe2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksirk-23.04.1.tar.xz">ksirk-23.04.1</a></td>
   <td align="right">6882kB</td>
   <td><tt>5faeeaaa07c1c4f3c83d268b314f1c9af50393ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksmtp-23.04.1.tar.xz">ksmtp-23.04.1</a></td>
   <td align="right">49kB</td>
   <td><tt>3ca44fae770f5dd1e248d4e89c90af58f8557bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksnakeduel-23.04.1.tar.xz">ksnakeduel-23.04.1</a></td>
   <td align="right">587kB</td>
   <td><tt>aaf7eac128ccf398db4524fbbd621c47fe16e1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kspaceduel-23.04.1.tar.xz">kspaceduel-23.04.1</a></td>
   <td align="right">644kB</td>
   <td><tt>83600a845ac87407cd4e8163c6386f9af360f1c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksquares-23.04.1.tar.xz">ksquares-23.04.1</a></td>
   <td align="right">305kB</td>
   <td><tt>a8f4efc469ad7870d52454a1dd9f3c44823a6f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksudoku-23.04.1.tar.xz">ksudoku-23.04.1</a></td>
   <td align="right">1662kB</td>
   <td><tt>f543a5032d3ec22f93f99c7ca3e861a2c887e25e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ksystemlog-23.04.1.tar.xz">ksystemlog-23.04.1</a></td>
   <td align="right">1955kB</td>
   <td><tt>e666805f6c9bcc99de2df6a2781e2862b6f54da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kteatime-23.04.1.tar.xz">kteatime-23.04.1</a></td>
   <td align="right">305kB</td>
   <td><tt>188a864e35d8362452ab07e417bdbdad388746e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktimer-23.04.1.tar.xz">ktimer-23.04.1</a></td>
   <td align="right">395kB</td>
   <td><tt>59bf57ef49de12d68065bd83f082fc6822d68a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktnef-23.04.1.tar.xz">ktnef-23.04.1</a></td>
   <td align="right">302kB</td>
   <td><tt>5939ea2c02b7494542b251e960366447350edf3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktorrent-23.04.1.tar.xz">ktorrent-23.04.1</a></td>
   <td align="right">2099kB</td>
   <td><tt>1c3b0a18acfb8b23566a2ef63847ce97fe65dd9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktouch-23.04.1.tar.xz">ktouch-23.04.1</a></td>
   <td align="right">4917kB</td>
   <td><tt>614c1c9d67d8d858833606d850d2e7558f4b7445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-accounts-kcm-23.04.1.tar.xz">ktp-accounts-kcm-23.04.1</a></td>
   <td align="right">271kB</td>
   <td><tt>4786f630c1d68448221e6a076e65fab81ddc90f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-approver-23.04.1.tar.xz">ktp-approver-23.04.1</a></td>
   <td align="right">38kB</td>
   <td><tt>f433f01b17ffaad5c857ffdea9a1ba3ad99bccbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-auth-handler-23.04.1.tar.xz">ktp-auth-handler-23.04.1</a></td>
   <td align="right">47kB</td>
   <td><tt>fc300f1626d90d67a6bb6cc5af9736a45d465c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-call-ui-23.04.1.tar.xz">ktp-call-ui-23.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>66f7316cb2de9c57e9678cc6b4bce23c6e985487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-common-internals-23.04.1.tar.xz">ktp-common-internals-23.04.1</a></td>
   <td align="right">448kB</td>
   <td><tt>86463fa819353ddb377595809c3f4f330fa36103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-contact-list-23.04.1.tar.xz">ktp-contact-list-23.04.1</a></td>
   <td align="right">156kB</td>
   <td><tt>246be7ccb1c7f1c84fb4a353e6e94dea9a3d7dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-contact-runner-23.04.1.tar.xz">ktp-contact-runner-23.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>df627b41718a76ee9ddc26086efb38e9cf168c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-desktop-applets-23.04.1.tar.xz">ktp-desktop-applets-23.04.1</a></td>
   <td align="right">44kB</td>
   <td><tt>1373310a37331a43f510571900ec3e92d5f201ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-filetransfer-handler-23.04.1.tar.xz">ktp-filetransfer-handler-23.04.1</a></td>
   <td align="right">46kB</td>
   <td><tt>3840b4f05d8e1b37c0b4a64442baeed77fc9a92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-kded-module-23.04.1.tar.xz">ktp-kded-module-23.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>2e8fe45795fbd216ebdd7a96d8ce57fa80a75743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-send-file-23.04.1.tar.xz">ktp-send-file-23.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>be9e5728b1aca0a1f0ba7f242616aec99b71b069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktp-text-ui-23.04.1.tar.xz">ktp-text-ui-23.04.1</a></td>
   <td align="right">475kB</td>
   <td><tt>d37a44fefd2e1b335ba71d9dea411ee930232cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktrip-23.04.1.tar.xz">ktrip-23.04.1</a></td>
   <td align="right">247kB</td>
   <td><tt>2e73b77cbf73f30bd1497c2f5fec4971a8d6e291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/ktuberling-23.04.1.tar.xz">ktuberling-23.04.1</a></td>
   <td align="right">69728kB</td>
   <td><tt>c2afb4c64bbe236b70580b02e1b950460c55f17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kturtle-23.04.1.tar.xz">kturtle-23.04.1</a></td>
   <td align="right">1954kB</td>
   <td><tt>810c67c886ae452f92664f46dc8829f9df8f8dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kubrick-23.04.1.tar.xz">kubrick-23.04.1</a></td>
   <td align="right">340kB</td>
   <td><tt>0301eb674b056e7b91b9a32731000e55722f6e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kwalletmanager-23.04.1.tar.xz">kwalletmanager-23.04.1</a></td>
   <td align="right">830kB</td>
   <td><tt>b479b1179b29ae6b945f4902d1567b368edb91fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kwave-23.04.1.tar.xz">kwave-23.04.1</a></td>
   <td align="right">6801kB</td>
   <td><tt>2743eff146f1de62a6dbbcce375fc159d261a6f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kweather-23.04.1.tar.xz">kweather-23.04.1</a></td>
   <td align="right">994kB</td>
   <td><tt>cf5142985568423e51f6c0a4d02fbdac8838b55c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/kwordquiz-23.04.1.tar.xz">kwordquiz-23.04.1</a></td>
   <td align="right">4162kB</td>
   <td><tt>557d7e648489e8d3659b181015643127b7666d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libgravatar-23.04.1.tar.xz">libgravatar-23.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>ea145fa63fd00046015b7fca8efae21dd6f30446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkcddb-23.04.1.tar.xz">libkcddb-23.04.1</a></td>
   <td align="right">447kB</td>
   <td><tt>66c478ceacf09ef6ccb6f441fd6a3dcd55af807b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkcompactdisc-23.04.1.tar.xz">libkcompactdisc-23.04.1</a></td>
   <td align="right">96kB</td>
   <td><tt>9ec7f57c8c4f3237b3c455a406e885004e689754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkdcraw-23.04.1.tar.xz">libkdcraw-23.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>04166064a69c77c1425fc7e0f5706ae4796f5251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkdegames-23.04.1.tar.xz">libkdegames-23.04.1</a></td>
   <td align="right">5853kB</td>
   <td><tt>6e01e9e8b745c9b027a324ed68e41157fb6dd091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkdepim-23.04.1.tar.xz">libkdepim-23.04.1</a></td>
   <td align="right">279kB</td>
   <td><tt>67e389b555fdabb129e6f20ea3cbfcc81f0fb1fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkeduvocdocument-23.04.1.tar.xz">libkeduvocdocument-23.04.1</a></td>
   <td align="right">224kB</td>
   <td><tt>b8b11a3a8ea2e9455daaedbc270108f08760d4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkexiv2-23.04.1.tar.xz">libkexiv2-23.04.1</a></td>
   <td align="right">58kB</td>
   <td><tt>44afbefb2fa9d279b16537c8e9b19e1acc7b4646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkgapi-23.04.1.tar.xz">libkgapi-23.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>08f8f012f99195a56988a13971f023032cdfba88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkipi-23.04.1.tar.xz">libkipi-23.04.1</a></td>
   <td align="right">86kB</td>
   <td><tt>0c1c1646c4b9de47ab6a919c3d77a0247377e109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkleo-23.04.1.tar.xz">libkleo-23.04.1</a></td>
   <td align="right">501kB</td>
   <td><tt>11b655dbc597c60f6e21b77529ce2aba7950ecdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkmahjongg-23.04.1.tar.xz">libkmahjongg-23.04.1</a></td>
   <td align="right">1648kB</td>
   <td><tt>aa45220e8c1068d48dd27aed7aee6220d6121185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libkomparediff2-23.04.1.tar.xz">libkomparediff2-23.04.1</a></td>
   <td align="right">181kB</td>
   <td><tt>59fe3269a314c3da7eeef379883af362c690e3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libksane-23.04.1.tar.xz">libksane-23.04.1</a></td>
   <td align="right">151kB</td>
   <td><tt>cc37c4da0ae0be307dcf96f9a04e40e59e43b718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libksieve-23.04.1.tar.xz">libksieve-23.04.1</a></td>
   <td align="right">542kB</td>
   <td><tt>5feeaaf3d2f813960cd25a3cacf108e2b6ee4198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/libktorrent-23.04.1.tar.xz">libktorrent-23.04.1</a></td>
   <td align="right">589kB</td>
   <td><tt>30f54b4b84bce8ce90882edbb4b85171d722f671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/lokalize-23.04.1.tar.xz">lokalize-23.04.1</a></td>
   <td align="right">2066kB</td>
   <td><tt>96460ac207fb2794da49fcc37c272436ca2a2d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/lskat-23.04.1.tar.xz">lskat-23.04.1</a></td>
   <td align="right">1220kB</td>
   <td><tt>7c23ccea124cba93e741b77e2c3e8514caef560e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/mailcommon-23.04.1.tar.xz">mailcommon-23.04.1</a></td>
   <td align="right">740kB</td>
   <td><tt>9ae1423589e0af7bc9ee543c6474ada9e89926fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/mailimporter-23.04.1.tar.xz">mailimporter-23.04.1</a></td>
   <td align="right">577kB</td>
   <td><tt>67910d494292b179f67fa6e3291c8342fe0d7188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/marble-23.04.1.tar.xz">marble-23.04.1</a></td>
   <td align="right">52500kB</td>
   <td><tt>8a37bb62c9c74a8f0ac5269aaf013da38f6d37f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/markdownpart-23.04.1.tar.xz">markdownpart-23.04.1</a></td>
   <td align="right">30kB</td>
   <td><tt>c293219679b0c2a0911c36174a8e1e80b628f4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/mbox-importer-23.04.1.tar.xz">mbox-importer-23.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>f118648e5f6016d20b021e613471471ce2a1a8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/messagelib-23.04.1.tar.xz">messagelib-23.04.1</a></td>
   <td align="right">11026kB</td>
   <td><tt>7ddac9ca1a34ca8560c9a38a655d743100d20ac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/minuet-23.04.1.tar.xz">minuet-23.04.1</a></td>
   <td align="right">27032kB</td>
   <td><tt>c7e11cb0936f5761cdc445f4f875fecbaf85d202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/neochat-23.04.1.tar.xz">neochat-23.04.1</a></td>
   <td align="right">553kB</td>
   <td><tt>932addc432802c6b0cb9812c4bc494440f47cf94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/okular-23.04.1.tar.xz">okular-23.04.1</a></td>
   <td align="right">8279kB</td>
   <td><tt>340a5832e0da629487281c9b89890181d0783f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/palapeli-23.04.1.tar.xz">palapeli-23.04.1</a></td>
   <td align="right">2061kB</td>
   <td><tt>a37ca168807b325b21abbc0eee28376a43d5a966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/parley-23.04.1.tar.xz">parley-23.04.1</a></td>
   <td align="right">8392kB</td>
   <td><tt>6b58e454337e3d67c9fc1957666635c510038ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/partitionmanager-23.04.1.tar.xz">partitionmanager-23.04.1</a></td>
   <td align="right">2093kB</td>
   <td><tt>f8da5d33f56ccf9b0550e0857d08bafb222290b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/picmi-23.04.1.tar.xz">picmi-23.04.1</a></td>
   <td align="right">1504kB</td>
   <td><tt>987a75f3eccd018748065ebd8993dee79a8109c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/pimcommon-23.04.1.tar.xz">pimcommon-23.04.1</a></td>
   <td align="right">338kB</td>
   <td><tt>2db0f326b5a6ffac0a319bda68b438be4de9c92d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/pim-data-exporter-23.04.1.tar.xz">pim-data-exporter-23.04.1</a></td>
   <td align="right">415kB</td>
   <td><tt>03da116c9f5aad032a09e7aed0db27a37b73440d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/pim-sieve-editor-23.04.1.tar.xz">pim-sieve-editor-23.04.1</a></td>
   <td align="right">453kB</td>
   <td><tt>c6335bdbb25767aad4c95b098b27950bc3b0f294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/plasmatube-23.04.1.tar.xz">plasmatube-23.04.1</a></td>
   <td align="right">77kB</td>
   <td><tt>f59a90d594dbf9b7bfdf8e0d9d80eb1991f60698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/poxml-23.04.1.tar.xz">poxml-23.04.1</a></td>
   <td align="right">43kB</td>
   <td><tt>36975103d8c677f467f85fd46f2d05def4863ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/print-manager-23.04.1.tar.xz">print-manager-23.04.1</a></td>
   <td align="right">282kB</td>
   <td><tt>ba3d369799e9b1c79de2ea0ce2d1c1e6216cba38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/qmlkonsole-23.04.1.tar.xz">qmlkonsole-23.04.1</a></td>
   <td align="right">66kB</td>
   <td><tt>ab01c61c67d06ff072af3586f2e2a01cbcb4bf73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/rocs-23.04.1.tar.xz">rocs-23.04.1</a></td>
   <td align="right">1532kB</td>
   <td><tt>c6024e807eb19d532a2418c1db3e3ba34b291546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/signon-kwallet-extension-23.04.1.tar.xz">signon-kwallet-extension-23.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>675305d4c5cda1cac7efbafe056cfa6ef6c6d49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/skanlite-23.04.1.tar.xz">skanlite-23.04.1</a></td>
   <td align="right">2392kB</td>
   <td><tt>20986088df2138c26490c60c36574b24ab084a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/skanpage-23.04.1.tar.xz">skanpage-23.04.1</a></td>
   <td align="right">1267kB</td>
   <td><tt>6efb995f04c4fb085427ed2a200ec18ae694dff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/spectacle-23.04.1.tar.xz">spectacle-23.04.1</a></td>
   <td align="right">1308kB</td>
   <td><tt>9d0cf51ab46587de4869d3b1e7e30eeed9340a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/step-23.04.1.tar.xz">step-23.04.1</a></td>
   <td align="right">960kB</td>
   <td><tt>6dd1ae560fe5f5af473ea7ad681ccda511d87f2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/svgpart-23.04.1.tar.xz">svgpart-23.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>55038c103d8d20aa24228a6dde87186354f3982b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/sweeper-23.04.1.tar.xz">sweeper-23.04.1</a></td>
   <td align="right">389kB</td>
   <td><tt>8c20ce24f3150e15ab3b6d5e467b0ddd496735b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/telly-skout-23.04.1.tar.xz">telly-skout-23.04.1</a></td>
   <td align="right">93kB</td>
   <td><tt>bbbf94ec00baf6b2122f895bff60365367cd6b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/tokodon-23.04.1.tar.xz">tokodon-23.04.1</a></td>
   <td align="right">227kB</td>
   <td><tt>1fdf15039cf6efc2ffc1bd0b39f0dd47e476d4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/umbrello-23.04.1.tar.xz">umbrello-23.04.1</a></td>
   <td align="right">5638kB</td>
   <td><tt>b245f604b959ae5228f8d9f582b5c27b93c561b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/yakuake-23.04.1.tar.xz">yakuake-23.04.1</a></td>
   <td align="right">418kB</td>
   <td><tt>e2688ba027d6c4c6fd3ebb6ffacf9bfcaec52d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.1/src/zanshin-23.04.1.tar.xz">zanshin-23.04.1</a></td>
   <td align="right">341kB</td>
   <td><tt>012d40c0541f7e93e4a2f4959918cf64985ccc47</tt></td>
</tr>

</table>
