<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/aura-browser-5.27.1.tar.xz">aura-browser-5.27.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>69c63d8173c1090d9c99a591f3d7f121e22498e436e69cf00052a0e7724d08af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/bluedevil-5.27.1.tar.xz">bluedevil-5.27.1</a></td>
   <td align="right">355kB</td>
   <td><tt>d07b4a5dd7eecc530f4c08edfc3502d42b61b09231d6d9b630cb72a9932bdd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/breeze-5.27.1.tar.xz">breeze-5.27.1</a></td>
   <td align="right">83MB</td>
   <td><tt>e19df9f16290eb1207147dbd4b856569477b5e116f13ece2829b812b38bf3157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/breeze-grub-5.27.1.tar.xz">breeze-grub-5.27.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>088f47877bd68182a30d0ab9e9d6ffa9891880ca14aea609ae9e20d589b1c3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/breeze-gtk-5.27.1.tar.xz">breeze-gtk-5.27.1</a></td>
   <td align="right">39kB</td>
   <td><tt>7b1fd6cef936d414ae494e205116543d47061b7abc7d78dc7ed2e88ad578a138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/breeze-plymouth-5.27.1.tar.xz">breeze-plymouth-5.27.1</a></td>
   <td align="right">108kB</td>
   <td><tt>bdb5cc2149a2d65cf44bd76f89ead8171dedcbe5e00a0368ce990edc7fd29cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/discover-5.27.1.tar.xz">discover-5.27.1</a></td>
   <td align="right">834kB</td>
   <td><tt>bbe98bc086fbd5cc26003e473f252cd2a05dc52e46d2bba57fb2a1aad367051c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/drkonqi-5.27.1.tar.xz">drkonqi-5.27.1</a></td>
   <td align="right">832kB</td>
   <td><tt>06145f5ee40157067298ad979aa4c930046fded92c0a2403e0fbcb63dcbf09c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/flatpak-kcm-5.27.1.tar.xz">flatpak-kcm-5.27.1</a></td>
   <td align="right">199kB</td>
   <td><tt>1c823c41b475e2a06d064c6c5353ee0b1e70415cc2ca8995af3311f78b9694ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kactivitymanagerd-5.27.1.tar.xz">kactivitymanagerd-5.27.1</a></td>
   <td align="right">121kB</td>
   <td><tt>2c4aa8841293921fa0bee6d9ac98c52f7f08f670a51cf40255be5bd68edd20f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kde-cli-tools-5.27.1.tar.xz">kde-cli-tools-5.27.1</a></td>
   <td align="right">641kB</td>
   <td><tt>419fec078daa46e83ae7f3a57ffe62d4d3c490fff393a4bd686295e017c6eb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kdecoration-5.27.1.tar.xz">kdecoration-5.27.1</a></td>
   <td align="right">51kB</td>
   <td><tt>2f0342540a6aec3f99ee5d210bcec13c4fc27d9162f671662a44cae884cb97ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kde-gtk-config-5.27.1.tar.xz">kde-gtk-config-5.27.1</a></td>
   <td align="right">73kB</td>
   <td><tt>dee9e7526c969018bbbfcd3537411368f99bf460f9cf2158912bd5fd7c08c381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kdeplasma-addons-5.27.1.tar.xz">kdeplasma-addons-5.27.1</a></td>
   <td align="right">797kB</td>
   <td><tt>6971f715f51a227ab6d10dcb17003373a03bfa3135f1e9675090dc4212842f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kgamma5-5.27.1.tar.xz">kgamma5-5.27.1</a></td>
   <td align="right">84kB</td>
   <td><tt>d71b53c64180aa60a08042762c9622f713e1c79f7f45993ccee5526e483179e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/khotkeys-5.27.1.tar.xz">khotkeys-5.27.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bc95cc9eda4cb9d4d2966386ad2bcc2ad6b3f7c89c5508442b1615511a692ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kinfocenter-5.27.1.tar.xz">kinfocenter-5.27.1</a></td>
   <td align="right">991kB</td>
   <td><tt>c844815cf40a33ca9cb0de7beecd4c11606a4fd87369c989bb4f51519d9c0634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kmenuedit-5.27.1.tar.xz">kmenuedit-5.27.1</a></td>
   <td align="right">904kB</td>
   <td><tt>e03d38a72277caafd20419641049e7dff05badcd05d9e980988298923ccd85e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kpipewire-5.27.1.tar.xz">kpipewire-5.27.1</a></td>
   <td align="right">56kB</td>
   <td><tt>2183ea4d33a2a1a160a0d10d8d07aab51f69a444e78f9df5eba6337e621cb23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kscreen-5.27.1.1.tar.xz">kscreen-5.27.1.1</a></td>
   <td align="right">179kB</td>
   <td><tt>0dfc82f7630e9bb5d1ec2f5b2389a1fee8777d35b6cd1bb93238d6fd7bc77d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kscreenlocker-5.27.1.tar.xz">kscreenlocker-5.27.1</a></td>
   <td align="right">155kB</td>
   <td><tt>4905789a45d51f721ff8e34b7452d58686a2133a16a536e4b78fde4801bf6d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/ksshaskpass-5.27.1.tar.xz">ksshaskpass-5.27.1</a></td>
   <td align="right">27kB</td>
   <td><tt>7c5d503f03c23a98bc612b99bcaf432333bb4f176c474e2bf6433eee4a947af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/ksystemstats-5.27.1.tar.xz">ksystemstats-5.27.1</a></td>
   <td align="right">111kB</td>
   <td><tt>c7486dd7a931008ae3e01e2940a34d847c79570142a1ba5729ac9f361d9d7ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kwallet-pam-5.27.1.tar.xz">kwallet-pam-5.27.1</a></td>
   <td align="right">22kB</td>
   <td><tt>6656146a6e32eafe361332b13004a42253723416fd7919afb8b087c1a42fd1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kwayland-integration-5.27.1.tar.xz">kwayland-integration-5.27.1</a></td>
   <td align="right">25kB</td>
   <td><tt>d38b4ef7effa77914a4f34c429c40b4cca5a647fbb5137848300da97321f712c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kwin-5.27.1.tar.xz">kwin-5.27.1</a></td>
   <td align="right">7.2MB</td>
   <td><tt>3e1d678959b1eb1f4ec4d898629468b9860c1fcd8471b085b779553a9495e4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/kwrited-5.27.1.tar.xz">kwrited-5.27.1</a></td>
   <td align="right">22kB</td>
   <td><tt>f54b9a52827c3260c1f9ca742fdc92d3a656ee54b0868521894527e1e8873b48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/layer-shell-qt-5.27.1.tar.xz">layer-shell-qt-5.27.1</a></td>
   <td align="right">17kB</td>
   <td><tt>5e3f371eb7a8c9e582e2225cf153d9824f754c6d2c86cacfd65a944c758f8408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/libkscreen-5.27.1.tar.xz">libkscreen-5.27.1</a></td>
   <td align="right">111kB</td>
   <td><tt>e3f725c82f9a08cc0c9130433332d52a678fca494b426408a35d4a689f259710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/libksysguard-5.27.1.tar.xz">libksysguard-5.27.1</a></td>
   <td align="right">850kB</td>
   <td><tt>1272b91be5dd6840ac624a113e381930b58481cedb51af311c804ee2b9ac2f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/milou-5.27.1.tar.xz">milou-5.27.1</a></td>
   <td align="right">55kB</td>
   <td><tt>4c090436dd405d9e13ac7d1d2e9b7613ef1620d85707f0c56b2ce2c088233aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/oxygen-5.27.1.tar.xz">oxygen-5.27.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>32e5c27f3a573b41ab64b3cbaf262e91ed599f42056f4dec22dcb2583b4586dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/oxygen-sounds-5.27.1.tar.xz">oxygen-sounds-5.27.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>03bd962113f3045ec0ad7209425c8d3eb9c47f0db14252c42e0ca28dfb691547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plank-player-5.27.1.tar.xz">plank-player-5.27.1</a></td>
   <td align="right">154kB</td>
   <td><tt>d589bb9df7feae6726d6d85a22f9155732b7ccb7b2e86b481a145e36183431da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-bigscreen-5.27.1.tar.xz">plasma-bigscreen-5.27.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>875bf8017458f6076819e78ffd36ba43edb8e218ef29b0b14e80795913f4319e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-browser-integration-5.27.1.tar.xz">plasma-browser-integration-5.27.1</a></td>
   <td align="right">206kB</td>
   <td><tt>5d1d7f3382f8c07513fcea99cde4a276116e1853c7d4d750df88829ad461a004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-desktop-5.27.1.tar.xz">plasma-desktop-5.27.1</a></td>
   <td align="right">13MB</td>
   <td><tt>2e7b705297fd35d7938518338c6cfc75550910334fa6802b654e940421ffc05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-disks-5.27.1.tar.xz">plasma-disks-5.27.1</a></td>
   <td align="right">90kB</td>
   <td><tt>b011d210ce52a8fa78d6cc1243ec006759fc382e65a032dea3ca8ac2cc07ab63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-firewall-5.27.1.tar.xz">plasma-firewall-5.27.1</a></td>
   <td align="right">353kB</td>
   <td><tt>9d1cc2665b9cba5a176bb0080acf54a3c8443dd77ea4e9ac14536483e06b66b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-integration-5.27.1.tar.xz">plasma-integration-5.27.1</a></td>
   <td align="right">88kB</td>
   <td><tt>07f54e9313d912c13a9eb70d1df0aaee37ff87cc5f77af7c2b6b0995209b00b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-mobile-5.27.1.tar.xz">plasma-mobile-5.27.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c93a644daac49b5b59dd434a252cd7f600b9cbb88eec5f25a0f96d5dded33701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-nano-5.27.1.tar.xz">plasma-nano-5.27.1</a></td>
   <td align="right">72kB</td>
   <td><tt>73144f1dcceb40f7f20020a86697d36149ab7f31527e246c15ad02af47260069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-nm-5.27.1.tar.xz">plasma-nm-5.27.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>27d170e3e315a4ef2ffc4828b11c3a41b68ab213a15f56097789b7c41d6ba8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-pa-5.27.1.tar.xz">plasma-pa-5.27.1</a></td>
   <td align="right">157kB</td>
   <td><tt>bd9919087a975eb8431a708fb218de674e7c7068fde84eee83075983969a7d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-remotecontrollers-5.27.1.tar.xz">plasma-remotecontrollers-5.27.1</a></td>
   <td align="right">75kB</td>
   <td><tt>e548fb992d73f6874ebee33f5053f63f600c2e6d79ccfb37ef9ec3e44d5b59f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-sdk-5.27.1.tar.xz">plasma-sdk-5.27.1</a></td>
   <td align="right">312kB</td>
   <td><tt>ae5ae98d4504b1dcba985c45bf6128c45105fa2d73d528077cb6dada27271ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-systemmonitor-5.27.1.tar.xz">plasma-systemmonitor-5.27.1</a></td>
   <td align="right">167kB</td>
   <td><tt>0801ff15692239b9db79aa1d0593ed54e530f5770b5d62b311c68933e06a0364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-tests-5.27.1.tar.xz">plasma-tests-5.27.1</a></td>
   <td align="right">1kB</td>
   <td><tt>a7844790019677e70358ebb50410e8289492311cdd905545753089c4fa008435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-thunderbolt-5.27.1.tar.xz">plasma-thunderbolt-5.27.1</a></td>
   <td align="right">70kB</td>
   <td><tt>ce2f853bad5ddcfd671ae816b8b84628b0378923586d3c129fce7a4a67d36723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-vault-5.27.1.tar.xz">plasma-vault-5.27.1</a></td>
   <td align="right">182kB</td>
   <td><tt>6e40953863399fe95c1a0e5e8eb4d901f89071f9f67bcfd314250b0b8a9cdd46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-welcome-5.27.1.tar.xz">plasma-welcome-5.27.1</a></td>
   <td align="right">795kB</td>
   <td><tt>4b3c8ee1a6b1b7c2bee23eb61dd48072612efe6b9cee0ee99916c60dc694c5ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-workspace-5.27.1.tar.xz">plasma-workspace-5.27.1</a></td>
   <td align="right">17MB</td>
   <td><tt>67883cd78115c4b71710ba79dc7986adc929d3bd04227f62b84a3129c275fe01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plasma-workspace-wallpapers-5.27.1.tar.xz">plasma-workspace-wallpapers-5.27.1</a></td>
   <td align="right">89MB</td>
   <td><tt>292d683239656fcc60f90c5833f95dcac850bb6a3ae24845b1aef9bfd5528f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/plymouth-kcm-5.27.1.tar.xz">plymouth-kcm-5.27.1</a></td>
   <td align="right">44kB</td>
   <td><tt>ca054ce7bd982874c1bf81de2dab00ee2d654eadf1e37849c55c961bf6381594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/polkit-kde-agent-1-5.27.1.tar.xz">polkit-kde-agent-1-5.27.1</a></td>
   <td align="right">51kB</td>
   <td><tt>6c2dffee6c81440ebb26259a417ba9b9500cbe019b6ddb9963cde416ca4f1ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/powerdevil-5.27.1.tar.xz">powerdevil-5.27.1</a></td>
   <td align="right">766kB</td>
   <td><tt>53b64b15140c1146fa1d95f51c2061b60f25361684a82b52c5ccd5240ca64e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/qqc2-breeze-style-5.27.1.tar.xz">qqc2-breeze-style-5.27.1</a></td>
   <td align="right">64kB</td>
   <td><tt>d9dd0888381a937e059e33d3ad71111dee5e132ce305c07479b0e8618379f10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/sddm-kcm-5.27.1.tar.xz">sddm-kcm-5.27.1</a></td>
   <td align="right">89kB</td>
   <td><tt>f189cf6a0605f54062236377184d9363ea5a812dfa0353a3768d458a3d574912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/systemsettings-5.27.1.tar.xz">systemsettings-5.27.1</a></td>
   <td align="right">218kB</td>
   <td><tt>9eb193a03dd37e012808d22a96db28bfb0c3e8aeea1c06a06a05f8af1f7e179a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.1/xdg-desktop-portal-kde-5.27.1.tar.xz">xdg-desktop-portal-kde-5.27.1</a></td>
   <td align="right">131kB</td>
   <td><tt>b07505cea68e4bf2f54e4c29bed0798b52fb39108529825db96f5bc7ddeee145</tt></td>
</tr>

</table>
