<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/bluedevil-5.10.4.tar.xz">bluedevil-5.10.4</a></td>
   <td align="right">141kB</td>
   <td><tt>b15719638f6fc994562efce4cdf7621d72c113693df127a52be56b96e98235e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/breeze-5.10.4.tar.xz">breeze-5.10.4</a></td>
   <td align="right">16MB</td>
   <td><tt>2dbce52c2a807a73cb2307ac42e3fc409cb04f077fdeeabe505484906dc1b11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/breeze-grub-5.10.4.tar.xz">breeze-grub-5.10.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>829ef269ec1eaa7696461191044287739e3f3705f4f17809476219fba6440d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/breeze-gtk-5.10.4.tar.xz">breeze-gtk-5.10.4</a></td>
   <td align="right">206kB</td>
   <td><tt>e5f30467903b4e20b7c8434bb0ef584641504c4c4c9de869720ae34d442c1864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/breeze-plymouth-5.10.4.tar.xz">breeze-plymouth-5.10.4</a></td>
   <td align="right">102kB</td>
   <td><tt>8ff684c8da3d347e33e406276362d93f341329f8798808397ec65f7480b8db9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/discover-5.10.4.tar.xz">discover-5.10.4</a></td>
   <td align="right">9.7MB</td>
   <td><tt>489d4976e7d1cd4b08d74cc6692cd4c65cd308ada9704dc3f46dd92907987d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kactivitymanagerd-5.10.4.tar.xz">kactivitymanagerd-5.10.4</a></td>
   <td align="right">82kB</td>
   <td><tt>228b5efc3d5c19bf457cebdcc2ee300aefcb7d36a445eecc51c934ed23ca637c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kde-cli-tools-5.10.4.tar.xz">kde-cli-tools-5.10.4</a></td>
   <td align="right">492kB</td>
   <td><tt>069a4032b7f98c2b04358f5af0d2974ec2d963853e144f2625af4412bdb82bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kdecoration-5.10.4.tar.xz">kdecoration-5.10.4</a></td>
   <td align="right">34kB</td>
   <td><tt>2503fdb90cc1d93d9532bddbeaf625cc01207bc5b3183045ce5a6fce8112a696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kde-gtk-config-5.10.4.tar.xz">kde-gtk-config-5.10.4</a></td>
   <td align="right">148kB</td>
   <td><tt>32b126278fc89ec8f44126aa27569a02b0d913975b5b0d6021b126e1fa9eb364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kdeplasma-addons-5.10.4.tar.xz">kdeplasma-addons-5.10.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>eec58fe52cfb0f64b81799a1c8650bb5dedc1c443a3a6952d689cbd5353d2da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kgamma5-5.10.4.tar.xz">kgamma5-5.10.4</a></td>
   <td align="right">59kB</td>
   <td><tt>358aba8d00749c19b3e63b00e6611c2f0ad806a147a5ab5a008cc14cef8b6e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/khotkeys-5.10.4.tar.xz">khotkeys-5.10.4</a></td>
   <td align="right">684kB</td>
   <td><tt>da5b06deb62468866e61c189b36c7c77894d0155523699c8c85a90275cfb5799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kinfocenter-5.10.4.tar.xz">kinfocenter-5.10.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f9a327cc68fb24289cef0ec860f18047cde55ee8a477733c186bfecfcd270ae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kmenuedit-5.10.4.tar.xz">kmenuedit-5.10.4</a></td>
   <td align="right">635kB</td>
   <td><tt>3c093ae2185097b4038679afd6213986734cdb3b39191ab0a76fe5bf24bd7acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kscreen-5.10.4.tar.xz">kscreen-5.10.4</a></td>
   <td align="right">112kB</td>
   <td><tt>5c2b4debec134792b44fed3bfc7d1b44bd87ed12100fa3d07c16ab4cc2bb5065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kscreenlocker-5.10.4.tar.xz">kscreenlocker-5.10.4</a></td>
   <td align="right">108kB</td>
   <td><tt>d7fe082129742f2ea40a9789026ec858fbeb1f5c36dacd58eae20fd2669b5e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/ksshaskpass-5.10.4.tar.xz">ksshaskpass-5.10.4</a></td>
   <td align="right">19kB</td>
   <td><tt>4e8aa2a2566fb34652ffb37a87649b1284b9ba2c8b509e20f127a70902bfe6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/ksysguard-5.10.4.tar.xz">ksysguard-5.10.4</a></td>
   <td align="right">477kB</td>
   <td><tt>d462c2339daa5a44489bcb4108a108b7caac1894fec55fe8d78addb76962e60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kwallet-pam-5.10.4.tar.xz">kwallet-pam-5.10.4</a></td>
   <td align="right">17kB</td>
   <td><tt>0227751c8f68970e184c2e723796bf11966ae045b904e7a6b07d1e4b9e7729ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kwayland-integration-5.10.4.tar.xz">kwayland-integration-5.10.4</a></td>
   <td align="right">18kB</td>
   <td><tt>8c5e37eace312d494971fcdb0a8844a9cd3eeec80ed511a4c885c0ef86d7a409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kwin-5.10.4.tar.xz">kwin-5.10.4</a></td>
   <td align="right">4.4MB</td>
   <td><tt>69e450d2bf4b299b7128e052c47198eaea3fae57e8cf93ab3f686b1cd4d8fe5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/kwrited-5.10.4.tar.xz">kwrited-5.10.4</a></td>
   <td align="right">19kB</td>
   <td><tt>6325ec73ca3e639fab6918e92011f108a394d24b5d887338f111f1af1fed27b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/libkscreen-5.10.4.tar.xz">libkscreen-5.10.4</a></td>
   <td align="right">91kB</td>
   <td><tt>0f49e7ecf20fa1f8b8b94e8f06fe9817e2422475a41f358a3ca46823a75ffe7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/libksysguard-5.10.4.tar.xz">libksysguard-5.10.4</a></td>
   <td align="right">551kB</td>
   <td><tt>03e69a21cb5c6330ae7164e9eee48c122e004099216f2ab20217a8cdbda28007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/milou-5.10.4.tar.xz">milou-5.10.4</a></td>
   <td align="right">54kB</td>
   <td><tt>0bf6b43d3926c6378227c22447cf7a6d32a18d0f02d3b4468211245b60f6ae80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/oxygen-5.10.4.tar.xz">oxygen-5.10.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6d467fe31704b8efb1405c6b3a3ac7cc6877388886ec907b28af8d71e74e3742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-desktop-5.10.4.tar.xz">plasma-desktop-5.10.4</a></td>
   <td align="right">5.8MB</td>
   <td><tt>eed5108de18f31d39708168c915d8092b0f1f4e214e4986c4acfa152b7f52c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-integration-5.10.4.tar.xz">plasma-integration-5.10.4</a></td>
   <td align="right">50kB</td>
   <td><tt>068b4ed0b1160a78a336085f8b0bb192cd3c136f8a6a091f8ac7c593b207c565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-nm-5.10.4.tar.xz">plasma-nm-5.10.4</a></td>
   <td align="right">678kB</td>
   <td><tt>0c9568948c00494f0c02c6b92cbea07d1b97caa9fd614293b9a30c3b4e17af53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-pa-5.10.4.tar.xz">plasma-pa-5.10.4</a></td>
   <td align="right">77kB</td>
   <td><tt>4dc1f0cebb16253cdd7c7481107ba98d53f954cf10c64efe0cc95feae10eb65b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-sdk-5.10.4.tar.xz">plasma-sdk-5.10.4</a></td>
   <td align="right">240kB</td>
   <td><tt>e0912e70f16b49a6339a83c76e56ec693f2b39f89dcf567e7565cadc5f1a3854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-tests-5.10.4.tar.xz">plasma-tests-5.10.4</a></td>
   <td align="right">1kB</td>
   <td><tt>49ff040224e5f1f71d5f2bb9511ed78edd3619c9de2443e22cccf5f0c7050e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-workspace-5.10.4.tar.xz">plasma-workspace-5.10.4</a></td>
   <td align="right">6.6MB</td>
   <td><tt>1c05578186d1b715042723f99196b981ce6c8a606e4e574681dad31db946a121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plasma-workspace-wallpapers-5.10.4.tar.xz">plasma-workspace-wallpapers-5.10.4</a></td>
   <td align="right">43MB</td>
   <td><tt>22bf5e528867e3534802cfe0e5481cf88488071479480890866c95893c095712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/plymouth-kcm-5.10.4.tar.xz">plymouth-kcm-5.10.4</a></td>
   <td align="right">33kB</td>
   <td><tt>dd1e9292b19e9924cbf01ba7029aa93edd21632db8f27f22284e88ffae140b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/polkit-kde-agent-1-5.10.4.tar.xz">polkit-kde-agent-1-5.10.4</a></td>
   <td align="right">40kB</td>
   <td><tt>5c26d84ec4fe5c19c8ffd3ce83ed38e291432a70c5f9eafb5dbcfd77017961ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/powerdevil-5.10.4.tar.xz">powerdevil-5.10.4</a></td>
   <td align="right">352kB</td>
   <td><tt>225743374f603e97f70f5afc9a2a8a50aff214809a73c729be3c3fc38f6d9de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/sddm-kcm-5.10.4.tar.xz">sddm-kcm-5.10.4</a></td>
   <td align="right">57kB</td>
   <td><tt>9362e0ac66435aa14cea9ba98db0cbe337995f43d2afdca41136587b4a5b92ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/systemsettings-5.10.4.tar.xz">systemsettings-5.10.4</a></td>
   <td align="right">152kB</td>
   <td><tt>5e5a9d1b3b483cafd2aa61f1c245658449cdc1245f208c7fc4a3df534c842c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/user-manager-5.10.4.tar.xz">user-manager-5.10.4</a></td>
   <td align="right">532kB</td>
   <td><tt>0324d599a92245d4ba16e1cfceb60bfab201ab4e68dd888bff462ce06acb5c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.4/xdg-desktop-portal-kde-5.10.4.tar.xz">xdg-desktop-portal-kde-5.10.4</a></td>
   <td align="right">27kB</td>
   <td><tt>9400de23a9ddb9bd62c7e85c32b9303716935111678a01935f10e47164735607</tt></td>
</tr>

</table>
