<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/aura-browser-5.27.5.tar.xz">aura-browser-5.27.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c56f5d69acd76d22f199ae42ce46fee1f82db8ce70b9fc1c376df4a9fb4c1c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/bluedevil-5.27.5.tar.xz">bluedevil-5.27.5</a></td>
   <td align="right">357kB</td>
   <td><tt>61535ae665a5bc1e17c8210d660ba79a3a694ae4ca4b3016e6523ab227a54ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/breeze-5.27.5.tar.xz">breeze-5.27.5</a></td>
   <td align="right">83MB</td>
   <td><tt>70d8a35bf8c0758f9c3e3873b657250b1e09c1c79f92b066d3385a1e44fec868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/breeze-grub-5.27.5.tar.xz">breeze-grub-5.27.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ee287b9294207a3a021bb35919a875c1cc15ae1dcf82d5dd5e6cd07a54d3794e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/breeze-gtk-5.27.5.tar.xz">breeze-gtk-5.27.5</a></td>
   <td align="right">39kB</td>
   <td><tt>c4956ddab4d65471dcf26634672c088b4499d27f766e41b6a8d083442e55c968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/breeze-plymouth-5.27.5.tar.xz">breeze-plymouth-5.27.5</a></td>
   <td align="right">108kB</td>
   <td><tt>317251203b9d90eb5859b0dfb8a994fe35f4e8939b1c3b4c83846bd17723014c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/discover-5.27.5.tar.xz">discover-5.27.5</a></td>
   <td align="right">846kB</td>
   <td><tt>785f788a16e065d28f6422274e2d5a7bcbe63b0f5814206c50c401a3003ab31b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/drkonqi-5.27.5.tar.xz">drkonqi-5.27.5</a></td>
   <td align="right">838kB</td>
   <td><tt>448daeb23a3c030c872507a29e5eecb23b1cd3b015845d3664ec79fa5db9ac56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/flatpak-kcm-5.27.5.tar.xz">flatpak-kcm-5.27.5</a></td>
   <td align="right">220kB</td>
   <td><tt>7b7541780654c1007ff268c8e0460def4aa7a58360550410a57531cb0e45ba9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kactivitymanagerd-5.27.5.tar.xz">kactivitymanagerd-5.27.5</a></td>
   <td align="right">124kB</td>
   <td><tt>a209f4727bc5c44754f48ed1947fbe66419877407f83a0bad458dcab2d03b619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kde-cli-tools-5.27.5.1.tar.xz">kde-cli-tools-5.27.5.1</a></td>
   <td align="right">653kB</td>
   <td><tt>135dd6eb6e92d6d29d78be8bb3f6a0d5e05c26b3cfda498b24807c1e28448885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kdecoration-5.27.5.tar.xz">kdecoration-5.27.5</a></td>
   <td align="right">51kB</td>
   <td><tt>effbf6c5c79802d07fa14f8bd40a9d57bbfc2af2861b6ed596687db48230be42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kde-gtk-config-5.27.5.tar.xz">kde-gtk-config-5.27.5</a></td>
   <td align="right">75kB</td>
   <td><tt>477bb7c20901926faaaa0ad9d5ef61e33891a5d3bf4e51a5798eee6e5c5c1028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kdeplasma-addons-5.27.5.tar.xz">kdeplasma-addons-5.27.5</a></td>
   <td align="right">800kB</td>
   <td><tt>c9351ab0317c75b0340be44cc906b7ba66e69f5c672d33fbfd5b32bc2a560ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kgamma5-5.27.5.tar.xz">kgamma5-5.27.5</a></td>
   <td align="right">86kB</td>
   <td><tt>7b6626473944a8b4afb8e986a9d06ffe9afb6f24938f24053b33fcfb5ce84dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/khotkeys-5.27.5.tar.xz">khotkeys-5.27.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>83e85326de1e3b430ebd0364955e2167ccee50d33fdaaba9fa0e5cf488e6ec20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kinfocenter-5.27.5.tar.xz">kinfocenter-5.27.5</a></td>
   <td align="right">992kB</td>
   <td><tt>0be970049e2be8a5c21128a0ce3ba69e6b82415268a1ed1aa0a30c77c94adc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kmenuedit-5.27.5.tar.xz">kmenuedit-5.27.5</a></td>
   <td align="right">909kB</td>
   <td><tt>446263c4bcc4592251c0e93f3bbab1635452b26e5650605928d4933d70f31127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kpipewire-5.27.5.tar.xz">kpipewire-5.27.5</a></td>
   <td align="right">58kB</td>
   <td><tt>41326adceeaad0d5e0fba78af69403dea12c007b769ed4b5d5534c21f27bdd98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kscreen-5.27.5.tar.xz">kscreen-5.27.5</a></td>
   <td align="right">181kB</td>
   <td><tt>7297aac39b79d477ecd66df5a5c464d2064d375e7b2249eb67f62195a9824468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kscreenlocker-5.27.5.tar.xz">kscreenlocker-5.27.5</a></td>
   <td align="right">156kB</td>
   <td><tt>4c8807f1c2ed8fa14a9b29639c7d5697b5d5bab44d6b88020e5d3f463880ec92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/ksshaskpass-5.27.5.tar.xz">ksshaskpass-5.27.5</a></td>
   <td align="right">27kB</td>
   <td><tt>f6ed26693e3dea8387c0980bf7335d96dc18c5c68c9e289d009dba22c79b0cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/ksystemstats-5.27.5.tar.xz">ksystemstats-5.27.5</a></td>
   <td align="right">112kB</td>
   <td><tt>d59d84cdf8c9cd8a2c3639ebb5986f50995f1f7f74a833af867709b7c336dcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kwallet-pam-5.27.5.tar.xz">kwallet-pam-5.27.5</a></td>
   <td align="right">22kB</td>
   <td><tt>6a9aaa8dc25ed62058058c1d813d674c7b430b4915e42253f48227e997929190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kwayland-integration-5.27.5.tar.xz">kwayland-integration-5.27.5</a></td>
   <td align="right">25kB</td>
   <td><tt>9ae1fc40a70d1453841e16dca2e399fc5c68de3a9ffa7475673f98bf7dcb18f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kwin-5.27.5.tar.xz">kwin-5.27.5</a></td>
   <td align="right">7.2MB</td>
   <td><tt>bb1226b15919681ea5f1de58b24ea4b568ea3f2b5452411f76daa80eb30c20ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/kwrited-5.27.5.tar.xz">kwrited-5.27.5</a></td>
   <td align="right">22kB</td>
   <td><tt>f2baec5827a87c035a116795615f2dba51ebaaab6297cbe8adf50410865fcc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/layer-shell-qt-5.27.5.tar.xz">layer-shell-qt-5.27.5</a></td>
   <td align="right">17kB</td>
   <td><tt>ccdf6aa579f0437f3bad377ac35268dfab36f6816227c03bae0591301c8d1d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/libkscreen-5.27.5.tar.xz">libkscreen-5.27.5</a></td>
   <td align="right">112kB</td>
   <td><tt>29aff3f28d8706e864b914dea4ab59e5518ed0381bb1c6625f454f08196deb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/libksysguard-5.27.5.tar.xz">libksysguard-5.27.5</a></td>
   <td align="right">854kB</td>
   <td><tt>7e7eb53af05fefcfea6b38fed4947409370ad303247892e4719bc2a809e85e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/milou-5.27.5.tar.xz">milou-5.27.5</a></td>
   <td align="right">57kB</td>
   <td><tt>1b1b0a3e672f06eb81f889b0c48726af4b3702b103eb1e680c3972ef5c8d0298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/oxygen-5.27.5.tar.xz">oxygen-5.27.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fb764ea8820a01ab9c9d0cfccf588b64c4a5b9e6644b6e4188c618a793227ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/oxygen-sounds-5.27.5.tar.xz">oxygen-sounds-5.27.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>21fb31e2c4047f56e3ec09cd4960f56120b746152485336f716c9101cd2c8566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plank-player-5.27.5.tar.xz">plank-player-5.27.5</a></td>
   <td align="right">155kB</td>
   <td><tt>f066b51434b2623441a0a96cd41ddfa397c2fcae383747d2051837796dd1dc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-bigscreen-5.27.5.tar.xz">plasma-bigscreen-5.27.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>76808ec3d1b6733dfea20999e9feb745562ceb8d490f841f154895cf00054bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-browser-integration-5.27.5.tar.xz">plasma-browser-integration-5.27.5</a></td>
   <td align="right">206kB</td>
   <td><tt>b490451d672bb2f0294f53422d41df7594690bc8761f9724081147d5fdd1d925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-desktop-5.27.5.tar.xz">plasma-desktop-5.27.5</a></td>
   <td align="right">13MB</td>
   <td><tt>4f2b573134658f640717d6ee67eaee41d9df4c578856016efa769b4415e91cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-disks-5.27.5.tar.xz">plasma-disks-5.27.5</a></td>
   <td align="right">90kB</td>
   <td><tt>ea10e289596b3ce53c0d6ea5ee714306918c5b7368262c22965f44a1dab1480b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-firewall-5.27.5.tar.xz">plasma-firewall-5.27.5</a></td>
   <td align="right">353kB</td>
   <td><tt>e32c90aa52ec35d35fd04e04d00989f18d43ea1f7b244e53de7feb7745235b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-integration-5.27.5.tar.xz">plasma-integration-5.27.5</a></td>
   <td align="right">87kB</td>
   <td><tt>8dedc5630828f0fb5912ca7cad9df5cde2492e17fd2956de6f514d43b4f89f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-mobile-5.27.5.tar.xz">plasma-mobile-5.27.5</a></td>
   <td align="right">3.2MB</td>
   <td><tt>cc1b2fbb64291fd63a498b7f9c8139e6a8a6a6a0a30c505f6eaa503e2dc2c140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-nano-5.27.5.tar.xz">plasma-nano-5.27.5</a></td>
   <td align="right">72kB</td>
   <td><tt>92c2ec3f792725f41b13c556c27351d3d51d82bd3475e7a5c0742c9bb9c1d7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-nm-5.27.5.tar.xz">plasma-nm-5.27.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>152f48e44b6207a606b89548c9f298f1a12a9778ff4876c3ffeeb1f2188ca62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-pa-5.27.5.tar.xz">plasma-pa-5.27.5</a></td>
   <td align="right">159kB</td>
   <td><tt>c2ab3f73bfdeed68a5cda3bf72a67ef609bef1c3e96e43bab0a18df822d98188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-remotecontrollers-5.27.5.tar.xz">plasma-remotecontrollers-5.27.5</a></td>
   <td align="right">78kB</td>
   <td><tt>8c7afc00d19f24b266f6eb6c4edf0f11257a0088d6ed45534a76ab2bc9cda011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-sdk-5.27.5.tar.xz">plasma-sdk-5.27.5</a></td>
   <td align="right">313kB</td>
   <td><tt>f10245b27687bbd21b18e78267a1895aab9644722456a2b92fb54f7ca0b06915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-systemmonitor-5.27.5.tar.xz">plasma-systemmonitor-5.27.5</a></td>
   <td align="right">168kB</td>
   <td><tt>82e551398f208270f543d5f91be6f3f3b27b1ce9f2c0e90263f29f8d238b2e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-thunderbolt-5.27.5.tar.xz">plasma-thunderbolt-5.27.5</a></td>
   <td align="right">70kB</td>
   <td><tt>310564c501c6621c3d0f1421865d18839191bc82915ffba555a80214e0db90d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-vault-5.27.5.tar.xz">plasma-vault-5.27.5</a></td>
   <td align="right">182kB</td>
   <td><tt>74f22be02ae0e02cf2e9eb3fad62a5ca9fb5f984775455f6c7e1c6aa553527e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-welcome-5.27.5.tar.xz">plasma-welcome-5.27.5</a></td>
   <td align="right">803kB</td>
   <td><tt>cbc98ef1b003116976b605d9a88bd9027af0a5431de898bc459a31a142f4aeb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-workspace-5.27.5.tar.xz">plasma-workspace-5.27.5</a></td>
   <td align="right">18MB</td>
   <td><tt>ed0b95b2eefd0782ea652c2c6eed262e8eb91f97ff72925bb3f7e161d1f72a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plasma-workspace-wallpapers-5.27.5.tar.xz">plasma-workspace-wallpapers-5.27.5</a></td>
   <td align="right">89MB</td>
   <td><tt>23805edcc147377c7bd7444278e76327003d142f9c4048e3970000cb6f38c840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/plymouth-kcm-5.27.5.tar.xz">plymouth-kcm-5.27.5</a></td>
   <td align="right">44kB</td>
   <td><tt>596249b9df646d388d93a80459ecdfd77d1fa3dc070aa0c7ddf2fef9719d0064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/polkit-kde-agent-1-5.27.5.tar.xz">polkit-kde-agent-1-5.27.5</a></td>
   <td align="right">51kB</td>
   <td><tt>2ae3b4ff0c74d9f55fe85cb0fb8106401f0301a96760d0ffefb66161215a2a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/powerdevil-5.27.5.tar.xz">powerdevil-5.27.5</a></td>
   <td align="right">769kB</td>
   <td><tt>0379862c57efef4ce980f6c9583d66deafde1ed522f0e129aa50cef038fb500e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/qqc2-breeze-style-5.27.5.tar.xz">qqc2-breeze-style-5.27.5</a></td>
   <td align="right">64kB</td>
   <td><tt>90ca3dffa6b07fa937537a11dc5c5595fb5de6b9124c487764fb93036a2a986d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/sddm-kcm-5.27.5.tar.xz">sddm-kcm-5.27.5</a></td>
   <td align="right">89kB</td>
   <td><tt>5605f2dffe33b731b08ec51b7ef4cea8ec6fb796497ae46242fe8f40e8aa199a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/systemsettings-5.27.5.tar.xz">systemsettings-5.27.5</a></td>
   <td align="right">221kB</td>
   <td><tt>d5454eb0aaba331e724bd91650474bbe1658f26fcc543ab7804186bccf50b4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.5/xdg-desktop-portal-kde-5.27.5.tar.xz">xdg-desktop-portal-kde-5.27.5</a></td>
   <td align="right">137kB</td>
   <td><tt>7cfa3f24cff9b18baeef245e122f969092a89c41d872ea5a8df628061d8f1aab</tt></td>
</tr>

</table>
