
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/attica-5.48.0.tar.xz">attica-5.48.0</a></td>
   <td align="right">60kB</td>
   <td><tt>1b72dac15aa34568982da5623574b36359f49329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/baloo-5.48.0.tar.xz">baloo-5.48.0</a></td>
   <td align="right">225kB</td>
   <td><tt>44284ef06fd92a33fc9a3993e419975817b496cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/bluez-qt-5.48.0.tar.xz">bluez-qt-5.48.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1da1df634547f4981397e57ded3b60143e8e15a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/breeze-icons-5.48.0.tar.xz">breeze-icons-5.48.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e3f313154cc7b1b5bce253ed167bb4025e23e193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/extra-cmake-modules-5.48.0.tar.xz">extra-cmake-modules-5.48.0</a></td>
   <td align="right">310kB</td>
   <td><tt>a77a5d51a9209c60cb78854c33b46fbe388cb396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/frameworkintegration-5.48.0.tar.xz">frameworkintegration-5.48.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2335ffc3df2177d920db368599a9c0dae73d71bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kactivities-5.48.0.tar.xz">kactivities-5.48.0</a></td>
   <td align="right">59kB</td>
   <td><tt>d0b8e6614fd9a79f429d5f57ec4ca90bae134748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kactivities-stats-5.48.0.tar.xz">kactivities-stats-5.48.0</a></td>
   <td align="right">59kB</td>
   <td><tt>3f9f38bdf1d2bff2a8d4d513ac8c1982a101abf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kapidox-5.48.0.tar.xz">kapidox-5.48.0</a></td>
   <td align="right">387kB</td>
   <td><tt>e084f6e7576187e54bdcb541713df1c6ca84c761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/karchive-5.48.0.tar.xz">karchive-5.48.0</a></td>
   <td align="right">428kB</td>
   <td><tt>63008cce77e16900c693f5f8f1af96f3bdd742ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kauth-5.48.0.tar.xz">kauth-5.48.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ce56151d7bc261efc3b7764e0021011d26fd3e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kbookmarks-5.48.0.tar.xz">kbookmarks-5.48.0</a></td>
   <td align="right">115kB</td>
   <td><tt>c6e26d2fca04fa6a64dfedce07f9020f7351b3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kcmutils-5.48.0.tar.xz">kcmutils-5.48.0</a></td>
   <td align="right">231kB</td>
   <td><tt>50c17cb3a6c984cdd7b9cead93f0f56478c8c328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kcodecs-5.48.0.tar.xz">kcodecs-5.48.0</a></td>
   <td align="right">214kB</td>
   <td><tt>17769c229b7e5ef0af841904f379bed91bbd94ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kcompletion-5.48.0.tar.xz">kcompletion-5.48.0</a></td>
   <td align="right">112kB</td>
   <td><tt>c40661a22b4b853a8693d980a154565d11b2a867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kconfig-5.48.0.tar.xz">kconfig-5.48.0</a></td>
   <td align="right">230kB</td>
   <td><tt>5ee559c05353a51498040763c5d9c371e6938f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kconfigwidgets-5.48.0.tar.xz">kconfigwidgets-5.48.0</a></td>
   <td align="right">366kB</td>
   <td><tt>be8867f17bb65c79058d74f680b2afaf5fbd0405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kcoreaddons-5.48.0.tar.xz">kcoreaddons-5.48.0</a></td>
   <td align="right">341kB</td>
   <td><tt>8192e9b2e61aa0cefb51603367be34af8ba99bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kcrash-5.48.0.tar.xz">kcrash-5.48.0</a></td>
   <td align="right">21kB</td>
   <td><tt>1b29dc7b9b48cae42cc1cfb23a16a81dcfed5f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdbusaddons-5.48.0.tar.xz">kdbusaddons-5.48.0</a></td>
   <td align="right">36kB</td>
   <td><tt>46a9ca92ca81b74fed2dd7e57c8530d0b6062a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdeclarative-5.48.0.tar.xz">kdeclarative-5.48.0</a></td>
   <td align="right">167kB</td>
   <td><tt>36d39888c18241fb0dbc5103246481efea613bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kded-5.48.0.tar.xz">kded-5.48.0</a></td>
   <td align="right">36kB</td>
   <td><tt>162538f89b27a77bdc72d923dec2dead36cb6d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdesignerplugin-5.48.0.tar.xz">kdesignerplugin-5.48.0</a></td>
   <td align="right">88kB</td>
   <td><tt>f4591662b1087da362f9a57417a0a723ce8a5b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdesu-5.48.0.tar.xz">kdesu-5.48.0</a></td>
   <td align="right">43kB</td>
   <td><tt>a6143ecb9de8458d7de581b9221d453352a121ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdewebkit-5.48.0.tar.xz">kdewebkit-5.48.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6e1ac07559f50ce934e57c4c8ff757aea506ed23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdnssd-5.48.0.tar.xz">kdnssd-5.48.0</a></td>
   <td align="right">55kB</td>
   <td><tt>4344a73589c553a674c437e72a008729a2ea7a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kdoctools-5.48.0.tar.xz">kdoctools-5.48.0</a></td>
   <td align="right">413kB</td>
   <td><tt>6fa40d656309acbd8649c78b191adddab527d8a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kemoticons-5.48.0.tar.xz">kemoticons-5.48.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9ec67b22b55d0b3fe8b7fa2e4c563e2f89599ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kfilemetadata-5.48.0.tar.xz">kfilemetadata-5.48.0</a></td>
   <td align="right">252kB</td>
   <td><tt>a147b8d6cd0cca34da8a5588dc448d5db0ac2d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kglobalaccel-5.48.0.tar.xz">kglobalaccel-5.48.0</a></td>
   <td align="right">81kB</td>
   <td><tt>39543c2ba765779e80a341d57ca790c9cb4b8262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kguiaddons-5.48.0.tar.xz">kguiaddons-5.48.0</a></td>
   <td align="right">39kB</td>
   <td><tt>2b311b23441a9f8e64cfc8b7d943d3fa442e3830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kholidays-5.48.0.tar.xz">kholidays-5.48.0</a></td>
   <td align="right">194kB</td>
   <td><tt>8ff0204ce395bbc96e729bb1c966ed18ad299374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/ki18n-5.48.0.tar.xz">ki18n-5.48.0</a></td>
   <td align="right">572kB</td>
   <td><tt>082f35bdbe3a4c6bced7508dcf5480bf6240f535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kiconthemes-5.48.0.tar.xz">kiconthemes-5.48.0</a></td>
   <td align="right">202kB</td>
   <td><tt>947ab31a6a3186fe53c909869405f3221c348148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kidletime-5.48.0.tar.xz">kidletime-5.48.0</a></td>
   <td align="right">25kB</td>
   <td><tt>791c7e581b1a9e51f3b48d122364f97c4e5c7c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kimageformats-5.48.0.tar.xz">kimageformats-5.48.0</a></td>
   <td align="right">199kB</td>
   <td><tt>a5937f7234cc65677bdd9d119d07666f7f167daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kinit-5.48.0.tar.xz">kinit-5.48.0</a></td>
   <td align="right">117kB</td>
   <td><tt>f1844ee6eb2dca41a4d342ee646f0ef3bd781c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kio-5.48.0.tar.xz">kio-5.48.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>70bdf9606c98152505248481c7927cbc006ce6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kirigami2-5.48.0.tar.xz">kirigami2-5.48.0</a></td>
   <td align="right">316kB</td>
   <td><tt>3b5e6cfef60ebff0a1979782db213943c5feb0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kitemmodels-5.48.0.tar.xz">kitemmodels-5.48.0</a></td>
   <td align="right">381kB</td>
   <td><tt>0304e5beb48466f9063b514cf24e451026698d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kitemviews-5.48.0.tar.xz">kitemviews-5.48.0</a></td>
   <td align="right">73kB</td>
   <td><tt>6b60d96b6987e061fcd5fc246967a359ed9f3669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kjobwidgets-5.48.0.tar.xz">kjobwidgets-5.48.0</a></td>
   <td align="right">85kB</td>
   <td><tt>ee7d359137a40c971c6a7f53a24a35c8b1f8f812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/knewstuff-5.48.0.tar.xz">knewstuff-5.48.0</a></td>
   <td align="right">977kB</td>
   <td><tt>f7333603223f61ae860f9ccf7c65d35d9d8c1066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/knotifications-5.48.0.tar.xz">knotifications-5.48.0</a></td>
   <td align="right">98kB</td>
   <td><tt>dec19024b0878d509fe36f26486a4f990ef18a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/knotifyconfig-5.48.0.tar.xz">knotifyconfig-5.48.0</a></td>
   <td align="right">81kB</td>
   <td><tt>2676bf49595d21bcfa6882fbe2d0ecc73909d525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kpackage-5.48.0.tar.xz">kpackage-5.48.0</a></td>
   <td align="right">129kB</td>
   <td><tt>f94471240d475ebebac25dc24ac80de625c7a1b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kparts-5.48.0.tar.xz">kparts-5.48.0</a></td>
   <td align="right">171kB</td>
   <td><tt>d783537959958544e41207421a14922f9115a7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kpeople-5.48.0.tar.xz">kpeople-5.48.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8c114ffc8d0c3117984f4f4644dcfdfc2229ee09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kplotting-5.48.0.tar.xz">kplotting-5.48.0</a></td>
   <td align="right">29kB</td>
   <td><tt>e40c9380f43e49edfda1a42b984d798650daa1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kpty-5.48.0.tar.xz">kpty-5.48.0</a></td>
   <td align="right">56kB</td>
   <td><tt>12d7271672f0273734a13bc1e68eedade15e1dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/krunner-5.48.0.tar.xz">krunner-5.48.0</a></td>
   <td align="right">60kB</td>
   <td><tt>444964a484f78a0c5a58cafc59b5db5129558ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kservice-5.48.0.tar.xz">kservice-5.48.0</a></td>
   <td align="right">243kB</td>
   <td><tt>d7f7a9482ecc925526c891c28c4511a10e4638c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/ktexteditor-5.48.0.tar.xz">ktexteditor-5.48.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>78c0545dc810954b24cfbf52aceed6b28c857262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/ktextwidgets-5.48.0.tar.xz">ktextwidgets-5.48.0</a></td>
   <td align="right">301kB</td>
   <td><tt>8dd768f305f33f135f4d11339761d81d3d9ad66e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kunitconversion-5.48.0.tar.xz">kunitconversion-5.48.0</a></td>
   <td align="right">755kB</td>
   <td><tt>885d4beb75a8c8c71ae4b3dd86360d440a8fb694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kwallet-5.48.0.tar.xz">kwallet-5.48.0</a></td>
   <td align="right">299kB</td>
   <td><tt>eef2b50d966c9d90575e3df784a25f46c31bfd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kwayland-5.48.0.tar.xz">kwayland-5.48.0</a></td>
   <td align="right">301kB</td>
   <td><tt>c6aa777ad81b94ddaaa94d1fb95df5606bc37abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kwidgetsaddons-5.48.0.tar.xz">kwidgetsaddons-5.48.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>66cfe95a3f3f2027558d75f9fae643b0b0924063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kwindowsystem-5.48.0.tar.xz">kwindowsystem-5.48.0</a></td>
   <td align="right">165kB</td>
   <td><tt>0c28123b50238d176348d0bf057476b64e1a7442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kxmlgui-5.48.0.tar.xz">kxmlgui-5.48.0</a></td>
   <td align="right">863kB</td>
   <td><tt>fbeec3a14d5bfc80cbc5bc1878022be5449c1b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/kxmlrpcclient-5.48.0.tar.xz">kxmlrpcclient-5.48.0</a></td>
   <td align="right">28kB</td>
   <td><tt>98a30f442fde8df131b44b26ba8538820de6cd56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/modemmanager-qt-5.48.0.tar.xz">modemmanager-qt-5.48.0</a></td>
   <td align="right">98kB</td>
   <td><tt>d039e477382971c6f10f7f74c019757160b4a7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/networkmanager-qt-5.48.0.tar.xz">networkmanager-qt-5.48.0</a></td>
   <td align="right">159kB</td>
   <td><tt>58f410957fae2c6e100bcf0d90665ba6a21b2ac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/oxygen-icons5-5.48.0.tar.xz">oxygen-icons5-5.48.0</a></td>
   <td align="right">225MB</td>
   <td><tt>20adc9ce83b08aece1307dea73d47be2bf929f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/plasma-framework-5.48.0.tar.xz">plasma-framework-5.48.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dfea411cd065d01936836e52a8307a288fe5a5de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/prison-5.48.0.tar.xz">prison-5.48.0</a></td>
   <td align="right">38kB</td>
   <td><tt>77036207c1546eb37dc8c8908900995840324050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/purpose-5.48.0.tar.xz">purpose-5.48.0</a></td>
   <td align="right">130kB</td>
   <td><tt>9461ae9446fce564f0efbaa7d03824bdbb8247a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/qqc2-desktop-style-5.48.0.tar.xz">qqc2-desktop-style-5.48.0</a></td>
   <td align="right">40kB</td>
   <td><tt>964cb0a20dbcbfafdca47d1e16bbcd448a436737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/solid-5.48.0.tar.xz">solid-5.48.0</a></td>
   <td align="right">252kB</td>
   <td><tt>0457b763fcd8438e5cf77af729b01cac949c2d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/sonnet-5.48.0.tar.xz">sonnet-5.48.0</a></td>
   <td align="right">279kB</td>
   <td><tt>0fcb01e8def906d7cea8bcf976c4e206f183cdbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/syntax-highlighting-5.48.0.tar.xz">syntax-highlighting-5.48.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0afaca4e329b4a3d8d25aaba41423ce66309a1cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.48/threadweaver-5.48.0.tar.xz">threadweaver-5.48.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6461edeac488493faa06f6fa987068367eb90611</tt></td>
</tr>

</table>
