
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/attica-5.4.0.tar.xz">attica-5.4.0</a></td>
   <td align="right">58kB</td>
   <td><tt>92d9a81228f167aa4ab26babc4206e886e6c5586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/extra-cmake-modules-1.4.0.tar.xz">extra-cmake-modules-1.4.0</a></td>
   <td align="right">118kB</td>
   <td><tt>52d75633d52bdde56b1b60551f76991ed5d97b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/frameworkintegration-5.4.0.tar.xz">frameworkintegration-5.4.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0f974ba55605b9f240bb155b1b25fa749d9afd24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kactivities-5.4.0.tar.xz">kactivities-5.4.0</a></td>
   <td align="right">107kB</td>
   <td><tt>2e9961791f02335f9bbc951ff312ec4d59bcfd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kapidox-5.4.0.tar.xz">kapidox-5.4.0</a></td>
   <td align="right">127kB</td>
   <td><tt>140a3b9cccb8a09e1e9c62ec24ac7102bb3f437f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/karchive-5.4.0.tar.xz">karchive-5.4.0</a></td>
   <td align="right">105kB</td>
   <td><tt>e089e1a0a9b821810c98182efd5fa5976bbc4e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kauth-5.4.0.tar.xz">kauth-5.4.0</a></td>
   <td align="right">78kB</td>
   <td><tt>cc7ca2d794278d6f9417e0f1685af26bbb26c1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kbookmarks-5.4.0.tar.xz">kbookmarks-5.4.0</a></td>
   <td align="right">111kB</td>
   <td><tt>4cc2f647d92213e574b758fe21d814863c464193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kcmutils-5.4.0.tar.xz">kcmutils-5.4.0</a></td>
   <td align="right">225kB</td>
   <td><tt>04d3589c5579bb8dfb3dcc5df81cf50863308763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kcodecs-5.4.0.tar.xz">kcodecs-5.4.0</a></td>
   <td align="right">169kB</td>
   <td><tt>8a5b5a979853dc67ad2fae0f389965eba83e430e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kcompletion-5.4.0.tar.xz">kcompletion-5.4.0</a></td>
   <td align="right">112kB</td>
   <td><tt>3016a96892c752b048fbf554d312f68ae10b1aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kconfig-5.4.0.tar.xz">kconfig-5.4.0</a></td>
   <td align="right">206kB</td>
   <td><tt>acbb148eafd43a5cc48cb536b4408c287f4ac04e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kconfigwidgets-5.4.0.tar.xz">kconfigwidgets-5.4.0</a></td>
   <td align="right">341kB</td>
   <td><tt>03d925c2bce0413a812415f8d896d322859e5410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kcoreaddons-5.4.0.tar.xz">kcoreaddons-5.4.0</a></td>
   <td align="right">278kB</td>
   <td><tt>73ad286e44232d88cb16d4add585262e2bd4a0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kcrash-5.4.0.tar.xz">kcrash-5.4.0</a></td>
   <td align="right">19kB</td>
   <td><tt>ae04eead1cd80da8cc375d0ade100adf9aa0d68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdbusaddons-5.4.0.tar.xz">kdbusaddons-5.4.0</a></td>
   <td align="right">30kB</td>
   <td><tt>2ea12bdfc0b83a97706061503afbb1298d8b3936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdeclarative-5.4.0.tar.xz">kdeclarative-5.4.0</a></td>
   <td align="right">97kB</td>
   <td><tt>d093ffdbdc79a116c130bd4c7d5136fc37849f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kded-5.4.0.tar.xz">kded-5.4.0</a></td>
   <td align="right">31kB</td>
   <td><tt>e1d1496da0bc8881d0c615dd1cdf2995f78ab061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdesignerplugin-5.4.0.tar.xz">kdesignerplugin-5.4.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b2ec79927f500cc76d1775f7c7e48673a8bc051f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdesu-5.4.0.tar.xz">kdesu-5.4.0</a></td>
   <td align="right">41kB</td>
   <td><tt>bbe8d7700ba1d5ca77068ddb45444e1163283063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdewebkit-5.4.0.tar.xz">kdewebkit-5.4.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f0bf04559571a49ecee67b88e602f4c7935d4b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdnssd-5.4.0.tar.xz">kdnssd-5.4.0</a></td>
   <td align="right">54kB</td>
   <td><tt>68d89bfbaa3daa232fa307962ea05c70e91b5bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kdoctools-5.4.0.tar.xz">kdoctools-5.4.0</a></td>
   <td align="right">380kB</td>
   <td><tt>0fdbb29791fbe6c2a4c1deb0ff7cf18ec505a769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kemoticons-5.4.0.tar.xz">kemoticons-5.4.0</a></td>
   <td align="right">70kB</td>
   <td><tt>2a35961117fc67d2b2d7e11891b7ecd531c1ff3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kglobalaccel-5.4.0.tar.xz">kglobalaccel-5.4.0</a></td>
   <td align="right">57kB</td>
   <td><tt>8f37d5bd3243713660040862f8d4aa34688200ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kguiaddons-5.4.0.tar.xz">kguiaddons-5.4.0</a></td>
   <td align="right">38kB</td>
   <td><tt>76baf7bee1320526d8f457228c64612febaf9bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/ki18n-5.4.0.tar.xz">ki18n-5.4.0</a></td>
   <td align="right">564kB</td>
   <td><tt>4f88e7cb6c86237d97ff9c5f9d40609b36571273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kiconthemes-5.4.0.tar.xz">kiconthemes-5.4.0</a></td>
   <td align="right">189kB</td>
   <td><tt>2ead604cbc39441e8627f6e9da798bfb8204deb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kidletime-5.4.0.tar.xz">kidletime-5.4.0</a></td>
   <td align="right">22kB</td>
   <td><tt>6e7ecad2666a3f1b5efbdaf01d2286446c18d2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kimageformats-5.4.0.tar.xz">kimageformats-5.4.0</a></td>
   <td align="right">90kB</td>
   <td><tt>1556475f43d3c846ef6dd3cf3adaba5106189fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kinit-5.4.0.tar.xz">kinit-5.4.0</a></td>
   <td align="right">111kB</td>
   <td><tt>8126bcdc9d386b014bcf4cf053e8b1889f8c8ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kio-5.4.0.tar.xz">kio-5.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1e2a98270d3a200490f70e5a278086703e6b0777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kitemmodels-5.4.0.tar.xz">kitemmodels-5.4.0</a></td>
   <td align="right">361kB</td>
   <td><tt>bce56d499ea2c2c3e97df3a2a61e60e539a6aeba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kitemviews-5.4.0.tar.xz">kitemviews-5.4.0</a></td>
   <td align="right">71kB</td>
   <td><tt>38638c4f87f5e8eed8c72c859b6fd1794055e33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kjobwidgets-5.4.0.tar.xz">kjobwidgets-5.4.0</a></td>
   <td align="right">86kB</td>
   <td><tt>6c3690dea824437aed94569b5bd9d2f4611cb8bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/knewstuff-5.4.0.tar.xz">knewstuff-5.4.0</a></td>
   <td align="right">400kB</td>
   <td><tt>4dba3efcea7e3ffdf5096a40388c171a13d61720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/knotifications-5.4.0.tar.xz">knotifications-5.4.0</a></td>
   <td align="right">90kB</td>
   <td><tt>70402918160d3fb3c9a9a4d69967f1768cc86850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/knotifyconfig-5.4.0.tar.xz">knotifyconfig-5.4.0</a></td>
   <td align="right">77kB</td>
   <td><tt>7f1a2f3b36bf0e7e80d0cd9da2f75602930211bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kparts-5.4.0.tar.xz">kparts-5.4.0</a></td>
   <td align="right">149kB</td>
   <td><tt>b40c01e60ddd0ef8e30bd92b8cfbca2b615dbf3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kplotting-5.4.0.tar.xz">kplotting-5.4.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b3954b025f8270dca27baad2ced629377ba31676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kpty-5.4.0.tar.xz">kpty-5.4.0</a></td>
   <td align="right">54kB</td>
   <td><tt>342e53e6e350ec0cdb904b288dc470101207da0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kservice-5.4.0.tar.xz">kservice-5.4.0</a></td>
   <td align="right">251kB</td>
   <td><tt>c45bf621ad1a1257e0e3c41e2f5b0af616f6f89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/ktexteditor-5.4.0.tar.xz">ktexteditor-5.4.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d47023668bd69fd94c911d9ef9a2338c5a1a2e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/ktextwidgets-5.4.0.tar.xz">ktextwidgets-5.4.0</a></td>
   <td align="right">296kB</td>
   <td><tt>dc850105dc9f6ee540fec88de78a8c800c3b6fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kunitconversion-5.4.0.tar.xz">kunitconversion-5.4.0</a></td>
   <td align="right">595kB</td>
   <td><tt>407848b67aab1198886f4dd7f85f5001d35c410c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kwallet-5.4.0.tar.xz">kwallet-5.4.0</a></td>
   <td align="right">258kB</td>
   <td><tt>6d0d867df58bf072749061a58c380c57975b6dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kwidgetsaddons-5.4.0.tar.xz">kwidgetsaddons-5.4.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9ccfdf7078d83eec7da95d171c7e74ae99bd801f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kwindowsystem-5.4.0.tar.xz">kwindowsystem-5.4.0</a></td>
   <td align="right">154kB</td>
   <td><tt>b8d92a721d3dd35eaa2f51c6b8c7509708e1e051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/kxmlgui-5.4.0.tar.xz">kxmlgui-5.4.0</a></td>
   <td align="right">869kB</td>
   <td><tt>b788df16f4c1655c48ef20d3b9c06abf66d6f3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/plasma-framework-5.4.0.tar.xz">plasma-framework-5.4.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>bcade116770407081ab17c260b8cc7ec62b55d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/solid-5.4.0.tar.xz">solid-5.4.0</a></td>
   <td align="right">253kB</td>
   <td><tt>33fa38baa925707dac1597495cd8d0d5a634c31b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/sonnet-5.4.0.tar.xz">sonnet-5.4.0</a></td>
   <td align="right">266kB</td>
   <td><tt>9c3d3c7d5d27010344c09529a9126908f6d70f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.4/threadweaver-5.4.0.tar.xz">threadweaver-5.4.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6acb50976df3150e646cd0f368a1a5b09afc4b14</tt></td>
</tr>

</table>
