<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/bluedevil-5.12.5.tar.xz">bluedevil-5.12.5</a></td>
   <td align="right">146kB</td>
   <td><tt>4a5cdcc3461cb36b82b95224e8646c2f8653ea73093812b355973c62dede5d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/breeze-5.12.5.tar.xz">breeze-5.12.5</a></td>
   <td align="right">21MB</td>
   <td><tt>764c1d174f5a2844a7144995b05b179a2d161d65f74d45ca353b524807f6aff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/breeze-grub-5.12.5.tar.xz">breeze-grub-5.12.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4d497a8cdb0eaace2cfd43269de1cc333448da89f0ac76c5c40c2f456a172ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/breeze-gtk-5.12.5.tar.xz">breeze-gtk-5.12.5</a></td>
   <td align="right">208kB</td>
   <td><tt>0db73bfc28a07574f549808b7f6a2f832bf87b4773ee0a124573269307f98000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/breeze-plymouth-5.12.5.tar.xz">breeze-plymouth-5.12.5</a></td>
   <td align="right">103kB</td>
   <td><tt>097f069d9c8c0ef2d987cd9c57f15bcb46abc48eeacb0370ab3c0734f1274094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/discover-5.12.5.1.tar.xz">discover-5.12.5.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>8af9604f79d532ea68d4b1a5a2edddfb32f2890c91fc94af4b6f0bb5009f623a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/drkonqi-5.12.5.tar.xz">drkonqi-5.12.5</a></td>
   <td align="right">720kB</td>
   <td><tt>d8b171b4e7ba3f4535950aca3531080c9bc25d1c17de7637452ca9c21ece602b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kactivitymanagerd-5.12.5.tar.xz">kactivitymanagerd-5.12.5</a></td>
   <td align="right">83kB</td>
   <td><tt>418a69f9530750d40a4beb9c21b39b77c8c13d19474a1e524b954e77886ff4d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kde-cli-tools-5.12.5.tar.xz">kde-cli-tools-5.12.5</a></td>
   <td align="right">558kB</td>
   <td><tt>905e5ad02a68743674f89bf705ffc32e0772704fee5023e5be068f2e6e6a403f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kdecoration-5.12.5.tar.xz">kdecoration-5.12.5</a></td>
   <td align="right">34kB</td>
   <td><tt>6db0aef51293d60a3a543e88725b85cdbc1d3fbdc2e79a88af8c073d2abea561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kde-gtk-config-5.12.5.tar.xz">kde-gtk-config-5.12.5</a></td>
   <td align="right">153kB</td>
   <td><tt>d0b62218b50de53018165616d7aba245b8a3fa394ed2834e9d0d945dd0bcbbdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kdeplasma-addons-5.12.5.tar.xz">kdeplasma-addons-5.12.5</a></td>
   <td align="right">553kB</td>
   <td><tt>5af0b5e5e47a18abbb8c8e563598d3e9b99db57617faa6d7bf668188afd2698c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kgamma5-5.12.5.tar.xz">kgamma5-5.12.5</a></td>
   <td align="right">59kB</td>
   <td><tt>2c9cc29257ef3b9b6f0b411c0070b643e84f13e238c66d6def873f2bff469d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/khotkeys-5.12.5.tar.xz">khotkeys-5.12.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ef4f0a7081441e58993cacde1593e3e8dd6c440cbddba56c6d091af340803bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kinfocenter-5.12.5.tar.xz">kinfocenter-5.12.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>65190f1ca25960c08367c4be52608b43d98a26d4f016bfdfcee44997c88482bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kmenuedit-5.12.5.tar.xz">kmenuedit-5.12.5</a></td>
   <td align="right">636kB</td>
   <td><tt>7cd2336639d734fece7c8e617238bf8a608e495441102e6d0acae2158316786d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kscreen-5.12.5.tar.xz">kscreen-5.12.5</a></td>
   <td align="right">115kB</td>
   <td><tt>1468c4bf0e781122eb0087c3b6fcee9c75da310fa1838c93f0dcfe1af7f14cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kscreenlocker-5.12.5.tar.xz">kscreenlocker-5.12.5</a></td>
   <td align="right">115kB</td>
   <td><tt>b86d1d725212b5250dada0f7d69a34e52d0170940177703e82a365b89d9d8822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/ksshaskpass-5.12.5.tar.xz">ksshaskpass-5.12.5</a></td>
   <td align="right">20kB</td>
   <td><tt>c41b3c18fd093a885deed90fe9d67e19920876fbed82d8bb108e36c712b8f86d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/ksysguard-5.12.5.tar.xz">ksysguard-5.12.5</a></td>
   <td align="right">475kB</td>
   <td><tt>1b5b81c9818881edcd4b366801a67583ebdd6444aa20a55ccb52eed1a7269087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kwallet-pam-5.12.5.tar.xz">kwallet-pam-5.12.5</a></td>
   <td align="right">18kB</td>
   <td><tt>6374132fe2d142c9eb999e90c636b973fe9715335de3cfa86f0b5f4258d5eba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kwayland-integration-5.12.5.tar.xz">kwayland-integration-5.12.5</a></td>
   <td align="right">18kB</td>
   <td><tt>e363bdcc70ff0a93b1350980ac6f638fcf73224a6f4b1c75bb3058c13dd60c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kwin-5.12.5.tar.xz">kwin-5.12.5</a></td>
   <td align="right">4.7MB</td>
   <td><tt>433a40e8565d260d8ec4259d7ce4ec28ef4e4d37f4273bd60aff127a418275d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/kwrited-5.12.5.tar.xz">kwrited-5.12.5</a></td>
   <td align="right">19kB</td>
   <td><tt>bf2ee7d7938c675bd485953bfe2ded9a824b391b26d2a8139d8f6fc2499e746f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/libkscreen-5.12.5.tar.xz">libkscreen-5.12.5</a></td>
   <td align="right">92kB</td>
   <td><tt>64490d5cc666251b78d2aa42db9f4160d8494807f2777afa1fb46cda2764ed43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/libksysguard-5.12.5.tar.xz">libksysguard-5.12.5</a></td>
   <td align="right">556kB</td>
   <td><tt>a9cf21eb3a47ca8cd4d3152bb016c383d1f081cab22ebfbbfa1e77517a1f6e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/milou-5.12.5.tar.xz">milou-5.12.5</a></td>
   <td align="right">56kB</td>
   <td><tt>cc852ca431edfe6f66a60983a722eac3bed1160a1f5f1ff85bf8e7032b9f1f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/oxygen-5.12.5.tar.xz">oxygen-5.12.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>94c4b5a5a975605c38dceeba8c584af1f0310f54073d68b95e195764f75c660c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-desktop-5.12.5.tar.xz">plasma-desktop-5.12.5</a></td>
   <td align="right">8.1MB</td>
   <td><tt>a655cbb76df219a05d56013df7abcd591506f3d3b2ee78b9a19f3a3f2c92a766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-integration-5.12.5.tar.xz">plasma-integration-5.12.5</a></td>
   <td align="right">52kB</td>
   <td><tt>552391c878bfd14f1fd21bbf9e704f24e52259280a5f88ca8b3b77f9cd8f2c92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-nm-5.12.5.tar.xz">plasma-nm-5.12.5</a></td>
   <td align="right">686kB</td>
   <td><tt>46bbc3a63b1b1480325eada1ca115f16fee8d03930e92ea8e79947d65e6a96ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-pa-5.12.5.tar.xz">plasma-pa-5.12.5</a></td>
   <td align="right">84kB</td>
   <td><tt>adc966437d6ccf93051ebb037a9d39b06e26f31a8e221e3c7e72e56b29d4e98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-sdk-5.12.5.tar.xz">plasma-sdk-5.12.5</a></td>
   <td align="right">237kB</td>
   <td><tt>0ffc55af2bf18e238f13e51ccd588634fdd78c64e5e60eb55901c3398c8e3c67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-tests-5.12.5.tar.xz">plasma-tests-5.12.5</a></td>
   <td align="right">1kB</td>
   <td><tt>3276484343c06aa22816a2c0955f715a57fb07a7c9200ffd8dc1e1e14fa408e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-vault-5.12.5.tar.xz">plasma-vault-5.12.5</a></td>
   <td align="right">102kB</td>
   <td><tt>2d4027ee1e21a2c0698a56e17aacdf871a2ea6f0e4bd2e3c7459eb7919d63c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-workspace-5.12.5.tar.xz">plasma-workspace-5.12.5</a></td>
   <td align="right">4.3MB</td>
   <td><tt>93b70f559818d685dedf3c3f33d53eb4d9dc9892379c9040859349e385b8c5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plasma-workspace-wallpapers-5.12.5.tar.xz">plasma-workspace-wallpapers-5.12.5</a></td>
   <td align="right">43MB</td>
   <td><tt>47195c111ab7d1b3f769d1929192341929b8d00e1036d7b8bc4000dea662d3dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/plymouth-kcm-5.12.5.tar.xz">plymouth-kcm-5.12.5</a></td>
   <td align="right">38kB</td>
   <td><tt>29824b1252ce691bd247cc91a49a5def2a86f47443a01edb2e6f9d26d25962bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/polkit-kde-agent-1-5.12.5.tar.xz">polkit-kde-agent-1-5.12.5</a></td>
   <td align="right">40kB</td>
   <td><tt>2ea6ed52ddab7678a8ee3a40c1eb782df9e8ebd4e52c2ce188823921e1bff406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/powerdevil-5.12.5.tar.xz">powerdevil-5.12.5</a></td>
   <td align="right">373kB</td>
   <td><tt>53b61cbeca71f959cb65b4593241a4d4c3f04bf6bca1e940f9173fec369ec31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/sddm-kcm-5.12.5.tar.xz">sddm-kcm-5.12.5</a></td>
   <td align="right">58kB</td>
   <td><tt>70fcc9ef64649457645ce4f6acc60147ca9e058d0f2b996731f0cc7cf0f6188f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/systemsettings-5.12.5.tar.xz">systemsettings-5.12.5</a></td>
   <td align="right">168kB</td>
   <td><tt>08128bfe1d946b8857ecb106fcc730132eb32d6256e596203558ebea7cfb9329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/user-manager-5.12.5.tar.xz">user-manager-5.12.5</a></td>
   <td align="right">532kB</td>
   <td><tt>200008fb88bef2b9555073fc290d86c7adc5ba9953b0c6a77e0238c317d3c694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.5/xdg-desktop-portal-kde-5.12.5.tar.xz">xdg-desktop-portal-kde-5.12.5</a></td>
   <td align="right">30kB</td>
   <td><tt>9b95cca03966538c23235d01851d3e15cab594eef282bb0f3001917ebae4b2e6</tt></td>
</tr>

</table>
