
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/attica-5.93.0.tar.xz">attica-5.93.0</a></td>
   <td align="right">67kB</td>
   <td><tt>815afef5b87481526ec07c88d828daf768d4dc75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/baloo-5.93.0.tar.xz">baloo-5.93.0</a></td>
   <td align="right">280kB</td>
   <td><tt>22fdf25d3d3058b2f8176ab0186547774578f39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/bluez-qt-5.93.0.tar.xz">bluez-qt-5.93.0</a></td>
   <td align="right">111kB</td>
   <td><tt>58a6533a2fb893f3b90ad92816daca75b37da729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/breeze-icons-5.93.0.tar.xz">breeze-icons-5.93.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>74fd3b9931a30d84f0ef07d66b144059b87f9508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/extra-cmake-modules-5.93.0.tar.xz">extra-cmake-modules-5.93.0</a></td>
   <td align="right">323kB</td>
   <td><tt>0554595c4fdb9a00ddb5e9c1e4658d4bd9e23507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/frameworkintegration-5.93.0.tar.xz">frameworkintegration-5.93.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d76a5ade50b459474235e2b7bff7a8be9351025d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kactivities-5.93.0.tar.xz">kactivities-5.93.0</a></td>
   <td align="right">72kB</td>
   <td><tt>ade60f23f03c833c6823241edb6c36d912c8174e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kactivities-stats-5.93.0.tar.xz">kactivities-stats-5.93.0</a></td>
   <td align="right">82kB</td>
   <td><tt>6f67a013a42fd219957f965da73b670fb083d4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kapidox-5.93.0.tar.xz">kapidox-5.93.0</a></td>
   <td align="right">192kB</td>
   <td><tt>702ff588d183b55c8205bde283be539964258a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/karchive-5.93.0.tar.xz">karchive-5.93.0</a></td>
   <td align="right">963kB</td>
   <td><tt>bcfd1bb615880453fc4d3ca6f0bf3dc41f9b8e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kauth-5.93.0.tar.xz">kauth-5.93.0</a></td>
   <td align="right">88kB</td>
   <td><tt>932ed02857481fd922986eeaf5a5b3640d982110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kbookmarks-5.93.0.tar.xz">kbookmarks-5.93.0</a></td>
   <td align="right">127kB</td>
   <td><tt>3c37f22d6c63f93df6130d23cb60f331724ef2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcalendarcore-5.93.0.tar.xz">kcalendarcore-5.93.0</a></td>
   <td align="right">258kB</td>
   <td><tt>9376030b0b75017787c53f935f2c2edbec150ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcmutils-5.93.0.tar.xz">kcmutils-5.93.0</a></td>
   <td align="right">168kB</td>
   <td><tt>e71d372d523155d2b827577f0bedfbc300bd57c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcodecs-5.93.0.tar.xz">kcodecs-5.93.0</a></td>
   <td align="right">231kB</td>
   <td><tt>7feeb59c9d97993b4018071313ae31081b19bcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcompletion-5.93.0.tar.xz">kcompletion-5.93.0</a></td>
   <td align="right">121kB</td>
   <td><tt>42af47e08d5e094be5625516554847779916ddb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kconfig-5.93.0.tar.xz">kconfig-5.93.0</a></td>
   <td align="right">275kB</td>
   <td><tt>85d1c3096eae505fb83e5aded4baa73656f88ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kconfigwidgets-5.93.0.tar.xz">kconfigwidgets-5.93.0</a></td>
   <td align="right">406kB</td>
   <td><tt>a957d4c8be163496c61a5a7ec626e70bdf761e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcontacts-5.93.0.tar.xz">kcontacts-5.93.0</a></td>
   <td align="right">188kB</td>
   <td><tt>714d9a088691a1136a41f572ba1c73eb591eadeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcoreaddons-5.93.0.tar.xz">kcoreaddons-5.93.0</a></td>
   <td align="right">444kB</td>
   <td><tt>b73bb2f2fe65868fc3d09be868dabc9fc1ecf835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kcrash-5.93.0.tar.xz">kcrash-5.93.0</a></td>
   <td align="right">27kB</td>
   <td><tt>7fc52acdfd3ce63410c9630abdffde6bc845b80a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdav-5.93.0.tar.xz">kdav-5.93.0</a></td>
   <td align="right">62kB</td>
   <td><tt>6b4eb9b96bcc34a9b0bc83a0e9e0857ac31ec25a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdbusaddons-5.93.0.tar.xz">kdbusaddons-5.93.0</a></td>
   <td align="right">46kB</td>
   <td><tt>576c46660be3d5d7086793ac2f9f039d35bbaacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdeclarative-5.93.0.tar.xz">kdeclarative-5.93.0</a></td>
   <td align="right">198kB</td>
   <td><tt>7eca5fb269ac5aa787cef98daecd0a1bbb98e34d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kded-5.93.0.tar.xz">kded-5.93.0</a></td>
   <td align="right">38kB</td>
   <td><tt>2d4cdaf7bc3d12c4baa090676c086c2b7476d0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdesu-5.93.0.tar.xz">kdesu-5.93.0</a></td>
   <td align="right">54kB</td>
   <td><tt>b4c23f84853cd4680fd928a4533627b8e61623b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdnssd-5.93.0.tar.xz">kdnssd-5.93.0</a></td>
   <td align="right">59kB</td>
   <td><tt>3c87f9d0bd1c2aae6c5aaf97139bdb99c9360db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kdoctools-5.93.0.tar.xz">kdoctools-5.93.0</a></td>
   <td align="right">430kB</td>
   <td><tt>ec795d0b672ccf9dab42c779c10068be12aa52dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kemoticons-5.93.0.tar.xz">kemoticons-5.93.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cf4bfc16d8f2cebb43bd48ff5987408bc72f0a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kfilemetadata-5.93.0.tar.xz">kfilemetadata-5.93.0</a></td>
   <td align="right">425kB</td>
   <td><tt>54b912d9a32581dd03b13a6c0e4c5a6854540931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kglobalaccel-5.93.0.tar.xz">kglobalaccel-5.93.0</a></td>
   <td align="right">91kB</td>
   <td><tt>b2af91588db64ec1d6162b1c32a99a731bc2f62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kguiaddons-5.93.0.tar.xz">kguiaddons-5.93.0</a></td>
   <td align="right">70kB</td>
   <td><tt>286faa6b5bccb227cb7a0d65806056818fe88f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kholidays-5.93.0.tar.xz">kholidays-5.93.0</a></td>
   <td align="right">230kB</td>
   <td><tt>37df22f62931e9cc27a57797a40f56bde4241f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/ki18n-5.93.0.tar.xz">ki18n-5.93.0</a></td>
   <td align="right">933kB</td>
   <td><tt>104b2adcfd633d95e87e1a2740f9f75b00ad9fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kiconthemes-5.93.0.tar.xz">kiconthemes-5.93.0</a></td>
   <td align="right">221kB</td>
   <td><tt>3c34c674258521bcf2d0f51a43949723c5f8cfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kidletime-5.93.0.tar.xz">kidletime-5.93.0</a></td>
   <td align="right">28kB</td>
   <td><tt>32215a485703ea929259e94c8ee52ccc14645dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kimageformats-5.93.0.tar.xz">kimageformats-5.93.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>add9a31840bcdb1309b6da7dce4883a2e4d3705e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kinit-5.93.0.tar.xz">kinit-5.93.0</a></td>
   <td align="right">116kB</td>
   <td><tt>49075e6f8db4d78724d2f13ed7b1597c846999b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kio-5.93.0.tar.xz">kio-5.93.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>63bfcfdd5e77580a74778901716ebf9625f673ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kirigami2-5.93.0.tar.xz">kirigami2-5.93.0</a></td>
   <td align="right">346kB</td>
   <td><tt>b6582a3432d428e2aeed4ceebe575f70f7503b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kitemmodels-5.93.0.tar.xz">kitemmodels-5.93.0</a></td>
   <td align="right">397kB</td>
   <td><tt>1e814f40ef3756b067478da89f48d4d99f6fbd14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kitemviews-5.93.0.tar.xz">kitemviews-5.93.0</a></td>
   <td align="right">75kB</td>
   <td><tt>bdecbc62d6529634811bce05bad2344c517efbfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kjobwidgets-5.93.0.tar.xz">kjobwidgets-5.93.0</a></td>
   <td align="right">99kB</td>
   <td><tt>a5e785dce460dc2a846248a64bea4d9c3d04403e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/knewstuff-5.93.0.tar.xz">knewstuff-5.93.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>129bbd63287dfe9441c9d63651cf915af2dc0d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/knotifications-5.93.0.tar.xz">knotifications-5.93.0</a></td>
   <td align="right">128kB</td>
   <td><tt>8288d992a3de6fac884fbfc4c7f564b24285c4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/knotifyconfig-5.93.0.tar.xz">knotifyconfig-5.93.0</a></td>
   <td align="right">85kB</td>
   <td><tt>6e54f39e7105e00beca361fb7dd1a7173ecaa268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kpackage-5.93.0.tar.xz">kpackage-5.93.0</a></td>
   <td align="right">138kB</td>
   <td><tt>8efc5369ba797a505793494f38f4639ec9067332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kparts-5.93.0.tar.xz">kparts-5.93.0</a></td>
   <td align="right">192kB</td>
   <td><tt>09f3024a4062f3f47df92a5a92933262fc17ad17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kpeople-5.93.0.tar.xz">kpeople-5.93.0</a></td>
   <td align="right">57kB</td>
   <td><tt>81e296fbc8b97b717522c0c675e20dbb1f274ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kplotting-5.93.0.tar.xz">kplotting-5.93.0</a></td>
   <td align="right">32kB</td>
   <td><tt>bf6251e47758cf4fb1b6b73fd6dbef43220cf0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kpty-5.93.0.tar.xz">kpty-5.93.0</a></td>
   <td align="right">57kB</td>
   <td><tt>99d86b7a0d064c027025431db00f9c0ef1ee922a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kquickcharts-5.93.0.tar.xz">kquickcharts-5.93.0</a></td>
   <td align="right">106kB</td>
   <td><tt>2c05ba1b4d92a89a9667f4bee1ec1859dff1896f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/krunner-5.93.0.tar.xz">krunner-5.93.0</a></td>
   <td align="right">84kB</td>
   <td><tt>f506a61bb23d11e116d02bcb22dfa8ae0f2ded4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kservice-5.93.0.tar.xz">kservice-5.93.0</a></td>
   <td align="right">261kB</td>
   <td><tt>9e9186487eba6c8a8d60b6f3eba71758101c6931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/ktexteditor-5.93.0.tar.xz">ktexteditor-5.93.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3ad02aa33f5e9e58f10022f33afe78a2eaca618a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/ktextwidgets-5.93.0.tar.xz">ktextwidgets-5.93.0</a></td>
   <td align="right">321kB</td>
   <td><tt>80ca49e29beaefeec68a6c278253e8e42761d489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kunitconversion-5.93.0.tar.xz">kunitconversion-5.93.0</a></td>
   <td align="right">871kB</td>
   <td><tt>99626ed3074b8cdd504d165eecac12150f1fb4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kwallet-5.93.0.tar.xz">kwallet-5.93.0</a></td>
   <td align="right">298kB</td>
   <td><tt>ad6612d03feb9fa515e3fef1fe6d39153bc31d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kwayland-5.93.0.tar.xz">kwayland-5.93.0</a></td>
   <td align="right">327kB</td>
   <td><tt>b97e83a4dc996ff0bbe68de32d4dd729c61d0f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kwidgetsaddons-5.93.0.tar.xz">kwidgetsaddons-5.93.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e1547fa5b8f47ac0b39af3fe5f1f4e13c5bab639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kwindowsystem-5.93.0.tar.xz">kwindowsystem-5.93.0</a></td>
   <td align="right">177kB</td>
   <td><tt>51f62a3a28433f7f0943a2338d2d77c560d9b158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/kxmlgui-5.93.0.tar.xz">kxmlgui-5.93.0</a></td>
   <td align="right">875kB</td>
   <td><tt>50827ac1700b3d9373ffda49072908737d006215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/modemmanager-qt-5.93.0.tar.xz">modemmanager-qt-5.93.0</a></td>
   <td align="right">118kB</td>
   <td><tt>ccbe8a64f1f69d5cb2164ef6a1a651c588ba7eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/networkmanager-qt-5.93.0.tar.xz">networkmanager-qt-5.93.0</a></td>
   <td align="right">193kB</td>
   <td><tt>0e4d7f024eeed32d4b06e343ee5167f91ae9a1ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/oxygen-icons5-5.93.0.tar.xz">oxygen-icons5-5.93.0</a></td>
   <td align="right">227MB</td>
   <td><tt>b9ea3979d973672091685ee991b55f386b1aee3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/plasma-framework-5.93.0.tar.xz">plasma-framework-5.93.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b248bea36b4967982a0966b6561b3a8a424f8528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/prison-5.93.0.tar.xz">prison-5.93.0</a></td>
   <td align="right">46kB</td>
   <td><tt>8e42a6c4f904d605bad255ed8d29ed74146d7003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/purpose-5.93.0.tar.xz">purpose-5.93.0</a></td>
   <td align="right">169kB</td>
   <td><tt>8ed813aadf73fd2764083485afde91e07a00ad79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/qqc2-desktop-style-5.93.0.tar.xz">qqc2-desktop-style-5.93.0</a></td>
   <td align="right">63kB</td>
   <td><tt>15944f56185d846068b9b9a60f77377d499198bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/solid-5.93.0.tar.xz">solid-5.93.0</a></td>
   <td align="right">252kB</td>
   <td><tt>e89b2207ce3fbfe02ea468f7401a5800ba18d007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/sonnet-5.93.0.tar.xz">sonnet-5.93.0</a></td>
   <td align="right">301kB</td>
   <td><tt>d38f1d34f76926a0526209b42b780a3440765a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/syndication-5.93.0.tar.xz">syndication-5.93.0</a></td>
   <td align="right">498kB</td>
   <td><tt>9d4fba71bb1b20d1184d9c9cd35551f141006a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/syntax-highlighting-5.93.0.tar.xz">syntax-highlighting-5.93.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3c8d2745911ed42451563ba3a0fc4e0b67bf2435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.93/threadweaver-5.93.0.tar.xz">threadweaver-5.93.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>018df4c455e9a9afffa8539206d6bff19e0596e8</tt></td>
</tr>

</table>
