{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img class="d-none d-lg-block" style="width: 100%; max-width: 1500px;" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="donorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
	        <p>Nathan Westerman ⭐ Christoffer Jansson ⭐ Christian Strebel ⭐ JIMI ROSS ⭐ Jérémy Friche ⭐ Bjørnar Hausken ⭐ Justin Geigley ⭐ bill morin ⭐ Harry A ⭐ Chad McCullough ⭐ Achilleas Koutsou ⭐ Markus Meier ⭐ Nicolas Rojas ⭐ Janis Bundschu ⭐ Jan De Luyck ⭐ Szymon Łągiewka ⭐ Cass Midkiff ⭐ Mitchel Bone ⭐ Jed Baldwin ⭐ Rainier Ramos ⭐ Stephane Perrin ⭐ Leif-Jöran Olsson ⭐ Ethan Hussong ⭐ Nicholas Harper ⭐ Steffen Jasper ⭐ Mateusz Dytkowski ⭐ Thomas Ludwig ⭐ Alejandro Cholaquidis ⭐ Gernot Schiller ⭐ Richard BEOLET ⭐ Marcos Gutiérrez Alonso ⭐ Jeroen Tor ⭐ Petronio Coelho ⭐ Philipp Reichmuth ⭐ Dino Čobo ⭐ Ulrich Schreiner ⭐ Marián Polťák ⭐ Tom Schwarz ⭐ Lukas Neubert ⭐ Tim Blomme ⭐ Gerhard Dittes ⭐ Dennis Schumann ⭐ Daniel Noga ⭐ Albert Goncharov ⭐ Alexandre BROUET ⭐ Tobias Brunner ⭐ Mikko Mensonen ⭐ Denis Doria ⭐ Robert Wolniak ⭐ Michael Meister ⭐ Sander Smid-Merlijn ⭐ Wyatt Childers ⭐ Márton Lente ⭐ ali xyz ⭐ Julian Wefers ⭐ Jens Erdmann ⭐ Moritz Niesen ⭐ Lisardo Sobrino ⭐ Luciano Barea ⭐ Christopher Mandlbaur ⭐ Jacob Childersmith ⭐ Igor Stojkovic ⭐ Michael Alexsander ⭐ Jack Case ⭐ Batuhan Cinar ⭐ Grider Li ⭐ Lorenzo Bicci ⭐ Vincent Delor ⭐ Kim Hayo ⭐ Luis Garcia ⭐ Ian Boll ⭐ Alishams Hassam ⭐ Petr Kadlec ⭐ Christopher Clarke ⭐ Stewart Webb ⭐ Andrew Keenan Richardson ⭐ Conny Magnusson ⭐ Carlos Gonzalez Cortes ⭐ Angelos Skembris ⭐ Tubo Shi ⭐ Titouan Fuchs ⭐ Renārs Ceļapīters ⭐ Flori G ⭐ Solomatin Vladimir ⭐ Luis Alvarado ⭐ Emanuele Cannizzaro ⭐ Michael Niehoff ⭐ Aljosha Papsch ⭐ Tone Milazzo ⭐ Hendrik Richter ⭐ Chrismettal Binary-6 ⭐ Paul McAuley ⭐ Sebastian Paul ⭐ Costin-Tiberiu Vasilescu ⭐ Diego Saavedra Aguirre ⭐ Techin Eamrurksiri ⭐ Cristian Le ⭐ Quentin Stuchlik ⭐ Eduard Nikoleisen ⭐ Dave X ⭐ Klaus Wagner ⭐ Roberto Michán Sánchez ⭐ Jan Iversen ⭐ Michael Brunner ⭐ Manuel Bödder ⭐ Jaspal Chauhan ⭐ Loïc Bersier ⭐ Zacharie Monnet ⭐ Dmitry Misharov ⭐ Arthur Tadier ⭐ Curtis Bullock ⭐ Lukas Langrock ⭐ Samuel Jordan Kleinman ⭐ Mark Marsh ⭐ Will Styler ⭐ Lars Jose ⭐ Florian Stadler ⭐ Martin Bednar ⭐ Ami Chayun ⭐ Dennis Körner ⭐ D Ennis ⭐ Piotr Gliźniewicz ⭐ Shuyuan Liu ⭐ Andy Meier ⭐ Brian Aberts ⭐ Arthur Galiullin ⭐ Moritz Lammerich ⭐ Mukilan Thiyagarajan ⭐ Malte Jürgens ⭐ Adam Dymitruk ⭐ Mehrad Mahmoudian ⭐ Gaurav Dasharathe ⭐ Jens Churchill ⭐ Nate Coffey ⭐ Hennie Marais ⭐ Dominik Lux ⭐ Daniel Bagge ⭐ François-Xavier Thomas ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Jeroen Huijsman ⭐ Ethan Li ⭐ Nicola Jelmorini ⭐ Andrew Rosenwinkel ⭐ Bentleigh Beugelaar ⭐ Roger Granrud ⭐ Christian Moesgaard ⭐ Aman Chhabra ⭐ Mario Loik ⭐ Ryein Goddard ⭐ Christoph Singer ⭐ Brendan Foote ⭐ Nicola Mingotti ⭐ Shawn Dunn ⭐ Long Vu ⭐ Raphael Pretot ⭐ Lizoblyud Lika ⭐ Antoni Aloy Torrens ⭐ Timo Büttner ⭐ José Guardado ⭐ Artur Pieniążek ⭐ David Gow ⭐ Thibaud Franchetti ⭐ Jakub Judas ⭐ Jonatan Rosenius ⭐ Mark Hiles ⭐ Alicja Michalska ⭐ Benjamin Tzschoppe ⭐ Stanislas Leduc ⭐ Julio Moya ⭐ Adrian Friedli ⭐ Dmytro Nezhevenko ⭐ Jacob Perron ⭐ James Fryman ⭐ Srikar Gottipati ⭐ Andrew Munkres ⭐ Akseli Lahtinen ⭐ Cory Adkins ⭐ Aaron Bockelie ⭐ Tony James ⭐ Ismar Kunic ⭐ Batuhan Taskaya ⭐ Jacopo Schiavon ⭐ Sebastian Goth ⭐ Samega 7Cattac ⭐ Travis Suel ⭐ Gregor Burgeff ⭐ Störm Poorun ⭐ Teague Millette ⭐ Francesco Sardara ⭐ Nikolai Eugen Sandvik ⭐ Pascal Mages ⭐ Lukas Skala ⭐ Galin Yordanov ⭐ Rebecca Müller ⭐ Mikołaj Świątek ⭐ Byron Fröhlich ⭐ José Couto ⭐ Christoph Hümbert ⭐ Odin Vex ⭐ Petr Tesarik ⭐ Burgess Chang ⭐ Cody Harrison ⭐ Brandon Clark ⭐ Tomás Duarte ⭐ Arian Wichmann ⭐ David Walluscheck ⭐ Miku Hatsune ⭐ Jordi Ferrando ⭐ Marco Götze ⭐ Rob Hyndman ⭐ Andrea Panontin ⭐ Étienne Pain ⭐ Łukasz Plich ⭐ Zane Godden ⭐ Anthony Beninati ⭐ Michael Stemle ⭐ Björn Aili ⭐ Shayne Johnson ⭐ Yishu Wang ⭐ Linghai Yan ⭐ Jennifer Radtke ⭐ Jonas Büttner ⭐ Eddie Carswell ⭐ Thomas Eckart ⭐ Mateusz Brdoń ⭐ Felix Knecht ⭐ Moritz Schulte ⭐ Johannes Wolf ⭐ Alonso Mendoza ⭐ Eve Carletti ⭐ Ralf Hein ⭐ Dominik Viskovic ⭐ Julian Borrero ⭐ Anael González Paz ⭐ Dmitry Sobolev ⭐ Dylan Taylor ⭐ Alexey Toklovich ⭐ Mike Dawson ⭐ Semen Sobolev ⭐ Yoann LE TOUCHE ⭐ Sébastien Monassa ⭐ Sarat Chandra ⭐ Jeremy Linton ⭐ Julian Raschke ⭐ Paul Fleischer ⭐ Dima T ⭐ Rodney Lorimor ⭐ Frank Mankel ⭐ Leander Nachreiner ⭐ Kai-Uwe Uhlitzsch ⭐ Yu Te Wang ⭐ Max Schwarz ⭐ Melissa Autumn ⭐ Matthias Born ⭐ Guillaume GAY ⭐ Ole Solbakken ⭐ Trey Boyer ⭐ Lenno Nagel ⭐ Yann Nux ⭐ Maarten Bijster ⭐ Jeremy Winter ⭐ Henri Michael ⭐ Marco Nelles ⭐ Stefan Hellwig ⭐ Warren Krettek ⭐ Michel Filipe ⭐ Jarsto van Santen ⭐ Lee Courington ⭐ Alistair Bain ⭐ Michael Lelli ⭐ Marco Julian Solanki ⭐ TIMOPHEY TSITAVETS ⭐ Daan Boerlage ⭐ Simon Österle ⭐ Gleb Sinyavskiy ⭐ Witold Sosnowski ⭐ Monica Ayhens-Madon ⭐ Adam Szopa ⭐ Mustafa Muhammad ⭐ Luke Renaud ⭐ Nils Martens ⭐ Simon Berz ⭐ May Doušak ⭐ Jimmy Lindsey ⭐ Julius Binder ⭐ Christian Gmeiner ⭐ Fco Javier Bolívar ⭐ Martin Beck ⭐ Marcin Mikołajczak ⭐ Nathan Wolf ⭐ Vojtech Kuchar ⭐ Joan Aluja Oraá ⭐ Federico Dossena ⭐ Nostre NZ ⭐ Antti Luoma ⭐ Alessio Adamo ⭐ Alexander Verweinen ⭐ Nathan Pennington ⭐ Helge Bahmann ⭐ Max Buchholz ⭐ Ryan Chambers ⭐ Guruprasad L ⭐ Pjol . ⭐ Aroun Clément Baudouin-van Os ⭐ Brandon Jones ⭐ Malin Stanescu ⭐ Blair Thiessen ⭐ Nicola Feltrin ⭐ Paxriel Pax ⭐ Andreas Heinkelein ⭐ Markus Ebner ⭐ Jim Crawford ⭐ Edoardo Regni ⭐ Tasuku Suzuki ⭐ Valentin Petzel ⭐ Artem Puzikov ⭐ Carl Schwan ⭐ Matthew Orr ⭐ Max R ⭐ Wolfgang Kerschbaumer ⭐ Dennis Zellner ⭐ Michael Bolleininger ⭐ Joshua Phelps ⭐ Alexey Andreyev ⭐ Dean Bradley ⭐ Jonas Gamao ⭐ Elijah Helms ⭐ Jason Logue ⭐ Jason Seville ⭐ Norbert Spina ⭐ Andreas Paul ⭐ Sam Smucny ⭐ Jarkko Torvinen ⭐ Mark Woltman ⭐ Zhangzhi Hu ⭐ Matheus Ferreira Messias Guedes ⭐ Michael Winters ⭐ Rahul Ramesh ⭐ Baptiste Rajaut ⭐ Stephen Crocker ⭐ Romain Fleurette ⭐ Daniel Olson ⭐ Mikle Kerim ⭐ Paulo Dias ⭐ Davor Grubisa ⭐ Ryan McCullough ⭐ Alejandro Muñoz Fernández ⭐ harry loh ⭐ Jeff Cain ⭐ Tristan Remy ⭐ Nina Wanca ⭐ Reid Wiggins ⭐ Dyllan Kobal ⭐ Will Butler ⭐ Keelan Jones ⭐ Bailey Hollis ⭐ Sebastian Turzanski ⭐ Lukas Kucerik ⭐ Jens Reimann ⭐ Dirk Holsopple ⭐ Arne Keller ⭐ Wesley Schroth ⭐ Valerio Pilo ⭐ Dirk Ziegelmeier ⭐ Daniel Hurtado ⭐ Chris Niewiarowski ⭐ Coty Ternes ⭐ Fred Dickens ⭐ Simon Hötten ⭐ Cornelius Kluge ⭐ Zoran Dimovski ⭐ Bart Otten ⭐ Łukasz Konieczny ⭐ Joshua Mohr ⭐ Stefan Neacsu ⭐ Aleksei Liudskoi ⭐ Milas Bowman ⭐ Steven Barrett ⭐ Gabriel Morell ⭐ Lennart Kroll ⭐ Jure Repinc ⭐ Nicolai Manique ⭐ Régis GUYOMARCH ⭐ Thomas ROBIN ⭐ Bernie Innocenti ⭐ Samuel Allen ⭐ Samir Nassar ⭐ Jim Helm ⭐ Luis Büchi ⭐ Kiril Vladimirov ⭐ Ivan Sabourin ⭐ Andre Ramnitz ⭐ Skye Van Valkenburgh ⭐ Huw McNamara ⭐ Sergi Navas ⭐ Àlex Magaz Graça ⭐ David Germain ⭐ Ján Trenčanský ⭐ Justus Tartz ⭐ ILIOPOULOS IOANNIS ⭐ Willow Aran ⭐ Peter Permenter ⭐ OC Blanco ⭐ Patrick Nagel ⭐ Michel van Son ⭐ Diego Miguel Lozano ⭐ Neal Gompa ⭐ Denis Jovic ⭐ Iain Cuthbertson ⭐ Kevin McCarthy ⭐ Lukas Hannawald ⭐ Lauren Howe ⭐ Gerardus Franciscus Maria van Iersel ⭐ Isaac Patton ⭐ Vincent Wilms ⭐ Peter Simonsson ⭐ Brian Marsh ⭐ Linus Karl ⭐ Bernhard Breinbauer ⭐ Ivan Nack ⭐ Harald Gall ⭐ Jonas Hucklenbroich ⭐ Lucas Ji ⭐ Martin Supan ⭐ Emil Larsson ⭐ your mom ⭐ ADAM K BIERMAN ⭐ Benjamin Xiao ⭐ Nathaniel Housman ⭐ Rocky Cardwell ⭐ Muthanna K. ⭐ Sandy F ⭐ Sebastian Fohler ⭐ Alexander Ypema ⭐ Kevin Messer ⭐ Antonio Teixeira ⭐ Florentin Rack ⭐ Tamas Kornman ⭐ Rob Hasselbaum ⭐ Achim Bohnet ⭐ Paul Merryfellow ⭐ Petri Koskimaa ⭐ Paul Porubsky ⭐ John Kizer ⭐ Ondřej Vodáček ⭐ Peter Nunn ⭐ Chris Davis ⭐ Dan Heneise ⭐ Marko Hehl ⭐ Nikita Malgin ⭐ Archie Lamb ⭐ William Z ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Klemen Košir ⭐ Simon Finlay ⭐ Nick Severino ⭐ Marijo Mustač ⭐ Mihail Morosan ⭐ Marcus Harrison ⭐ Stefan Zurucker-Burda ⭐ Sahan Fernando ⭐ Benjamin Terrier ⭐ Herbert Feiler ⭐ Marcel Siggelsten ⭐ Thomas Karpiniec ⭐ Henning Sextro ⭐ edwin vervliet ⭐ Andrija Jovanovic ⭐ Christian Hartmann ⭐ R.A. Bijl ⭐ Aurélien COUDERC ⭐ Asim Shrestha ⭐ Florian RICHER ⭐ Evan Chang ⭐ Shingo Ishida ⭐ Rhys Jones ⭐ Christoph Vollmer ⭐ William Wojciechowski ⭐ Vladimir Baskakov ⭐ Logan Rogers-Follis ⭐ Cameron Bosch ⭐ Riho Kalbus ⭐ Robin Slot ⭐ David Roth ⭐ Tommy Beauclair-Mariotti ⭐ Peter König ⭐ Philipp Slusallek ⭐ Gerbrand van Dieyen ⭐ André Barata ⭐ Milton Hagler ⭐ Alexander Reimelt ⭐ Radek Nováček ⭐ Sacha Schutz ⭐ Alexander Gurenko ⭐ Teodor Calin Sirbu ⭐ E. Mau. ⭐ Brett Hagen ⭐ Dougie Beney ⭐ Bob Richter ⭐ Jaroslav Reznik ⭐ Severin Hamader ⭐ Joey Eamigh ⭐ Owen Sessiecq ⭐ Michal Hlaváč ⭐ Marcel Pierre Simon ⭐ Matthew Cazaly ⭐ Mohammad Rawashdeh ⭐ David Chocholatý ⭐ Christian Hofstede-Kuhn ⭐ Joost Cassee ⭐ Dennis Malmin ⭐ Paul Birkholtz ⭐ Matija Šuklje ⭐ Matt Milliman ⭐ Kormos Krisztián ⭐ Sergei Golimbievsky ⭐ Jay Tuckey ⭐ Jonas Mutke ⭐ Xuetian Weng ⭐ Florian Edelmann ⭐ Sebastian Krönert ⭐ Patrick Gianelli ⭐ Eric NGUYEN ⭐ Ivo Marciniak ⭐ Paul Elliott ⭐ scaine uk ⭐ Niklas Kämper ⭐ Andrey Melentyev ⭐ Bryan Zaffino ⭐ Johann Jacobsohn ⭐ Boji Tony ⭐ Bel Lord-Williams ⭐ Lasse Danegod ⭐ Sebastian Löw ⭐ Pascal Schmidt ⭐ Matthew Brunelle ⭐ Angus Kelsey ⭐ Przemysław Romanik ⭐ Marius Hergel ⭐ George Pchelkin ⭐ Brian Lemons ⭐ Zach B ⭐ Lino Moser ⭐ Kieren Roberts ⭐ Laust Lund Kristensen ⭐ Regina Abendroth ⭐ Robert Riemann ⭐ Benny Fields ⭐ Robert Levine ⭐ Douglas Shaw ⭐ Björn Bauer ⭐ Berker Şal ⭐ Fabian Niepelt ⭐ Jakob Rath ⭐ Andrea Scartazza ⭐ Dave Lewis ⭐ Daniel Lloyd-Miller ⭐ Pablo Caballero ⭐ Florian Dazinger ⭐ Tapio Metsälä ⭐ Linda Polman ⭐ Patrick David ⭐ Paul Worrall ⭐ Victor Castillo ⭐ Oliver Rasche ⭐ Frédéric LAURENT ⭐ Kristian Kriehl ⭐ Michael Schaffner ⭐ Robert McCarter ⭐ Timothy Carr ⭐ Florian Dittmer ⭐ Moritz Füssel ⭐ David Martinez ⭐ Jacob Ludvigsen
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
