<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/amor-14.11.95.tar.xz">amor-14.11.95</a></td>
   <td align="right">171kB</td>
   <td><tt>c86a9ddd2c015ef08c3a5b0bdb1dab0078247a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/analitza-14.11.95.tar.xz">analitza-14.11.95</a></td>
   <td align="right">222kB</td>
   <td><tt>a78425c540ff6e2da2d066abee3beb16a2be8535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ark-14.11.95.tar.xz">ark-14.11.95</a></td>
   <td align="right">232kB</td>
   <td><tt>8259cc86e833c265cb4d41952a884f7bf981a0ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/artikulate-14.11.95.tar.xz">artikulate-14.11.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>6659f0046c719372493e7266a396f122b91040d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/audiocd-kio-14.11.95.tar.xz">audiocd-kio-14.11.95</a></td>
   <td align="right">50kB</td>
   <td><tt>b0bd5756eaf48e6c37c3c2adcb231e046fcc883a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/blinken-14.11.95.tar.xz">blinken-14.11.95</a></td>
   <td align="right">552kB</td>
   <td><tt>3ba0cdcf234287028674a45de43509c625ca96df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/bomber-14.11.95.tar.xz">bomber-14.11.95</a></td>
   <td align="right">381kB</td>
   <td><tt>23e0ce613ba3860c4ea6e1291dcb7ca9c9e49218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/bovo-14.11.95.tar.xz">bovo-14.11.95</a></td>
   <td align="right">101kB</td>
   <td><tt>a69318b9af05addf2096db038af680581075ca4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/cantor-14.11.95.tar.xz">cantor-14.11.95</a></td>
   <td align="right">335kB</td>
   <td><tt>5ba18b3fd76552cfa596ced2d8ce060aa34129de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/cervisia-14.11.95.tar.xz">cervisia-14.11.95</a></td>
   <td align="right">364kB</td>
   <td><tt>40d8cf6a9c7f65251ec789c5426af1d997f40f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/dolphin-plugins-14.11.95.tar.xz">dolphin-plugins-14.11.95</a></td>
   <td align="right">57kB</td>
   <td><tt>98e8bbcd5c161d6a761e985416f107c16fa3c3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/dragon-14.11.95.tar.xz">dragon-14.11.95</a></td>
   <td align="right">388kB</td>
   <td><tt>cf0bded925effa5d9f5a2dab5906407b886e59ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ffmpegthumbs-14.11.95.tar.xz">ffmpegthumbs-14.11.95</a></td>
   <td align="right">19kB</td>
   <td><tt>44f55d034856991e4b344632fe381af89a0def3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/filelight-14.11.95.tar.xz">filelight-14.11.95</a></td>
   <td align="right">280kB</td>
   <td><tt>a38fcbee7bc3ad7ca420dfbb05c1521ee97b4989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/granatier-14.11.95.tar.xz">granatier-14.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>92faace8823ef06abd644ea724e89739dfecd782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/gwenview-14.11.95.tar.xz">gwenview-14.11.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>790e664cb086e76c10c3e51d961364cc4ceafa60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/jovie-14.11.95.tar.xz">jovie-14.11.95</a></td>
   <td align="right">370kB</td>
   <td><tt>d5ee255fe1c8b2c6a720361827a8d34f09d55c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/juk-14.11.95.tar.xz">juk-14.11.95</a></td>
   <td align="right">431kB</td>
   <td><tt>3e651805445ffb2d1f30d23207991a1082070f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kaccessible-14.11.95.tar.xz">kaccessible-14.11.95</a></td>
   <td align="right">20kB</td>
   <td><tt>800e19796ba969e359accd587b58f255cf275ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kajongg-14.11.95.tar.xz">kajongg-14.11.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c160d970f7aef95c69219610616595a5e6b62310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kalgebra-14.11.95.tar.xz">kalgebra-14.11.95</a></td>
   <td align="right">263kB</td>
   <td><tt>ee6369ff4ffc80801ed088b86a47fe002c19d37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kalzium-14.11.95.tar.xz">kalzium-14.11.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>652d48bc79214ec64b8a2e4ea8865e80d721028d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kamera-14.11.95.tar.xz">kamera-14.11.95</a></td>
   <td align="right">34kB</td>
   <td><tt>5388a084b08e23d61433574522b293791cedcb91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kanagram-14.11.95.tar.xz">kanagram-14.11.95</a></td>
   <td align="right">4.5MB</td>
   <td><tt>a20db233a797390eb06bb52d4c6bd97785a7c191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kapman-14.11.95.tar.xz">kapman-14.11.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>871be48b2d51dd511f5547e5fb93b02817cff963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kapptemplate-14.11.95.tar.xz">kapptemplate-14.11.95</a></td>
   <td align="right">719kB</td>
   <td><tt>9750595e33a30349cf499d79860a6a05e7ef0ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kate-14.11.95.tar.xz">kate-14.11.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c441326fbed2a4f84d58cb9cb3b372164c105420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/katomic-14.11.95.tar.xz">katomic-14.11.95</a></td>
   <td align="right">643kB</td>
   <td><tt>fc37b6abf22299a2a27701261df57b7b2df3967c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kblackbox-14.11.95.tar.xz">kblackbox-14.11.95</a></td>
   <td align="right">251kB</td>
   <td><tt>55930096aabd948db0688648d9d0d0e28f720804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kblocks-14.11.95.tar.xz">kblocks-14.11.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>977e333d10aa2e2e29ed08c89e4bd514fff25ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kbounce-14.11.95.tar.xz">kbounce-14.11.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>16cf3a84a250e218753665f36284a7785206f8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kbreakout-14.11.95.tar.xz">kbreakout-14.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>71cea5755f98515f5ee676acf4f4f38df3612318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kbruch-14.11.95.tar.xz">kbruch-14.11.95</a></td>
   <td align="right">882kB</td>
   <td><tt>e889b4f94c2a4c3786562ae739f619fcad501433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kcachegrind-14.11.95.tar.xz">kcachegrind-14.11.95</a></td>
   <td align="right">230kB</td>
   <td><tt>7c1bfebdaf3aa4158373981d6132a04acf845121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kcalc-14.11.95.tar.xz">kcalc-14.11.95</a></td>
   <td align="right">80kB</td>
   <td><tt>13bf0f3f74c550f1b88811b848ed49f49162d42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kcharselect-14.11.95.tar.xz">kcharselect-14.11.95</a></td>
   <td align="right">82kB</td>
   <td><tt>6009d3480eadc36f8ac50c209d7dd3e2f529d5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kcolorchooser-14.11.95.tar.xz">kcolorchooser-14.11.95</a></td>
   <td align="right">4kB</td>
   <td><tt>a7045f0f9f3afb6bf0cc7e668de26eb13e04b785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kcron-14.11.95.tar.xz">kcron-14.11.95</a></td>
   <td align="right">170kB</td>
   <td><tt>34e950bea2a0e8e69a3ac20e47be1399c9d7aa6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdeartwork-14.11.95.tar.xz">kdeartwork-14.11.95</a></td>
   <td align="right">134MB</td>
   <td><tt>f33e2417cdd957f2b0c91a55a35ff06c288b7927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-baseapps-14.11.95.tar.xz">kde-baseapps-14.11.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bd0c51d24a4075d551531d87d530a397affac2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-base-artwork-14.11.95.tar.xz">kde-base-artwork-14.11.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a66e6e661f2cbb7b58bd54edc5fc151bf35a8aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-dev-scripts-14.11.95.tar.xz">kde-dev-scripts-14.11.95</a></td>
   <td align="right">295kB</td>
   <td><tt>20c6daee7acdba8b4439d31678a217d75d4f89cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-dev-utils-14.11.95.tar.xz">kde-dev-utils-14.11.95</a></td>
   <td align="right">50kB</td>
   <td><tt>948ad6cca92ab0d58c6e85815418d26de9c7fef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdeedu-data-14.11.95.tar.xz">kdeedu-data-14.11.95</a></td>
   <td align="right">87kB</td>
   <td><tt>403aa0ebf02f015b3dc10452de89202335ad6d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdegraphics-mobipocket-14.11.95.tar.xz">kdegraphics-mobipocket-14.11.95</a></td>
   <td align="right">14kB</td>
   <td><tt>59b11290571f44c8269577a85b57ac0bffcba4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdegraphics-strigi-analyzer-14.11.95.tar.xz">kdegraphics-strigi-analyzer-14.11.95</a></td>
   <td align="right">39kB</td>
   <td><tt>df7ebd090e915f9c5ee8309ddff236a6b2eb122e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdegraphics-thumbnailers-14.11.95.tar.xz">kdegraphics-thumbnailers-14.11.95</a></td>
   <td align="right">40kB</td>
   <td><tt>d62fa76880c4a8cef1c47bb82731c44acddcc0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdenetwork-filesharing-14.11.95.tar.xz">kdenetwork-filesharing-14.11.95</a></td>
   <td align="right">26kB</td>
   <td><tt>0981c29b21fe6b338bb3097a32f0367e94b9849d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdenetwork-strigi-analyzers-14.11.95.tar.xz">kdenetwork-strigi-analyzers-14.11.95</a></td>
   <td align="right">14kB</td>
   <td><tt>fe5363418166036697b194c41d1b5c3cda956cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-runtime-14.11.95.tar.xz">kde-runtime-14.11.95</a></td>
   <td align="right">7.5MB</td>
   <td><tt>5354b6074d1927e84d59f30951eec6705f94f907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdesdk-kioslaves-14.11.95.tar.xz">kdesdk-kioslaves-14.11.95</a></td>
   <td align="right">353kB</td>
   <td><tt>71a01c9882959298a313efa17639ae4063c89e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdesdk-strigi-analyzers-14.11.95.tar.xz">kdesdk-strigi-analyzers-14.11.95</a></td>
   <td align="right">17kB</td>
   <td><tt>599e68c63c77347f6841e3407edfd88b6f40a3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdesdk-thumbnailers-14.11.95.tar.xz">kdesdk-thumbnailers-14.11.95</a></td>
   <td align="right">11kB</td>
   <td><tt>4ddaa264644d5ebd95e281211e14b99f14b78870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-wallpapers-14.11.95.tar.xz">kde-wallpapers-14.11.95</a></td>
   <td align="right">86MB</td>
   <td><tt>22fbefc151a73370c066a38f364411fdd20b4fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdewebdev-14.11.95.tar.xz">kdewebdev-14.11.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>acdcc865e85856da2f46925fb23d91ce996b2db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdf-14.11.95.tar.xz">kdf-14.11.95</a></td>
   <td align="right">145kB</td>
   <td><tt>aa1406326cf521b4b9c095385bb87577fe240865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kdiamond-14.11.95.tar.xz">kdiamond-14.11.95</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1396f6904ad8860dc8f204446fb7e54cad98e8f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kfloppy-14.11.95.tar.xz">kfloppy-14.11.95</a></td>
   <td align="right">52kB</td>
   <td><tt>eb70649791f2668b48e841b964dc7c03734f545e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kfourinline-14.11.95.tar.xz">kfourinline-14.11.95</a></td>
   <td align="right">276kB</td>
   <td><tt>1b0b728bfe59d5f78bebe68def4a13e2dbe4ee3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kgamma-14.11.95.tar.xz">kgamma-14.11.95</a></td>
   <td align="right">22kB</td>
   <td><tt>1a3d70e0cea45be503cd486d397a8abd0d110b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kgeography-14.11.95.tar.xz">kgeography-14.11.95</a></td>
   <td align="right">6.4MB</td>
   <td><tt>3b4ddc333e72f25c7b47ccd29ecdb6affe341976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kget-14.11.95.tar.xz">kget-14.11.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ad3d19bc3779af3537e5213eb11bc0b4e2b1179d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kgoldrunner-14.11.95.tar.xz">kgoldrunner-14.11.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d28c08a8aafaf247e7b9091781c3b00fe454cc3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kgpg-14.11.95.tar.xz">kgpg-14.11.95</a></td>
   <td align="right">789kB</td>
   <td><tt>41e238ea2cbd70e816e1e862a1a2b6c364c3970b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/khangman-14.11.95.tar.xz">khangman-14.11.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>805b82357fc4db9fe3c8cd204a56d0772a1ba021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kig-14.11.95.tar.xz">kig-14.11.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a066d958b5b1042978968d293bc6c9ea315d069a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kigo-14.11.95.tar.xz">kigo-14.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f8beb3ca1e283b54cbe089f3a7c8ed6953e45b5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/killbots-14.11.95.tar.xz">killbots-14.11.95</a></td>
   <td align="right">940kB</td>
   <td><tt>b017b0a6085f027de4ddc599dcc3d136288934e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kiriki-14.11.95.tar.xz">kiriki-14.11.95</a></td>
   <td align="right">114kB</td>
   <td><tt>77284f446588bb0a573d16394aef57fe540af08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kiten-14.11.95.tar.xz">kiten-14.11.95</a></td>
   <td align="right">11MB</td>
   <td><tt>e632121515bc9ec29c6e7c55d40cb4439a1f9e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kjumpingcube-14.11.95.tar.xz">kjumpingcube-14.11.95</a></td>
   <td align="right">161kB</td>
   <td><tt>919e94957b07d61e2d91526ea37bdefb2da9027a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/klettres-14.11.95.tar.xz">klettres-14.11.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9cb7c73d48b3afd0c8ee86a8eebd930098e3fe99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/klickety-14.11.95.tar.xz">klickety-14.11.95</a></td>
   <td align="right">765kB</td>
   <td><tt>6d55303f697f5a6d63f6a10a246a36aafc7a1d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/klines-14.11.95.tar.xz">klines-14.11.95</a></td>
   <td align="right">926kB</td>
   <td><tt>a2cddfbe77084d4dd72f1fd5c0bf3b59f14c1b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmag-14.11.95.tar.xz">kmag-14.11.95</a></td>
   <td align="right">84kB</td>
   <td><tt>a340040d0f8b6832c7066bb774d56175f7b1cdee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmahjongg-14.11.95.tar.xz">kmahjongg-14.11.95</a></td>
   <td align="right">984kB</td>
   <td><tt>545a0c2bc81f3bcd9b8512d2513c25132cf9b034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmines-14.11.95.tar.xz">kmines-14.11.95</a></td>
   <td align="right">613kB</td>
   <td><tt>55d5352912146733b7f5d2fbefdd1465c17d4578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmix-14.11.95.tar.xz">kmix-14.11.95</a></td>
   <td align="right">377kB</td>
   <td><tt>6d8af52bee23d0341c86f96fb2ce273c8eb49544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmousetool-14.11.95.tar.xz">kmousetool-14.11.95</a></td>
   <td align="right">35kB</td>
   <td><tt>193c1218dbec747ee265e3189b15205c23503f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmouth-14.11.95.tar.xz">kmouth-14.11.95</a></td>
   <td align="right">301kB</td>
   <td><tt>165b46436dfc39b0369efc5e9e55ea43c116fc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kmplot-14.11.95.tar.xz">kmplot-14.11.95</a></td>
   <td align="right">644kB</td>
   <td><tt>5563ba424965a76ad725f3bde045449f7438053d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/knavalbattle-14.11.95.tar.xz">knavalbattle-14.11.95</a></td>
   <td align="right">834kB</td>
   <td><tt>20a836766d60bdc5fddf67007d1a6b24c8b4fd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/knetwalk-14.11.95.tar.xz">knetwalk-14.11.95</a></td>
   <td align="right">763kB</td>
   <td><tt>42efb1988c76398f32a7428b35cf9b6e46c7d805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kolf-14.11.95.tar.xz">kolf-14.11.95</a></td>
   <td align="right">750kB</td>
   <td><tt>48a63423d11d7d6420f152c35f83ce53f8879700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kollision-14.11.95.tar.xz">kollision-14.11.95</a></td>
   <td align="right">202kB</td>
   <td><tt>a83731630814296da157eaa2624e351c22483e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kolourpaint-14.11.95.tar.xz">kolourpaint-14.11.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5a89b306195c8e2e9a943c9d85b8ee935b85f036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kompare-14.11.95.tar.xz">kompare-14.11.95</a></td>
   <td align="right">336kB</td>
   <td><tt>b12aa0172b070ecc2a6baf880ca1530b4b28a72e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/konquest-14.11.95.tar.xz">konquest-14.11.95</a></td>
   <td align="right">396kB</td>
   <td><tt>e9324de10b580892107f1501035dc945b393830a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/konsole-14.11.95.tar.xz">konsole-14.11.95</a></td>
   <td align="right">449kB</td>
   <td><tt>5542839d267b1a083cd8d3de8320c1f882cd0ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kopete-14.11.95.tar.xz">kopete-14.11.95</a></td>
   <td align="right">6.0MB</td>
   <td><tt>45493f8d7d96d42d737fdcc41538b549733d15be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kpat-14.11.95.tar.xz">kpat-14.11.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>57f50a4723bfa862e38367cc1afd1cd33e9e650c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kppp-14.11.95.tar.xz">kppp-14.11.95</a></td>
   <td align="right">683kB</td>
   <td><tt>46659e3037a62c30fc951e6d4771bc8fe1afc8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kqtquickcharts-14.11.95.tar.xz">kqtquickcharts-14.11.95</a></td>
   <td align="right">20kB</td>
   <td><tt>df218ca2874b0eb00071ab95cf3c8652e8a94bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/krdc-14.11.95.tar.xz">krdc-14.11.95</a></td>
   <td align="right">389kB</td>
   <td><tt>1f3b9ab5570163b122ae27172841f2e41d0b70b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kremotecontrol-14.11.95.tar.xz">kremotecontrol-14.11.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>de595659927f52e4ede15953d9cf920db36ef54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kreversi-14.11.95.tar.xz">kreversi-14.11.95</a></td>
   <td align="right">464kB</td>
   <td><tt>c9e75487b768885b4430b11b8b0fe1a5caaf785a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/krfb-14.11.95.tar.xz">krfb-14.11.95</a></td>
   <td align="right">319kB</td>
   <td><tt>4f402f0da5ed13544a697e4e7ffedc9803ed8fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kruler-14.11.95.tar.xz">kruler-14.11.95</a></td>
   <td align="right">125kB</td>
   <td><tt>16d20cdc71cfe4356b39e3e3c69e4dc50a2e8487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksaneplugin-14.11.95.tar.xz">ksaneplugin-14.11.95</a></td>
   <td align="right">12kB</td>
   <td><tt>97f01edea7cb9489968286adc66d8d62f997a9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kscd-14.11.95.tar.xz">kscd-14.11.95</a></td>
   <td align="right">90kB</td>
   <td><tt>d06161ca87de52d074fd4ce2a619afb702023c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kshisen-14.11.95.tar.xz">kshisen-14.11.95</a></td>
   <td align="right">133kB</td>
   <td><tt>a6d50eec4aee2e573fe423002d7102e0ef85d866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksirk-14.11.95.tar.xz">ksirk-14.11.95</a></td>
   <td align="right">4.7MB</td>
   <td><tt>bb1d22ff7da593923a1950012629e90aa3d41a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksnakeduel-14.11.95.tar.xz">ksnakeduel-14.11.95</a></td>
   <td align="right">312kB</td>
   <td><tt>858a1088e1d5fce6087ba26aa8ee4b4e64c852f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksnapshot-14.11.95.tar.xz">ksnapshot-14.11.95</a></td>
   <td align="right">252kB</td>
   <td><tt>db70c1ae8e7c53b289efbd21b913070e5cb095ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kspaceduel-14.11.95.tar.xz">kspaceduel-14.11.95</a></td>
   <td align="right">247kB</td>
   <td><tt>63f04240c6c9a7ee2807da07c3dcbf5e63033c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksquares-14.11.95.tar.xz">ksquares-14.11.95</a></td>
   <td align="right">78kB</td>
   <td><tt>36b9bb5fbc17d505b82ed9d863639e5918f95900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kstars-14.11.95.tar.xz">kstars-14.11.95</a></td>
   <td align="right">11MB</td>
   <td><tt>2887bca20a4d5174c17b292a7e984a0e533f7113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksudoku-14.11.95.tar.xz">ksudoku-14.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e2600b35201851ac197d17a9cca5735c38237ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ksystemlog-14.11.95.tar.xz">ksystemlog-14.11.95</a></td>
   <td align="right">372kB</td>
   <td><tt>5176970e2994b9551fd366e968d2dc541a38c9e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kteatime-14.11.95.tar.xz">kteatime-14.11.95</a></td>
   <td align="right">98kB</td>
   <td><tt>e0732dea495a81d9c07e1a114aecb90d5be26851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ktimer-14.11.95.tar.xz">ktimer-14.11.95</a></td>
   <td align="right">143kB</td>
   <td><tt>f2d407a061a49f93b19b256088c8db8e2120d742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ktouch-14.11.95.tar.xz">ktouch-14.11.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>195481721e4f15f0b816dab0efa93b073d9e4fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ktuberling-14.11.95.tar.xz">ktuberling-14.11.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>0b335bd2aef044818aa5434fcbf9a07df2a6b71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kturtle-14.11.95.tar.xz">kturtle-14.11.95</a></td>
   <td align="right">188kB</td>
   <td><tt>9fcc8ae0097c8ac6effc9b32345633f77ba651db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/ktux-14.11.95.tar.xz">ktux-14.11.95</a></td>
   <td align="right">105kB</td>
   <td><tt>489f2166008e820bae195e3e9d10ba8984695ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kubrick-14.11.95.tar.xz">kubrick-14.11.95</a></td>
   <td align="right">104kB</td>
   <td><tt>d3371c9e0d9b79d82eb2439cbf8f8f4e2771b330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kuser-14.11.95.tar.xz">kuser-14.11.95</a></td>
   <td align="right">132kB</td>
   <td><tt>513aad20108e13b93e7fe57be7ce4eb5f400494b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kwalletmanager-14.11.95.tar.xz">kwalletmanager-14.11.95</a></td>
   <td align="right">445kB</td>
   <td><tt>f67e28b80147b837cf945e8d6665da522baf65b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kwordquiz-14.11.95.tar.xz">kwordquiz-14.11.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1150979ff9e11bf60e47b9731c43b15071d59f21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkcddb-14.11.95.tar.xz">libkcddb-14.11.95</a></td>
   <td align="right">154kB</td>
   <td><tt>8c3b4df7370ef98d67c9b11121baa85bb2b0d4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkcompactdisc-14.11.95.tar.xz">libkcompactdisc-14.11.95</a></td>
   <td align="right">74kB</td>
   <td><tt>179dd1096bb56ad2701f9cbd50b0ac67b43a8640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkdcraw-14.11.95.tar.xz">libkdcraw-14.11.95</a></td>
   <td align="right">100kB</td>
   <td><tt>16411e6139dcd1f82ee1df3a9d45d596f932704e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkdeedu-14.11.95.tar.xz">libkdeedu-14.11.95</a></td>
   <td align="right">127kB</td>
   <td><tt>360190c4f8212848738dd5f510e0d4a7a7aa2fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkdegames-14.11.95.tar.xz">libkdegames-14.11.95</a></td>
   <td align="right">5.5MB</td>
   <td><tt>fb710a2e1c5fc18e3ae166dff0cfee8370571e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkeduvocdocument-14.11.95.tar.xz">libkeduvocdocument-14.11.95</a></td>
   <td align="right">96kB</td>
   <td><tt>807ff4ce78ec4fdd4a98648fbe9ba9cbfdfdeada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkexiv2-14.11.95.tar.xz">libkexiv2-14.11.95</a></td>
   <td align="right">134kB</td>
   <td><tt>fd2b02da14b82b3d1641881bc178a3b7b5e5ff11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkface-14.11.95.tar.xz">libkface-14.11.95</a></td>
   <td align="right">8.5MB</td>
   <td><tt>c218bf7588227510573371812f3984ca6c9e7a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkipi-14.11.95.tar.xz">libkipi-14.11.95</a></td>
   <td align="right">93kB</td>
   <td><tt>5f103f4814485df875aba0ca6ea367c87fbf6e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkmahjongg-14.11.95.tar.xz">libkmahjongg-14.11.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d3dac61c27b714c0de84688b5d370c01b5d25332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libkomparediff2-14.11.95.tar.xz">libkomparediff2-14.11.95</a></td>
   <td align="right">55kB</td>
   <td><tt>f691187cbcecd17f4aefaef4fd572dd871296477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/libksane-14.11.95.tar.xz">libksane-14.11.95</a></td>
   <td align="right">79kB</td>
   <td><tt>6e4816a588d0343bc6131298257b41158dcb4b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/lokalize-14.11.95.tar.xz">lokalize-14.11.95</a></td>
   <td align="right">826kB</td>
   <td><tt>7c8a6cf954dc290c1535ec2b4001ec9409d2674f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/lskat-14.11.95.tar.xz">lskat-14.11.95</a></td>
   <td align="right">907kB</td>
   <td><tt>e2d776a7208b605d0b1055cf26f273c6b23c7bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/marble-14.11.95.tar.xz">marble-14.11.95</a></td>
   <td align="right">18MB</td>
   <td><tt>734f8d784ccdf4ff0bd9459b82dd04f0db7b66d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/mplayerthumbs-14.11.95.tar.xz">mplayerthumbs-14.11.95</a></td>
   <td align="right">26kB</td>
   <td><tt>5b8bc2c21b33f9b90c206b3f9abc43332566bd6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/okteta-14.11.95.tar.xz">okteta-14.11.95</a></td>
   <td align="right">490kB</td>
   <td><tt>cfdf4927ecbd6f0b7bd0527baaa70173727276bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/okular-14.11.95.tar.xz">okular-14.11.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d30ebda70e164f09ea4d2b62681b9df86cc3f02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/oxygen-icons-14.11.95.tar.xz">oxygen-icons-14.11.95</a></td>
   <td align="right">219MB</td>
   <td><tt>6c1de15698685bdd4ace6b4a6f0caa3584d03040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/pairs-14.11.95.tar.xz">pairs-14.11.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>78035459720f1490d1881a97bc314e5d63499922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/palapeli-14.11.95.tar.xz">palapeli-14.11.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>670baf61decbfbc95fe0378c6eb923cef9dca81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/parley-14.11.95.tar.xz">parley-14.11.95</a></td>
   <td align="right">4.5MB</td>
   <td><tt>1af6d7d41d0f45f93635e4f608f02efd0debd52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/picmi-14.11.95.tar.xz">picmi-14.11.95</a></td>
   <td align="right">714kB</td>
   <td><tt>31820bbf7680ee1b16d5d3bcdeccd06f41b7ce65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/poxml-14.11.95.tar.xz">poxml-14.11.95</a></td>
   <td align="right">30kB</td>
   <td><tt>c8de8f4877ea41d9cc21d1bdc1cdf8493dbc965d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/print-manager-14.11.95.tar.xz">print-manager-14.11.95</a></td>
   <td align="right">90kB</td>
   <td><tt>91ed35e1fd084a3b48d270824664a66946af0914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/rocs-14.11.95.tar.xz">rocs-14.11.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>de80312cb6022f064e8275cf44e59878c2f22431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/step-14.11.95.tar.xz">step-14.11.95</a></td>
   <td align="right">369kB</td>
   <td><tt>6d857ab2d8929e1e2d2fdf347d7636bca8c3ae69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/superkaramba-14.11.95.tar.xz">superkaramba-14.11.95</a></td>
   <td align="right">372kB</td>
   <td><tt>084e592449838fa0791b30b69d09c4cb422c2729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/svgpart-14.11.95.tar.xz">svgpart-14.11.95</a></td>
   <td align="right">8kB</td>
   <td><tt>492a405fcbc42eecc4245480883e915f0a8f2c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/sweeper-14.11.95.tar.xz">sweeper-14.11.95</a></td>
   <td align="right">80kB</td>
   <td><tt>e93b5e79d40403c3f8196da7d0975f006df6d069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/umbrello-14.11.95.tar.xz">umbrello-14.11.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>02c2212cde7afb5fee37dd34ba542c87a062d9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/zeroconf-ioslave-14.11.95.tar.xz">zeroconf-ioslave-14.11.95</a></td>
   <td align="right">25kB</td>
   <td><tt>af20b9a4132db34f27bf567ecc182883cfa01416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ar-14.11.95.tar.xz">kde-l10n-ar-14.11.95</a></td>
   <td align="right">3.1MB</td>
   <td><tt>08a26466e3497b9f3c1b8131c28e34af74b89b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-bg-14.11.95.tar.xz">kde-l10n-bg-14.11.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4809615d3edb36b0e55423b8842090fd290ab82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-bs-14.11.95.tar.xz">kde-l10n-bs-14.11.95</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0fc67741e850db47c824b292a8fdb63f96663cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ca-14.11.95.tar.xz">kde-l10n-ca-14.11.95</a></td>
   <td align="right">11MB</td>
   <td><tt>686ee783aacaafb48a878efaf0ae814c07ca3843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ca@valencia-14.11.95.tar.xz">kde-l10n-ca@valencia-14.11.95</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cdb37fa9aea2467b506a85c6a37363195f8c899e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-cs-14.11.95.tar.xz">kde-l10n-cs-14.11.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8472b71fcc0760e6493824d6c3d044c5753c8bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-da-14.11.95.tar.xz">kde-l10n-da-14.11.95</a></td>
   <td align="right">12MB</td>
   <td><tt>6938f5848339237b2686ee7cf40bbdd165a2a4b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-de-14.11.95.tar.xz">kde-l10n-de-14.11.95</a></td>
   <td align="right">34MB</td>
   <td><tt>4a07cee17c0128e66e25885d3bb97b694c89a2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-el-14.11.95.tar.xz">kde-l10n-el-14.11.95</a></td>
   <td align="right">4.6MB</td>
   <td><tt>91f709957e7be3b0e885c8125118adf9b71216aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-en_GB-14.11.95.tar.xz">kde-l10n-en_GB-14.11.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ce86b05e67c2ca3810411226dc95bd7abe132da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-es-14.11.95.tar.xz">kde-l10n-es-14.11.95</a></td>
   <td align="right">20MB</td>
   <td><tt>fde117b683f32642ed58aa540472046c29418663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-et-14.11.95.tar.xz">kde-l10n-et-14.11.95</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d701f012441c846cf450f827898dc180c6c94130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-eu-14.11.95.tar.xz">kde-l10n-eu-14.11.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cde5252e33fba1044f19bb59154e5c021bcd373f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-fa-14.11.95.tar.xz">kde-l10n-fa-14.11.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c5f539ff578579f3b1d16f316c02d451beff71ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-fi-14.11.95.tar.xz">kde-l10n-fi-14.11.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1ebe02e697b39bb49d0035f2001345086554fd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-fr-14.11.95.tar.xz">kde-l10n-fr-14.11.95</a></td>
   <td align="right">44MB</td>
   <td><tt>67bd1defe8a67d74a7c77595c831c630617a7765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ga-14.11.95.tar.xz">kde-l10n-ga-14.11.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>25f39411bbd7217aef4de399d6eafcb03ef0c3cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-gl-14.11.95.tar.xz">kde-l10n-gl-14.11.95</a></td>
   <td align="right">3.4MB</td>
   <td><tt>79eb6cfb68ad772b21e122aeb7b6afbbde40c350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-he-14.11.95.tar.xz">kde-l10n-he-14.11.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b07c9d5a215821cafd200b0044d9c3484c907cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-hi-14.11.95.tar.xz">kde-l10n-hi-14.11.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>446212d42cfa7ee72691dde77ad315dbdaeb3928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-hr-14.11.95.tar.xz">kde-l10n-hr-14.11.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4513d845899d20b487c8d4c5cabf6d9ea5658250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-hu-14.11.95.tar.xz">kde-l10n-hu-14.11.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>f508e15501db8f4905cc965d679a1648c4646fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ia-14.11.95.tar.xz">kde-l10n-ia-14.11.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a4f7c415fe3ee8d8b1b2f64cbc2813f96061f5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-id-14.11.95.tar.xz">kde-l10n-id-14.11.95</a></td>
   <td align="right">518kB</td>
   <td><tt>d481d93ca7687cff654e9e6d4b449ac72b8c817a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-is-14.11.95.tar.xz">kde-l10n-is-14.11.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d9b18ee62fc9c1031b7487e6570ebdf53ae586f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-it-14.11.95.tar.xz">kde-l10n-it-14.11.95</a></td>
   <td align="right">8.4MB</td>
   <td><tt>c6ee9b631dc0eda53e0b65bb3581a7eda5e5d27a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ja-14.11.95.tar.xz">kde-l10n-ja-14.11.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0d32b323e09adcd89fdd19eeabf8436a92bc445a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-kk-14.11.95.tar.xz">kde-l10n-kk-14.11.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>ca32387669ad735090c63959fbe933637e8ab650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-km-14.11.95.tar.xz">kde-l10n-km-14.11.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>05d9d07c86a0a2e0e32c6a45165d60736e4800df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ko-14.11.95.tar.xz">kde-l10n-ko-14.11.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>afea14471b391ad48df858ad0e5938c53290bb56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-lt-14.11.95.tar.xz">kde-l10n-lt-14.11.95</a></td>
   <td align="right">12MB</td>
   <td><tt>08971891234b4bc53396340e6d93ed871fcf0f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-lv-14.11.95.tar.xz">kde-l10n-lv-14.11.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>36628ce1b08717ff28fed472cbb47b5c391b6192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-mr-14.11.95.tar.xz">kde-l10n-mr-14.11.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c82b902b52be2d9f667456496fe36380e3ab6d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-nb-14.11.95.tar.xz">kde-l10n-nb-14.11.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e7b54a1bbe768ac4cbaac99d4a6159620bf870d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-nds-14.11.95.tar.xz">kde-l10n-nds-14.11.95</a></td>
   <td align="right">3.1MB</td>
   <td><tt>fa29b9839300adb38a69ccf38f57fd2769695581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-nl-14.11.95.tar.xz">kde-l10n-nl-14.11.95</a></td>
   <td align="right">13MB</td>
   <td><tt>54338746fd6390b9b30ec9b4e36ff6667243fa01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-nn-14.11.95.tar.xz">kde-l10n-nn-14.11.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c99951c26a96786130605098d13ef8e1cae0c47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-pa-14.11.95.tar.xz">kde-l10n-pa-14.11.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ee884efaad0f91969723eda302afee73bc8b66b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-pl-14.11.95.tar.xz">kde-l10n-pl-14.11.95</a></td>
   <td align="right">18MB</td>
   <td><tt>6bc1d293613c47ed1d5e0500c77e79c778918b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-pt-14.11.95.tar.xz">kde-l10n-pt-14.11.95</a></td>
   <td align="right">3.5MB</td>
   <td><tt>a7318e1f6e1a40c60a8dfda03f77cc5a7d7f7d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-pt_BR-14.11.95.tar.xz">kde-l10n-pt_BR-14.11.95</a></td>
   <td align="right">23MB</td>
   <td><tt>71fc2d21167dda6812fe9ede594feeb6630fc258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ro-14.11.95.tar.xz">kde-l10n-ro-14.11.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d485601cbcdf4184cc3ea068c02e83d54916c646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ru-14.11.95.tar.xz">kde-l10n-ru-14.11.95</a></td>
   <td align="right">22MB</td>
   <td><tt>55f9d44dc3d8ac3009aab86c9370d6c0a6b3462e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-sk-14.11.95.tar.xz">kde-l10n-sk-14.11.95</a></td>
   <td align="right">4.3MB</td>
   <td><tt>de4b70fe3cb6021a3fbf46c0fc151c2b61558e3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-sl-14.11.95.tar.xz">kde-l10n-sl-14.11.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9cde1cc499c376b6de0a660a92436b5067e8e5c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-sr-14.11.95.tar.xz">kde-l10n-sr-14.11.95</a></td>
   <td align="right">5.8MB</td>
   <td><tt>3e178ef79010428af00a202cebaf658a6bd7363e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-sv-14.11.95.tar.xz">kde-l10n-sv-14.11.95</a></td>
   <td align="right">13MB</td>
   <td><tt>0e86e32cfbcc50a6e032b726da57cb2b370a8927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-tr-14.11.95.tar.xz">kde-l10n-tr-14.11.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8f9cf41c3d3385b1c70350c657f67608f2772d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-ug-14.11.95.tar.xz">kde-l10n-ug-14.11.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4c0c4f22fc59985c9b49ad838109f48c74e765c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-uk-14.11.95.tar.xz">kde-l10n-uk-14.11.95</a></td>
   <td align="right">25MB</td>
   <td><tt>1237bb11341fc69420baa7023304896f46d9f9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-wa-14.11.95.tar.xz">kde-l10n-wa-14.11.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7626889f8221e600c9017dfb7c79108cf2fd132f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-zh_CN-14.11.95.tar.xz">kde-l10n-zh_CN-14.11.95</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d4052972347a3f62b06896874b99d5911ce400bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.95/src/kde-l10n/kde-l10n-zh_TW-14.11.95.tar.xz">kde-l10n-zh_TW-14.11.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>63367d08ee71d9f9438961d7807bcad62bfb707f</tt></td>
</tr>

</table>
