<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/amor-14.11.80.tar.xz">amor-14.11.80</a></td>
   <td align="right">171kB</td>
   <td><tt>0d2067c454bbf495099580c9cb53a02d0c904012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/analitza-14.11.80.tar.xz">analitza-14.11.80</a></td>
   <td align="right">222kB</td>
   <td><tt>ddb0703aa2a30883d7c57f3c9c7f209f03b3d4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ark-14.11.80.tar.xz">ark-14.11.80</a></td>
   <td align="right">232kB</td>
   <td><tt>f2954cea3e8ae76562760b262b119d17f6a6b6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/artikulate-14.11.80.tar.xz">artikulate-14.11.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>25117fe2441d384dd41f18edc060343462b9a936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/audiocd-kio-14.11.80.tar.xz">audiocd-kio-14.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>d6f217bb6c5f260209518bd7f2fe386fdad992cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/blinken-14.11.80.tar.xz">blinken-14.11.80</a></td>
   <td align="right">552kB</td>
   <td><tt>45297a1605d2ec356ea71d7a0bbfb2346302cbab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/bomber-14.11.80.tar.xz">bomber-14.11.80</a></td>
   <td align="right">381kB</td>
   <td><tt>5d7d405f5889d3c0cc0e5104e5fd3b843b244aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/bovo-14.11.80.tar.xz">bovo-14.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>d6ac49d2e02a9917df52434636b3487d80188d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/cantor-14.11.80.tar.xz">cantor-14.11.80</a></td>
   <td align="right">335kB</td>
   <td><tt>5f85fadcfbf94b9b05c524036e69b2f61ad62682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/cervisia-14.11.80.tar.xz">cervisia-14.11.80</a></td>
   <td align="right">363kB</td>
   <td><tt>a115975b135114a5c3dd1508755a04c001f4ab8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/dolphin-plugins-14.11.80.tar.xz">dolphin-plugins-14.11.80</a></td>
   <td align="right">57kB</td>
   <td><tt>1c721b940572ee83b099f13f7c8147d4aefd21c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/dragon-14.11.80.tar.xz">dragon-14.11.80</a></td>
   <td align="right">388kB</td>
   <td><tt>cfa29655cca2a79d5129b5d9d272c70a81455dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ffmpegthumbs-14.11.80.tar.xz">ffmpegthumbs-14.11.80</a></td>
   <td align="right">19kB</td>
   <td><tt>ea5024c08aa87612ccae2eeae14bb53a7aada8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/filelight-14.11.80.tar.xz">filelight-14.11.80</a></td>
   <td align="right">280kB</td>
   <td><tt>5c692d54d9168fa4ef1eb1aa41eff9c3c4b113c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/granatier-14.11.80.tar.xz">granatier-14.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>08e264f343214776b9d0f97277398a53fb520c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/gwenview-14.11.80.tar.xz">gwenview-14.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ad78ff07d443e2de721b8d26068d3e2de1e260c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/jovie-14.11.80.tar.xz">jovie-14.11.80</a></td>
   <td align="right">370kB</td>
   <td><tt>ee5beed4ca1b298e901d79a75820bd85fe83d345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/juk-14.11.80.tar.xz">juk-14.11.80</a></td>
   <td align="right">431kB</td>
   <td><tt>7b68aa5565d115584ba17fa5aeeb6931887f4d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kaccessible-14.11.80.tar.xz">kaccessible-14.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>876eb0f8409c077870707935ad6c8354374bac8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kajongg-14.11.80.tar.xz">kajongg-14.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>24ac2c8380e6f5b300bb3fa323fa4ea3ba432643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kalgebra-14.11.80.tar.xz">kalgebra-14.11.80</a></td>
   <td align="right">263kB</td>
   <td><tt>11efe678e973dbd4b483569045002769f8d94f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kalzium-14.11.80.tar.xz">kalzium-14.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>45bf1522d7b5703f947123686be2ed58e9f7ff2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kamera-14.11.80.tar.xz">kamera-14.11.80</a></td>
   <td align="right">34kB</td>
   <td><tt>09787c14d86be1da598b27ba5b699f3cf606545d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kanagram-14.11.80.tar.xz">kanagram-14.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8e422cf009797f03f1031cd4b2f3b0bd37916323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kapman-14.11.80.tar.xz">kapman-14.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>03b321309f6e7e508b304a8216c14e38c1783ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kapptemplate-14.11.80.tar.xz">kapptemplate-14.11.80</a></td>
   <td align="right">719kB</td>
   <td><tt>b2f330680e4b08adaf2668929c3efae7ec2b461d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kate-14.11.80.tar.xz">kate-14.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>64749b42b73a8d66eecef58923b40aa981737652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/katomic-14.11.80.tar.xz">katomic-14.11.80</a></td>
   <td align="right">643kB</td>
   <td><tt>9dbf8c1b0619953799dbc77b43937a452c1134d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kblackbox-14.11.80.tar.xz">kblackbox-14.11.80</a></td>
   <td align="right">251kB</td>
   <td><tt>cfb8b87207db012b8a288ba5b1cc2a7b996f951c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kblocks-14.11.80.tar.xz">kblocks-14.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8662caa7c95ceae43ec1841c9a13789051f97273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kbounce-14.11.80.tar.xz">kbounce-14.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>726b337dbfd1049346ed846a0db4b2e9bead06e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kbreakout-14.11.80.tar.xz">kbreakout-14.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4f72f22de77f2f329a6a56d1c362f7acab3157f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kbruch-14.11.80.tar.xz">kbruch-14.11.80</a></td>
   <td align="right">882kB</td>
   <td><tt>a148cadd9222673771c71e69e340b474e63c6863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kcachegrind-14.11.80.tar.xz">kcachegrind-14.11.80</a></td>
   <td align="right">230kB</td>
   <td><tt>066a4af11f15beba07d65c0d9f8ec68c7902f415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kcalc-14.11.80.tar.xz">kcalc-14.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>a6bdb16d59721c0380c2c454a235bd01c68e80cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kcharselect-14.11.80.tar.xz">kcharselect-14.11.80</a></td>
   <td align="right">82kB</td>
   <td><tt>ea6f2c3831154003eebd9858f3fca96d02b197f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kcolorchooser-14.11.80.tar.xz">kcolorchooser-14.11.80</a></td>
   <td align="right">4kB</td>
   <td><tt>598fb94eb928ebab666d43b2259480a4d2c76431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kcron-14.11.80.tar.xz">kcron-14.11.80</a></td>
   <td align="right">170kB</td>
   <td><tt>a92e3269c583be4f91ec8a21ca44c3ee36fb7e72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdeartwork-14.11.80.tar.xz">kdeartwork-14.11.80</a></td>
   <td align="right">134MB</td>
   <td><tt>6349ca3b954648fdf7716cb19d1da84486f119be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-baseapps-14.11.80.tar.xz">kde-baseapps-14.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4b65effe89db27062eefc6dab15d1738b0e41868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-base-artwork-14.11.80.tar.xz">kde-base-artwork-14.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>501eafec5b5d798864c3807c777af3794dc0d21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-dev-scripts-14.11.80.tar.xz">kde-dev-scripts-14.11.80</a></td>
   <td align="right">295kB</td>
   <td><tt>ec98bded96dcc03a9b66dd7c70bf5120eae0b145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-dev-utils-14.11.80.tar.xz">kde-dev-utils-14.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>71b35d1e7b96e3d17a360a6509a7a4a6d24a483d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdeedu-data-14.11.80.tar.xz">kdeedu-data-14.11.80</a></td>
   <td align="right">87kB</td>
   <td><tt>8f82c76c1c6bb27225e4daa14110edc043c306d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdegraphics-mobipocket-14.11.80.tar.xz">kdegraphics-mobipocket-14.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>0ad72942c467a028474f6beff945469dfc162ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdegraphics-strigi-analyzer-14.11.80.tar.xz">kdegraphics-strigi-analyzer-14.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>d051a68c387f5c553b544a5fbde3489627719d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdegraphics-thumbnailers-14.11.80.tar.xz">kdegraphics-thumbnailers-14.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>d04e18bd74974b41cf1955a96f1e96fd99ad749e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdenetwork-filesharing-14.11.80.tar.xz">kdenetwork-filesharing-14.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>2a1147a11c159c30ac581df33bbce46bb2b4f622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdenetwork-strigi-analyzers-14.11.80.tar.xz">kdenetwork-strigi-analyzers-14.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>0c50c343ff864eb32bc6b2ec9ff73ffe8fc41de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-runtime-14.11.80.tar.xz">kde-runtime-14.11.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>725ddfe49dec6abbd70316c4f803bfac86f278b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdesdk-kioslaves-14.11.80.tar.xz">kdesdk-kioslaves-14.11.80</a></td>
   <td align="right">352kB</td>
   <td><tt>957a8c7fa88d5c09c1bfd220f6b9a353ebf79f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdesdk-strigi-analyzers-14.11.80.tar.xz">kdesdk-strigi-analyzers-14.11.80</a></td>
   <td align="right">17kB</td>
   <td><tt>851e6f4a2daee6c96ea82dd9686d5aa0ce2c8096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdesdk-thumbnailers-14.11.80.tar.xz">kdesdk-thumbnailers-14.11.80</a></td>
   <td align="right">11kB</td>
   <td><tt>cc272af697309716bf89ddb6715ae6d8419a1639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-wallpapers-14.11.80.tar.xz">kde-wallpapers-14.11.80</a></td>
   <td align="right">86MB</td>
   <td><tt>8eddc9efbf2053357e5a216265465cb00ad7a1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdewebdev-14.11.80.tar.xz">kdewebdev-14.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8e65f37c0ef51dcc895aa18c8acbe0bb297ffcfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdf-14.11.80.tar.xz">kdf-14.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>99121541f90b1940add70d6b87182a68d14cb154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kdiamond-14.11.80.tar.xz">kdiamond-14.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>13a2df12df23ec4adef2ff3d892ca4e8b82eaff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kfloppy-14.11.80.tar.xz">kfloppy-14.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>48f3dec6050638cdeb633253fd18922e8dff3bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kfourinline-14.11.80.tar.xz">kfourinline-14.11.80</a></td>
   <td align="right">276kB</td>
   <td><tt>aae1af5dc47aa2de13bc28b0af16827c53fa48cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kgamma-14.11.80.tar.xz">kgamma-14.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>ecc20ed679281328855ba7ed9a026d15ccae6cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kgeography-14.11.80.tar.xz">kgeography-14.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>315232dfad7a008b35b32600828d29ea800a93b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kget-14.11.80.tar.xz">kget-14.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bdf2d58f7e7f871c3190da87b0de0e466948eacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kgoldrunner-14.11.80.tar.xz">kgoldrunner-14.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9dd7b8e28704ac9d3607675cedf931afd626ec6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kgpg-14.11.80.tar.xz">kgpg-14.11.80</a></td>
   <td align="right">789kB</td>
   <td><tt>4ab616abd0a58775bcd257f84048121a31c43c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/khangman-14.11.80.tar.xz">khangman-14.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>248da26fddcecac7ad4c73386fd93072490580ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kig-14.11.80.tar.xz">kig-14.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5eb079ccbfc45f1c79f46d891bb245dd7f0eeb84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kigo-14.11.80.tar.xz">kigo-14.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>17b595dc2ce334b6f50ad38a744900b434e96257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/killbots-14.11.80.tar.xz">killbots-14.11.80</a></td>
   <td align="right">940kB</td>
   <td><tt>aeaa99ad51a4bf199f2b5f9dcf6662001daf3b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kiriki-14.11.80.tar.xz">kiriki-14.11.80</a></td>
   <td align="right">114kB</td>
   <td><tt>1f128d39a59dd4729fef27aa6b3e516980cc9aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kiten-14.11.80.tar.xz">kiten-14.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>9dc0db08071e9c3833b77eeea630a563c8213d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kjumpingcube-14.11.80.tar.xz">kjumpingcube-14.11.80</a></td>
   <td align="right">161kB</td>
   <td><tt>28ee6d516fa492b2d06cb1afa7a7a2968ea52c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/klettres-14.11.80.tar.xz">klettres-14.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6a82dc79f5ee0a2e29efd73fcf64f5b622ecef7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/klickety-14.11.80.tar.xz">klickety-14.11.80</a></td>
   <td align="right">765kB</td>
   <td><tt>c6525858b935d4441e326cdd74dfa93af71de7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/klines-14.11.80.tar.xz">klines-14.11.80</a></td>
   <td align="right">927kB</td>
   <td><tt>21276ac86972e2d99e64ca9a7ba53e784b596185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmag-14.11.80.tar.xz">kmag-14.11.80</a></td>
   <td align="right">84kB</td>
   <td><tt>add627896c9346b5cff566b1dd31e9068461f32a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmahjongg-14.11.80.tar.xz">kmahjongg-14.11.80</a></td>
   <td align="right">984kB</td>
   <td><tt>0c52a2758e0a84fd6663fdad26e8d1ebcc6021fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmines-14.11.80.tar.xz">kmines-14.11.80</a></td>
   <td align="right">613kB</td>
   <td><tt>3392ae15c2d235a2b25a28467b72e1a585cec2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmix-14.11.80.tar.xz">kmix-14.11.80</a></td>
   <td align="right">377kB</td>
   <td><tt>c918ce930a34cb16656691ac8b1e5a49afd81927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmousetool-14.11.80.tar.xz">kmousetool-14.11.80</a></td>
   <td align="right">34kB</td>
   <td><tt>b15215ebc1e47118719b8034f06b9d49cf41a13b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmouth-14.11.80.tar.xz">kmouth-14.11.80</a></td>
   <td align="right">301kB</td>
   <td><tt>b0f829a26ac92b06059334af23db8c4dc6501550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kmplot-14.11.80.tar.xz">kmplot-14.11.80</a></td>
   <td align="right">644kB</td>
   <td><tt>3e9ff7e8e666c756463ce81c683104cfb7180da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/knavalbattle-14.11.80.tar.xz">knavalbattle-14.11.80</a></td>
   <td align="right">834kB</td>
   <td><tt>f9e75f01278fd08064f59fdfa65c51baa090f92e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/knetwalk-14.11.80.tar.xz">knetwalk-14.11.80</a></td>
   <td align="right">763kB</td>
   <td><tt>18e8053652b75ff2ee488fc268c4baf75be135a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kolf-14.11.80.tar.xz">kolf-14.11.80</a></td>
   <td align="right">749kB</td>
   <td><tt>17ef136bbbb92b5b8afa76b07b4fe2c2cb1e9bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kollision-14.11.80.tar.xz">kollision-14.11.80</a></td>
   <td align="right">202kB</td>
   <td><tt>b91e61c4c07d3b332669f8c75dabbf4d222a0d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kolourpaint-14.11.80.tar.xz">kolourpaint-14.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fd9f4dadc4f155ee84a0535a3d77521f5de69cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kompare-14.11.80.tar.xz">kompare-14.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>d4bef4b02308cae5f9c5ae0ecb45c5c47e9496d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/konquest-14.11.80.tar.xz">konquest-14.11.80</a></td>
   <td align="right">396kB</td>
   <td><tt>bba211348a8af33e77b713458731db37ec880de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/konsole-14.11.80.tar.xz">konsole-14.11.80</a></td>
   <td align="right">449kB</td>
   <td><tt>821975365da92ce8f16657dce8a2605f8a47ce09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kopete-14.11.80.tar.xz">kopete-14.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>cc85835d7f8da3bc8dd5e64b4128111a6d2a9863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kpat-14.11.80.tar.xz">kpat-14.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b310d127ff9f3b38803dc35545684eccd70f3b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kppp-14.11.80.tar.xz">kppp-14.11.80</a></td>
   <td align="right">683kB</td>
   <td><tt>6b97271c1b977f037dae4c4e0bcfd7e9b559256d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kqtquickcharts-14.11.80.tar.xz">kqtquickcharts-14.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>ae3e4bf758a28f247d17fdcecc17b2ed4f27985e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/krdc-14.11.80.tar.xz">krdc-14.11.80</a></td>
   <td align="right">389kB</td>
   <td><tt>f869b3ada7c4ae4677cb587e4bf562b92e6b87ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kremotecontrol-14.11.80.tar.xz">kremotecontrol-14.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5a93023ebc1d7013955b31de022a6be81ed41071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kreversi-14.11.80.tar.xz">kreversi-14.11.80</a></td>
   <td align="right">464kB</td>
   <td><tt>62e1be56f2ec61e669093da848c683e5b5785e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/krfb-14.11.80.tar.xz">krfb-14.11.80</a></td>
   <td align="right">319kB</td>
   <td><tt>b95987ae47e6da78b0e460ef5090f785f55df6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kruler-14.11.80.tar.xz">kruler-14.11.80</a></td>
   <td align="right">125kB</td>
   <td><tt>a776cf76ac8e616ebe8f23ffd99df46d8367e261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksaneplugin-14.11.80.tar.xz">ksaneplugin-14.11.80</a></td>
   <td align="right">12kB</td>
   <td><tt>117168c1920b689a6f2017fa862f4f8ef0fbd5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kscd-14.11.80.tar.xz">kscd-14.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>4f98c7b7146d76a6dce074f53cf2e69574305ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kshisen-14.11.80.tar.xz">kshisen-14.11.80</a></td>
   <td align="right">133kB</td>
   <td><tt>e5d4970aa021891c0c44a6be47e6f9c42b22243b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksirk-14.11.80.tar.xz">ksirk-14.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>516750afad975b055ae4cd6e113ae64868a98728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksnakeduel-14.11.80.tar.xz">ksnakeduel-14.11.80</a></td>
   <td align="right">312kB</td>
   <td><tt>4eda7befb14fa52c0bddf78bda258f22c7fbd979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksnapshot-14.11.80.tar.xz">ksnapshot-14.11.80</a></td>
   <td align="right">252kB</td>
   <td><tt>5e5f190d61417ad06c072108399bacf2ef330cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kspaceduel-14.11.80.tar.xz">kspaceduel-14.11.80</a></td>
   <td align="right">247kB</td>
   <td><tt>207c6f9feea6416df93d8183e8b425649dfc7b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksquares-14.11.80.tar.xz">ksquares-14.11.80</a></td>
   <td align="right">78kB</td>
   <td><tt>56072c250e4c11a12aad679ad166c8eac7bda607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kstars-14.11.80.tar.xz">kstars-14.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>6f3489f9b4a24eaec7415394af7a099f6ff8362e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksudoku-14.11.80.tar.xz">ksudoku-14.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>275f820621da4726b6622abdccd0a07105c01f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ksystemlog-14.11.80.tar.xz">ksystemlog-14.11.80</a></td>
   <td align="right">372kB</td>
   <td><tt>fd037717c5d8d305a6878af65452e2aa971b0695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kteatime-14.11.80.tar.xz">kteatime-14.11.80</a></td>
   <td align="right">98kB</td>
   <td><tt>4445853a1a3ba90a112957a7a82966eebc5251d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ktimer-14.11.80.tar.xz">ktimer-14.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>68eecbd757e2f1885662d36bd53fe31d408f896c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ktouch-14.11.80.tar.xz">ktouch-14.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>79bd0b358b65ae1314a970708c416cc179ac9eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ktuberling-14.11.80.tar.xz">ktuberling-14.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6ec2b8a4bcd3355d3e067e01bfe7f09d19b5a8ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kturtle-14.11.80.tar.xz">kturtle-14.11.80</a></td>
   <td align="right">188kB</td>
   <td><tt>2a7723c522a23bc7b3158426c62dc60c08a45b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/ktux-14.11.80.tar.xz">ktux-14.11.80</a></td>
   <td align="right">105kB</td>
   <td><tt>8c0e07ce11545e9949050b1339e77ea62b66b791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kubrick-14.11.80.tar.xz">kubrick-14.11.80</a></td>
   <td align="right">104kB</td>
   <td><tt>99d543df055a6c9002523b584e2360e816948457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kuser-14.11.80.tar.xz">kuser-14.11.80</a></td>
   <td align="right">132kB</td>
   <td><tt>d1aa1bef8a7113a27588d9bc54e8ba1ae10e6029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kwalletmanager-14.11.80.tar.xz">kwalletmanager-14.11.80</a></td>
   <td align="right">446kB</td>
   <td><tt>1926db5aa50686c40e0231fad1f7255cbc4423eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kwordquiz-14.11.80.tar.xz">kwordquiz-14.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>97c38d8763bc4eb98fce9b322b756c60d34e898a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkcddb-14.11.80.tar.xz">libkcddb-14.11.80</a></td>
   <td align="right">154kB</td>
   <td><tt>28c0dca9e0eaf5d67c6c90003e1bb36ceacf800f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkcompactdisc-14.11.80.tar.xz">libkcompactdisc-14.11.80</a></td>
   <td align="right">74kB</td>
   <td><tt>bfc90867ecf87a71a6b448d8e1b0d52156fef36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkdcraw-14.11.80.tar.xz">libkdcraw-14.11.80</a></td>
   <td align="right">100kB</td>
   <td><tt>0f777910b793148ac8dec0ddcbdc9e3c2231c84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkdeedu-14.11.80.tar.xz">libkdeedu-14.11.80</a></td>
   <td align="right">202kB</td>
   <td><tt>498774e4bae1c50053f2213eb639f179d89392c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkdegames-14.11.80.tar.xz">libkdegames-14.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f789922f82bbaf427757b6580f6d5029220c477a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkeduvocdocument-14.11.80.tar.xz">libkeduvocdocument-14.11.80</a></td>
   <td align="right">96kB</td>
   <td><tt>55c0ca9fba0cb3d9a9772285af6084223e79cb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkexiv2-14.11.80.tar.xz">libkexiv2-14.11.80</a></td>
   <td align="right">134kB</td>
   <td><tt>9118fc0809d6e40f9dce49a9ccebfe22c3ccb4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkface-14.11.80.tar.xz">libkface-14.11.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>f2d60cc2df36bde3f5dfcd23039f294f7755f6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkipi-14.11.80.tar.xz">libkipi-14.11.80</a></td>
   <td align="right">93kB</td>
   <td><tt>c71d5fa8201bd87bf05f2ad570c61438d68dd9b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkmahjongg-14.11.80.tar.xz">libkmahjongg-14.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>034859201edde12ccf256da018f3e9df978fdeb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libkomparediff2-14.11.80.tar.xz">libkomparediff2-14.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>e330e741c7ab71818f7d0a55096d0b03f6b81815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/libksane-14.11.80.tar.xz">libksane-14.11.80</a></td>
   <td align="right">79kB</td>
   <td><tt>9b8a6daa5e164f9904c193b1735fb7ec4aac15a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/lokalize-14.11.80.tar.xz">lokalize-14.11.80</a></td>
   <td align="right">826kB</td>
   <td><tt>4a93954e40152a56036ff67eb2f939a6313055bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/lskat-14.11.80.tar.xz">lskat-14.11.80</a></td>
   <td align="right">907kB</td>
   <td><tt>f142e4688086b1d8c1613e8e8f2a6f06094a967b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/marble-14.11.80.tar.xz">marble-14.11.80</a></td>
   <td align="right">18MB</td>
   <td><tt>6f3d3b354d8303f7c8322f614d91cbf4e21d4285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/mplayerthumbs-14.11.80.tar.xz">mplayerthumbs-14.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>e0337770eb30a9ac65410f4956b1e59665cd64ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/okteta-14.11.80.tar.xz">okteta-14.11.80</a></td>
   <td align="right">490kB</td>
   <td><tt>4052e13751980d89308d82f202e535cfffdf9f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/okular-14.11.80.tar.xz">okular-14.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>93445c662de77ba921438a023074810d9f82300b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/oxygen-icons-14.11.80.tar.xz">oxygen-icons-14.11.80</a></td>
   <td align="right">219MB</td>
   <td><tt>c847425c6b0b5b62faa8fe937d97e566afe099b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/pairs-14.11.80.tar.xz">pairs-14.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a70145a3f01b81f79e13fa8f2b45f87a155ad082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/palapeli-14.11.80.tar.xz">palapeli-14.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ec5ae2f943eaaf219760754d7910149d25dad553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/parley-14.11.80.tar.xz">parley-14.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>a0648ef14cba59545387ff0b7a5b631f1a6fd0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/picmi-14.11.80.tar.xz">picmi-14.11.80</a></td>
   <td align="right">714kB</td>
   <td><tt>8fbbd635c6c7e6c4a9964fa378285b8dbca3d375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/poxml-14.11.80.tar.xz">poxml-14.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>336965ca06eb66ab2616ddbe54e04eb718e0ba21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/print-manager-14.11.80.tar.xz">print-manager-14.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>2c0423c7b8e9bdb898f9f6a7d69b660b0947c93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/rocs-14.11.80.tar.xz">rocs-14.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3da1fad4f0b2dbf1f97b18cd044e10fff6ca06dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/step-14.11.80.tar.xz">step-14.11.80</a></td>
   <td align="right">369kB</td>
   <td><tt>e1f8beca4f5a23d1c5414d7f875a48d172da77b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/superkaramba-14.11.80.tar.xz">superkaramba-14.11.80</a></td>
   <td align="right">372kB</td>
   <td><tt>bece58018cae26a2ed366254e3fc84ab87bec972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/svgpart-14.11.80.tar.xz">svgpart-14.11.80</a></td>
   <td align="right">8kB</td>
   <td><tt>ad68d985997077d54b0aaa989d163f7be1186c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/sweeper-14.11.80.tar.xz">sweeper-14.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>8d419cf1eb3dc4e58c696cd41e38f479240d4098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/umbrello-14.11.80.tar.xz">umbrello-14.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>662180de33ee329a005b9c892f0bcb2cd1d57c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/zeroconf-ioslave-14.11.80.tar.xz">zeroconf-ioslave-14.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>6f1e99b62f94a941ab75070cbae9de9ee8ead0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ar-14.11.80.tar.xz">kde-l10n-ar-14.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>05b1f62765e57f0b636181e54494adbb50c3674c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-bg-14.11.80.tar.xz">kde-l10n-bg-14.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>538b7267d139973dbefac827c526c53aaafd8336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-bs-14.11.80.tar.xz">kde-l10n-bs-14.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>316e80ada9a1002751c898e94b5db7855f38e0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ca-14.11.80.tar.xz">kde-l10n-ca-14.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>d8ffea62895c94e96ca58b9b3d5056f0fbbcaa4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ca@valencia-14.11.80.tar.xz">kde-l10n-ca@valencia-14.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a2f735a2d9bcfee74489bca4f7656c8a27876d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-cs-14.11.80.tar.xz">kde-l10n-cs-14.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e798597ef751d9c144f433a7a3e580b8190b087b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-da-14.11.80.tar.xz">kde-l10n-da-14.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>7a9ae67678c4ba5b1557a5aec3f3920700162ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-de-14.11.80.tar.xz">kde-l10n-de-14.11.80</a></td>
   <td align="right">34MB</td>
   <td><tt>8854efcb07ba0f7ef1429484bd29eff7bc087a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-el-14.11.80.tar.xz">kde-l10n-el-14.11.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>db2eea8c2b93027f4ec778b00e5de8c97aa817e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-en_GB-14.11.80.tar.xz">kde-l10n-en_GB-14.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2a85e3362cff0ca023754f2f8dceef43ac8f5c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-es-14.11.80.tar.xz">kde-l10n-es-14.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>9df5d39ee1681145d184c6e481a75595544e61e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-et-14.11.80.tar.xz">kde-l10n-et-14.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>f6e5fe631c0dd7b9d86db17bc345a9674a35e46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-eu-14.11.80.tar.xz">kde-l10n-eu-14.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fe8b0c4beb6fb670b4c8eb6e3b3317bc2628c0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-fa-14.11.80.tar.xz">kde-l10n-fa-14.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3e6da6b2278a413c5feeff738a0a4c511ca43260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-fi-14.11.80.tar.xz">kde-l10n-fi-14.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4086c790f2acb88b2c8f13ddb17e1d1f1c935e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-fr-14.11.80.tar.xz">kde-l10n-fr-14.11.80</a></td>
   <td align="right">44MB</td>
   <td><tt>18e7978d0e95575ac66b349663f9bbe52f35ed07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ga-14.11.80.tar.xz">kde-l10n-ga-14.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7e66ddab65d8efaedee8b7da7e0606cd5cf378ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-gl-14.11.80.tar.xz">kde-l10n-gl-14.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>98ee5fe7e3a2b8f403061d7e04e039538c14fa02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-he-14.11.80.tar.xz">kde-l10n-he-14.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e5c4a57e238aa336cddb4c45e44f46ea24ba9666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-hi-14.11.80.tar.xz">kde-l10n-hi-14.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8821b0f188234363546e53908cb81191c07df987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-hr-14.11.80.tar.xz">kde-l10n-hr-14.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4f42bff8c6896a84971f9f7e23407a33aea7b9ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-hu-14.11.80.tar.xz">kde-l10n-hu-14.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>5ac8a315f8271dacccc54ac5afda8fbd1f4af128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ia-14.11.80.tar.xz">kde-l10n-ia-14.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>23bde1135b11de8806020a4d714c9b31f09df642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-id-14.11.80.tar.xz">kde-l10n-id-14.11.80</a></td>
   <td align="right">517kB</td>
   <td><tt>cc63a9c77696cdbd76d65d03943e34214e948a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-is-14.11.80.tar.xz">kde-l10n-is-14.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>08fbcf40c9a21ea7c41beeb79a8fee274d09d501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-it-14.11.80.tar.xz">kde-l10n-it-14.11.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>f6d039fde50a83f6fc96044cda689e21ca3cc49a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ja-14.11.80.tar.xz">kde-l10n-ja-14.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>db88f7cbba11787679d946b4f1010bbe7c581c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-kk-14.11.80.tar.xz">kde-l10n-kk-14.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2b9553401f7e726e2f7eb37dc443bb41a875f6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-km-14.11.80.tar.xz">kde-l10n-km-14.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>75d7c5e0d9ea81a08f86f8518fca567c762e3efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ko-14.11.80.tar.xz">kde-l10n-ko-14.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d050267714a3127d45a607648435c996fbf4cdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-lt-14.11.80.tar.xz">kde-l10n-lt-14.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>d61cbc2a12f0dd6a11585b622112bf8780e46a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-lv-14.11.80.tar.xz">kde-l10n-lv-14.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ad4808a02f75b3981bf3a6450432c1e7d339ff8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-mr-14.11.80.tar.xz">kde-l10n-mr-14.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>729cec9b937419eb1dbf9f3d4cc9a2ed1136c67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-nb-14.11.80.tar.xz">kde-l10n-nb-14.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6f86cfd38535263e1b47f630236b48c80e160d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-nds-14.11.80.tar.xz">kde-l10n-nds-14.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a8af80be36b52aa14919286a3b7335b96549eea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-nl-14.11.80.tar.xz">kde-l10n-nl-14.11.80</a></td>
   <td align="right">13MB</td>
   <td><tt>7d0aabfd0724543d7548b599629ea6f60f6d403e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-nn-14.11.80.tar.xz">kde-l10n-nn-14.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5a9971e7602e1913dc5ccb7d33156193710d7cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-pa-14.11.80.tar.xz">kde-l10n-pa-14.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3f927a0221bd3e86ec724a27b14e14098d753149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-pl-14.11.80.tar.xz">kde-l10n-pl-14.11.80</a></td>
   <td align="right">18MB</td>
   <td><tt>37d90219cf9eae44de8b929750e0dbb777ccd819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-pt-14.11.80.tar.xz">kde-l10n-pt-14.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>ebdb5b2de0ef3bc52677d93c974b9628d40f5d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-pt_BR-14.11.80.tar.xz">kde-l10n-pt_BR-14.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>5074e8782a48b3f83932a2f96254d76d50b2c090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ro-14.11.80.tar.xz">kde-l10n-ro-14.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7981dccd5b8a910e664e6b7cd7d3c3ca82ae32ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ru-14.11.80.tar.xz">kde-l10n-ru-14.11.80</a></td>
   <td align="right">22MB</td>
   <td><tt>18a883bec067efe7c3d8a8d13f10d4555466bb0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-sk-14.11.80.tar.xz">kde-l10n-sk-14.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>1f68d8b8199b3547c4ffeb7f36d76c7f6eabcc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-sl-14.11.80.tar.xz">kde-l10n-sl-14.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5c1d246a9ea79c906bd9751f4749fcc3eccf856d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-sr-14.11.80.tar.xz">kde-l10n-sr-14.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e6dde4a4f533ffa1e920b365d6bcbed0f745e780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-sv-14.11.80.tar.xz">kde-l10n-sv-14.11.80</a></td>
   <td align="right">13MB</td>
   <td><tt>204d8f70e10c8a0b78f13704b48ed6eca8699925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-tr-14.11.80.tar.xz">kde-l10n-tr-14.11.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a6febc43cf59fc9937f55c9fb734434ec042f571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-ug-14.11.80.tar.xz">kde-l10n-ug-14.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>51a62f08b276fd4380a3a6825707a03064239703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-uk-14.11.80.tar.xz">kde-l10n-uk-14.11.80</a></td>
   <td align="right">25MB</td>
   <td><tt>45ef7f561276671a17a4cf6f796e71a5c5654151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-wa-14.11.80.tar.xz">kde-l10n-wa-14.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f4bb3ff3218b6a57d7ca1284520d6ab52a165a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-zh_CN-14.11.80.tar.xz">kde-l10n-zh_CN-14.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>cb94a242a8d4768ecb0fb3ffa055e67c7a68e8fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/14.11.80/src/kde-l10n/kde-l10n-zh_TW-14.11.80.tar.xz">kde-l10n-zh_TW-14.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7f910f5049e12b010e1d92e9e47865fc7eff7368</tt></td>
</tr>

</table>
