{{ define "head-import" }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"
/>
{{ end }}

{{ define "main" }}
<main>
  <div class="hero-header">
    <div class="hero">
      <div class="container">
        <div class="colorful-heading">
          <h1 class="display-1 mt-0">{{ .Params.title }}</h1>
          <h2 class="pb-2">{{ .Params.subtitle }}</h2>
        </div>
        <p class="h5 mx-auto text-center mw-600">{{ .Params.desc }}</p>
      </div>
      <div class="hero-background"></div>
      <div class="hero-overlay"></div>
    </div>
    <div class="intro">
      <div class="intro-content container">
        <div class="wallpaper-wrapper">
            <img class="wallpaper-img" src="{{ index .Params.images 0 }}" />
        </div>
        <div class="mx-auto text-center">
          <p class="intro-author h4 m-3 mt-5 text-center">{{ .Params.intro.author }}</p>
          <p class="intro-date h5 m-3 text-center text-muted">{{ printf .Params.intro.releasedate (partial "i18n_date.html" .) }}</p>
        </div>
      </div>
    </div>
  </div>
    <section class="plasma-section plasma-intro my-0 pb-5">
      <div class="container">
        <div class="colorful-heading">
          <h2 class="display-1 mt-0 pt-5">{{ .Params.plasma_intro.title }}</h2>
        </div>
        <div class="overview-content">
          <div class="h4 mb-5 text-center">{{ .Params.plasma_intro.description | markdownify }}</div>
        </div>

        <div class="colorful-heading">
          <h2 class="display-4 mt-0 pt-5">{{ .Params.leaps.title }}</h2>
        </div>

        <div class="overview-content">
          <p class="h4 mb-5 text-center">{{ .Params.leaps.description | markdownify }}</p>
        </div>
      </div>
    </section>

  <section class="plasma-section overview my-0 pb-5">
    <div class="container">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.overview.title }}</h2>
      </div>

      <div class="overview-content">
        <p class="h4 mb-5 text-center">{{ .Params.overview.description }}</p>
        <!--<img class="mx-auto" src="overview.png" alt="{{ .Params.overview.alt }}" />-->

        <video class="mx-auto"  autoplay="" muted="" loop=""><source src="/announcements/megarelease/6/overview.webm"></video>
      </div>
    </div>
  </section>

  <section class="plasma-section colors my-0 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="colorful-heading">
            <h2 class="display-3 mt-0">{{ .Params.colors.title | markdownify }}</h2>
          </div>
          {{ printf "%s%s" .Params.colors.description (partialCached "icons/accessibility" .) | markdownify }}
        </div>
        <div class="col-12 col-md-6 d-flex">
          <div class="colors-video">
            <video autoplay="" muted="" loop="">
<source src="/for/gamers/game-video.mp4"></video>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="plasma-section wallpaper wallpaper-dark">
    <div class="container wallpaper-content">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.wallpaper.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.wallpaper.description | markdownify }}</p>
      <img src="/announcements/megarelease/6/light.png" style="transform: translateX(-10%)">

      <img src="/announcements/megarelease/6/dark.png" style="transform: translate(10%, -20%); margin-bottom: -5%;">

      <p>{{ .Params.wallpaper.description_set | markdownify }}</p>
    </div>
  </section>

  <section class="plasma-section panel my-0 py-5">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.panel.title }}</h2>
      </div>
      <p>{{ .Params.panel.description | markdownify }}</p>
      <div><img src="/announcements/megarelease/6/panel.png" class="panel-img my-5 img-fluid" /></div>

      <div class="row pt-5">
        <div class="col-12 col-md-6 d-flex">
          <div class="mx-auto me-md-0"><img src="/announcements/megarelease/6/pannel-conf.png" class="img-fluid" /></div>
        </div>
        <div class="col-12 col-md-6">
          <p class="text-start">{{ .Params.panel.description2 | markdownify }}</p>

          <p class="text-start">{{ .Params.panel.description3 | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="plasma-section default my-0 py-5">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.default.title }}</h2>
      </div>
      <p class="text-center mx-auto">{{ .Params.default.description | markdownify }}</p>

      <div class="plasma-section-more">
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.default.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>


  <section class="plasma-section breeze my-0 py-5" id="breeze">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.breeze.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.breeze.description | markdownify }}</p>

      <ul class="nav justify-content-center nav-features" role="tablist">
        {{ $index_part := 0 }}
        {{ $part_title := "breeze" }}
        {{ $first := true }}
        {{ $index_slides := 0 }}
        {{ range .Params.breeze.apps }}
          <li class="nav-item">
            <a
              class="nav-link {{ if $first }}{{ $first = false }}active{{ end }} d-flex gap-2 align-content-baseline"
              role="tab"
              href="#a{{ $index_part }}-{{ $index_slides }}"
              data-bs-toggle="tab"
              aria-selected="true"
              aria-controls="a{{ $index_part }}-{{ $index_slides }}"
              id="a{{ $index_part }}-{{ $index_slides }}-control">
               <img src="https://apps.kde.org/app-icons/org.kde.{{ .icon }}" style="align-self: center; height: 30px; width: 30px">
               {{ .name }}
             </a
            >
          </li>
          {{ $index_slides = add $index_slides 1 }}
        {{ end }}
      </ul>

      <div class="tab-content tab-content-feature ps-4 pe-4">
        {{ $first := true }} 
        {{ $index_slides = 0 }}
        {{ range .Params.breeze.apps }}
        <div
         class="tab-pane {{ if $first }}{{ $first = false }}active {{ end }}"
         id="a{{ $index_part }}-{{ $index_slides }}"
         role="tabpanel"
         aria-labelledby="a{{ $index_part }}-{{ $index_slides }}-control">
          <div class="position-relative">
              <span class="before position-absolute" style="left: 60px">{{ i18n "img.comparaison.before" }}</span>
            <span class="after position-absolute" style="right: 60px">{{ i18n "img.comparaison.after" }}</span>
            <img-comparison-slider class="w-100" >
             <img slot="first" class="w-100" src="{{ .old }}" />
             <img slot="second" class="w-100" src="{{ .new }}" />
             <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
               <path stroke="#000" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2" stroke-width="1" fill="#000" vector-effect="non-scaling-stroke"></path>
             </svg>
            </img-comparison-slider>
          </div>
        </div>
      {{ $index_slides = add $index_slides 1 }}
      {{ end }}
      </div>
    </div>
  </section>

  <section class="plasma-section settings my-0 py-5">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.settings.title }}</h2>
      </div>
      <p>{{ .Params.settings.description | markdownify }}</p>

      <div><img src="/announcements/megarelease/6/settings.png" class="mb-5 img-fluid" /></div>
      <p>{{ .Params.settings.description2 | markdownify }}</p>
    </div>
  </section>

  <section class="plasma-section cube my-0 py-5">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.cube.title }}</h2>
      </div>
      <p>{{ .Params.cube.description | markdownify }}</p>

      <video class="mx-auto img-fluid"  autoplay="" muted="" loop=""><source src="/announcements/megarelease/6/cube.webm"></video>
      <p>{{ .Params.cube.description2 | markdownify }}</p>
    </div>
  </section>

  <section class="plasma-section krunner my-0 py-5">
    <div class="container text-center">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.krunner.title }}</h2>
      </div>
      <p>{{ .Params.krunner.description | markdownify }}</p>

      <div><img src="/announcements/megarelease/6/krunner.png" class="mb-5 img-fluid" /></div>

      <p>{{ .Params.krunner.timezone | markdownify }}</p>

      <p>{{ .Params.krunner.performance | markdownify }}</p>

      <div class="row">
        <div class="col-6 col-md-4 text-left">
          <span class="d-inline-block">
            {{ .Params.krunner.documents | safe.HTML }}
           </span>
         </div>

        <div class="col-6 col-md-4 text-left">
          <span class="d-inline-block">
            {{ .Params.krunner.apps | safe.HTML }}
           </span>
         </div>

        <div class="col-6 col-md-4 text-left">
          <span class="d-inline-block">
            {{ .Params.krunner.cpus | safe.HTML }}
          </span>
        </div>
      </div>

      <div class="plasma-section-more">
        <h2 class="h1 mb-5">{{ .Params.krunner.more }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.krunner.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="plasma-section more my-0 py-5">
    <div class="container">
      <div class="colorful-heading">
        <h2 class="display-2 mt-0">{{ .Params.plasma_more.title | markdownify }}</h2>
      </div>
      {{ range .Params.plasma_more.items }}
        <h3 class="h2">{{ .title }}</h3>
        <p class="h5 mt-0">{{ .description }}</p>
      {{ end }}
    </div>
  </section>

  <section class="plasma-section plasma-mobile my-0 py-5">
    <div class="container">
      <div class="colorful-heading">
        <h2 class="display-2 mt-0">{{ .Params.mobile.title | markdownify }}</h2>
      </div>

      <div class="d-flex flex-md-row gap-4 flex-wrap">
        <video autoplay="" muted="" loop="" class="mb-auto mx-auto">
          <source src="/announcements/megarelease/6/mobile.mp4">
        </video>
        <div class="d-flex flex-column">
          <p class="">{{ .Params.mobile.description | markdownify }}</p>
          <video class="mx-auto" autoplay="" muted="" loop="">
            <source src="/announcements/megarelease/6/mobile-start.mp4">
          </video>
        </div>
      </div>
    </div>
  </section>

  <section class="gear-section gear-intro my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-2 mt-0">{{ .Params.gearintro.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.gearintro.description | markdownify }}</p>
    </div>
  </section>

  <section class="gear-section pim my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 id="groupware" class="display-3 mt-0">{{ .Params.pim.title | markdownify }}</h2>
      </div>
      {{ .Params.pim.description_security | markdownify }}
      <img src="/announcements/megarelease/6/kleopatra.png" />

      {{ .Params.pim.description_kmail | markdownify }}
      <img src="/announcements/megarelease/6/kmail.png" />

      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.pim.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.pim.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="gear-section itinerary my-0 py-5" id="itinerary">
    <div class="container">
      <div class="colorful-heading mt-5">
        <h2 id="itinerary" class="display-3 mt-0">{{ .Params.itinerary.title | markdownify }}</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-12">{{ .Params.itinerary.description | markdownify }}</div>
        <div class="col-md-6 col-12 text-center"><img src="/announcements/megarelease/6/itinerary.png" class="" /></div>
      </div>
      <br style="clear: both;" />
    </div>
  </section>

  <section class="gear-section education my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.education.title | markdownify }}</h2>
      </div>
      <p class="text-center">{{ replaceRE "https://kde.org/kiten" "https://apps.kde.org/kiten" .Params.education.description | markdownify }}</p>
      <img src="/announcements/megarelease/6/edu.png" />
    </div>
  </section>

  <section class="gear-section kdenlive my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.kdenlive.title | markdownify }}</h2>
      </div>
      <p class="text-center">{{ .Params.kdenlive.description | markdownify }}</p>

      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.kdenlive.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.kdenlive.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
    </div>
  </section>

  <section class="gear-section dolphin my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.dolphin.title | markdownify }}</h2>
      </div>
      <p class="text-center">{{ .Params.dolphin.description | markdownify }}</p>
      <img src="/announcements/megarelease/6/dolphin.png" />
    </div>
  </section>

  <section class="gear-section spectacle my-0 py-5">
    <div class="container">
      <p><img width="100" height=100 src="https://apps.kde.org/app-icons/org.kde.spectacle.svg"></p>
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.spectacle.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.spectacle.description | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/spectacle.png"></p>

      <p>{{ .Params.spectacle.description_2 | markdownify }}</p>

      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.spectacle.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.spectacle.items }}
            <li class="px-3 py-2 d-block"><span class="h5 mt-0">{{ .name }}</span></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="gear-section neochat my-0 py-5" id="neochat">
    <div class="container">
      <p><img width="100" height=100 src="https://apps.kde.org/app-icons/org.kde.neochat.svg"></p>
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.neochat.title | markdownify }}</h2>
        <h3 class="h1 mt-0 mb-4 text-center">{{ .Params.neochat.subtitle | markdownify }}</h3>
      </div>

      <p>{{ .Params.neochat.description_welcome | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/neochat-welcome.png"></p>

      <p>{{ .Params.neochat.description_space | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/neochat-space.png"></p>

      <p>{{ .Params.neochat.description | markdownify }}</p>

      <div class="gear-section-more">
        <h3 class="h1 text-center mt-0">{{ .Params.neochat.more | markdownify }}</h3>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.neochat.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="gear-section plasmatube my-0 py-5" id="plasmatube">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="colorful-heading text-center">
            <h2 class="display-3 mt-0">{{ .Params.plasmatube.title | markdownify }}</h2>
          </div>
          <div class="plasmatube-content">{{ .Params.plasmatube.description | markdownify }}</div>
        </div>
        <div class="col-6 d-none d-lg-block" style="margin-top: 100px;">
          <img src="/announcements/megarelease/6/plasmatube-pip-2.png" alt="Screenshot of Plasmatube Picture in Picture mode" class="rounded" />
        </div>
      </div>

      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.plasmatube.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.plasmatube.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="gear-section tokodon my-0 py-5" id="tokodon">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.tokodon.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.tokodon.description | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/tokodon-post.png"></p>

      <p>{{ .Params.tokodon.description_control | markdownify }}</p>

      <p>{{ .Params.tokodon.description_login | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/tokodon-signing.png" /></p>

      <p>{{ .Params.tokodon.description_profile | markdownify }}</p>

      <p><img src="/announcements/megarelease/6/tokodon-profile.png"></p>

      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.tokodon.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.tokodon.items }}
            <li class="px-3 py-2 d-block"><a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>


  <section class="gear-section kate my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h1 class="display-2">{{ .Params.kate.developers | markdownify }}</h1>
        <h2 class="display-3 mt-0">{{ .Params.kate.title | markdownify }}</h2>
      </div>
      <p class="text-center">{{ .Params.kate.description | markdownify }}</p>
      <img src="/announcements/megarelease/6/kate-new.png" class="img-fluid" />
      <div class="gear-section-more">
        <h2 class="h1 text-center mt-0">{{ .Params.kate.more | markdownify }}</h2>
        <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap text-center">
          {{ range .Params.kate.items }}
            <li class="px-3 py-2 d-block">
              {{ if .accessibility }}
                {{ partialCached "icons/accessibility" . }}
              {{ end  }}
              <a class="h5 mt-0" href="{{ .url }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  <section class="gear-section konsole my-0 py-5">
    <div class="container">
      <div class="colorful-heading text-center">
        <h2 class="display-3 mt-0">{{ .Params.konsole.title | markdownify }}</h2>
      </div>
      <p>{{ .Params.konsole.description | markdownify }}</p>
      <img src="/announcements/megarelease/6/konsole.png" class="img-fluid" />
    </div>
  </section>

  <section class="gear-section gear-more my-0 py-5">
    <div class="container">
      <div class="colorful-heading">
        <h2 class="display-3 mt-0">{{ .Params.other.title | markdownify }}</h2>
      </div>
      {{ range .Params.other.apps }}
        <h3 class="h2">{{ .name }}</h3>
        <p class="mt-0">{{ .description | markdownify }}</p>
      {{ end }}
    </div>
  </section>

  <section class="gear-section community-donation my-0 py-5">
    <div class="container">
      <h2 class="display-3 mt-0">{{ .Params.community.title | markdownify }}</h2>
      <div class="row">
        <div class="col-12 col-md-8">
          {{ .Params.community.description | markdownify }}
          <img src="/content/people/akademy2022-groupphoto.jpg" class="img-fluid rounded" />
        </div>

        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="col-12 col-md-4">
          <div class="donorbox">
            <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
            <div class="p-4">{{ .Params.community.more | markdownify }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ .Content }}

  {{ partial "announcements/plasma_footer.html" . }}
<script
  defer
  src="/announcements/megarelease/6/index.js"></script>
</main>
{{ end }}
